Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
    go-vet:
      glob: "*.go"
      run: go vet ./...
    biome:
      glob: "web/**/*.{js,ts,jsx,tsx}"
      run: cd web && npx @biomejs/biome check --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: go test ./...
    lint:
      run: cd web && npx @biomejs/biome check .

Add proper SSH host key verification for SFTP backend (#206)
  internal/backup/backends/sftp.go
  internal/backup/backends/sftp_test.go
  web/src/lib/types.ts
Due: go-fmt, go-vet, biome

Add integration tests for internal/db using testcontainers
  Makefile
  internal/db/store_integration_test.go
Due: go-fmt, go-vet

Add integration tests for internal/db using testcontainers (#207)
  Makefile
  internal/db/store_integration_test.go
Due: go-fmt, go-vet

Upgrade go-m1cpu to v0.1.7 to fix linker warnings
  go.mod
  go.sum
Due: none

Upgrade go-m1cpu to v0.1.7 to fix linker warnings (#208)
  go.mod
  go.sum
Due: none

Remove unsafe-inline CSP exception for Swagger UI in production
  internal/api/middleware/security_headers.go
  internal/api/middleware/security_headers_test.go
  internal/api/routes.go
Due: go-fmt, go-vet

Remove unsafe-inline CSP exception for Swagger UI in production (#209)
  internal/api/middleware/security_headers.go
  internal/api/middleware/security_headers_test.go
  internal/api/routes.go
Due: go-fmt, go-vet

Make session lifetime configurable with secure production defaults
  .env.example
  docs/production-security.md
  internal/api/middleware/auth.go
  internal/auth/session.go
  internal/auth/session_test.go
  internal/config/server.go
  internal/config/server_test.go
Due: go-fmt, go-vet

Make session lifetime configurable with secure production defaults (#210)
  .env.example
  docs/production-security.md
  internal/api/middleware/auth.go
  internal/auth/session.go
  internal/auth/session_test.go
  internal/config/server.go
  internal/config/server_test.go
Due: go-fmt, go-vet

Remove unused MetricsDailySummary struct
  internal/models/metrics.go
Due: go-fmt, go-vet

Fix data race in notification service tests
  internal/notifications/service_test.go
Due: go-fmt, go-vet

Remove unused MetricsDailySummary struct (#211)
  internal/models/metrics.go
  internal/notifications/service_test.go
Due: go-fmt, go-vet

Implement MetricsDailySummary for dashboard performance
  internal/api/handlers/dashboard_metrics.go
  internal/api/handlers/dashboard_metrics_test.go
  internal/db/migrations/030_extend_daily_summary.sql
  internal/db/store.go
  internal/db/store_integration_test.go
  internal/metrics/aggregator.go
  internal/metrics/aggregator_test.go
  internal/metrics/scheduler.go
  internal/models/metrics.go
Due: go-fmt, go-vet

Implement MetricsDailySummary for dashboard performance (#212)
  internal/api/handlers/dashboard_metrics.go
  internal/api/handlers/dashboard_metrics_test.go
  internal/db/migrations/030_extend_daily_summary.sql
  internal/db/store.go
  internal/db/store_integration_test.go
  internal/metrics/aggregator.go
  internal/metrics/aggregator_test.go
  internal/metrics/scheduler.go
  internal/models/metrics.go
Due: go-fmt, go-vet

Add comprehensive tests for auth handler
  internal/api/handlers/auth_test.go
Due: go-fmt, go-vet

Add comprehensive tests for auth handler (#213)
  internal/api/handlers/auth_test.go
Due: go-fmt, go-vet

Update Alpine base images from 3.19 to 3.21
  docker/Dockerfile.agent
  docker/Dockerfile.server
Due: none

Parameterize LIMIT values in search queries
  internal/db/store.go
Due: go-fmt, go-vet

Parameterize LIMIT values in search queries (#214)
  internal/db/store.go
Due: go-fmt, go-vet

Update Alpine base image to latest stable 3.21
  docker/Dockerfile.agent
  docker/Dockerfile.server
Due: none

Update Alpine base image to latest stable 3.21 (#215)
  docker/Dockerfile.agent
  docker/Dockerfile.server
Due: none
