Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

go-fmt:
  run: gofmt -w {staged_files}
  stage_fixed: true

go-vet:
  run: go vet ./...

biome:
  run: cd web && npx @biomejs/biome check --write {staged_files}
  stage_fixed: true

Implement comprehensive agent details page with stats and actions (#29)
  internal/api/handlers/agents.go
  internal/db/store.go
  internal/models/agent.go
  web/dist/assets/index-D6kcw5Ql.css
  web/dist/assets/index-DXIqWDFD.js
  web/src/App.tsx
  web/src/hooks/useAgents.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/AgentDetails.tsx
  web/src/pages/Agents.tsx
Due: go-fmt, go-vet, biome

Implement comprehensive agent health monitoring system (#30)
  go.mod
  go.sum
  internal/api/handlers/agent_api.go
  internal/api/handlers/agents.go
  internal/db/migrations/016_agent_health.sql
  internal/db/store.go
  internal/health/checker.go
  internal/health/collector.go
  internal/models/agent.go
  internal/models/alert.go
  web/src/hooks/useAgents.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/lib/utils.ts
  web/src/pages/AgentDetails.tsx
  web/src/pages/Agents.tsx
  web/src/pages/Dashboard.tsx
Due: go-fmt, go-vet, biome

Fix Biome linter errors
  web/src/lib/api.ts
  web/src/lib/utils.ts
  web/src/pages/AgentDetails.tsx
  web/src/pages/Dashboard.tsx
Due: biome

Implement weekly/monthly email reports for backup summaries
  internal/api/handlers/reports.go
  internal/api/routes.go
  internal/db/migrations/012_add_reports.sql
  internal/db/store.go
  internal/models/report.go
  internal/notifications/email.go
  internal/notifications/templates/report_summary.html
  internal/reports/generator.go
  internal/reports/scheduler.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useReports.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Reports.tsx
Due: go-fmt, go-vet, biome

Fix CI linting issues in reports feature
  go.mod
  internal/reports/scheduler.go
  web/src/lib/api.ts
  web/src/pages/Reports.tsx
Due: go-fmt, go-vet, biome

Rename reports migration to version 017 to avoid conflict
  internal/db/migrations/017_add_reports.sql
Due: none

Implement weekly/monthly email reports for backup summaries (#31)
  go.mod
  internal/api/handlers/reports.go
  internal/api/routes.go
  internal/db/migrations/017_add_reports.sql
  internal/db/store.go
  internal/models/report.go
  internal/notifications/email.go
  internal/notifications/templates/report_summary.html
  internal/reports/generator.go
  internal/reports/scheduler.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useReports.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Reports.tsx
Due: go-fmt, go-vet, biome

Implement backup policy templates for consistent settings
  internal/api/handlers/policies.go
  internal/api/routes.go
  internal/db/migrations/012_add_backup_policies.sql
  internal/db/store.go
  internal/models/policy.go
  internal/models/schedule.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/usePolicies.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Policies.tsx
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Fix CI failures: migration numbering and frontend linting
  internal/db/migrations/018_add_backup_policies.sql
  web/src/lib/api.ts
  web/src/pages/Policies.tsx
Due: biome

Implement backup policy templates (#32)
  internal/api/handlers/policies.go
  internal/api/routes.go
  internal/db/migrations/018_add_backup_policies.sql
  internal/db/store.go
  internal/models/policy.go
  internal/models/schedule.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/usePolicies.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Policies.tsx
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Implement agent grouping functionality with full CRUD operations
  internal/api/handlers/agent_groups.go
  internal/api/routes.go
  internal/db/migrations/012_agent_groups.sql
  internal/db/store.go
  internal/models/agent_group.go
  internal/models/schedule.go
  web/dist/assets/index-BO5Zlxjy.js
  web/dist/assets/index-Dry_z2Tv.css
  web/dist/assets/index-EYwX1-DP.css
  web/dist/assets/index-OGC6JM8h.js
  web/dist/index.html
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useAgentGroups.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/AgentGroups.tsx
  web/src/pages/Agents.tsx
  web/tsconfig.tsbuildinfo
Due: go-fmt, go-vet, biome

Fix CI failures: rename migration and fix Biome linting
  internal/db/migrations/019_agent_groups.sql
  web/src/lib/api.ts
  web/src/pages/AgentGroups.tsx
  web/src/pages/Agents.tsx
Due: biome

Implement agent grouping functionality with full CRUD operations (#33)
  internal/api/handlers/agent_groups.go
  internal/api/routes.go
  internal/db/migrations/019_agent_groups.sql
  internal/db/store.go
  internal/models/agent_group.go
  internal/models/schedule.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useAgentGroups.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/AgentGroups.tsx
  web/src/pages/Agents.tsx
Due: go-fmt, go-vet, biome

Add configurable compression levels for backup schedules
  internal/api/handlers/schedules.go
  internal/backup/restic.go
  internal/backup/scheduler.go
  internal/db/migrations/012_add_compression_level.sql
  internal/db/store.go
  internal/models/schedule.go
  web/dist/assets/index-BJgKmG17.css
  web/dist/assets/index-BO5Zlxjy.js
  web/dist/assets/index-DTU89Y_C.js
  web/dist/assets/index-EYwX1-DP.css
  web/dist/index.html
  web/src/lib/types.ts
  web/src/pages/Schedules.tsx
  web/tsconfig.tsbuildinfo
Due: go-fmt, go-vet, biome

Remove old migration file (renamed to 020)
  internal/db/migrations/012_add_compression_level.sql
Due: none

Fix biome formatting for import statement
  web/src/pages/Schedules.tsx
Due: biome

Add configurable compression levels for backup schedules (#34)
  internal/api/handlers/schedules.go
  internal/backup/restic.go
  internal/backup/scheduler.go
  internal/db/migrations/020_add_compression_level.sql
  internal/db/store.go
  internal/models/schedule.go
  web/dist/assets/index-BJgKmG17.css
  web/dist/assets/index-DTU89Y_C.js
  web/src/lib/types.ts
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Add pre-built exclude patterns library for schedules
  internal/api/handlers/exclude_patterns.go
  internal/api/routes.go
  internal/db/migrations/012_add_exclude_patterns.sql
  internal/db/store.go
  internal/excludes/library.go
  internal/models/exclude_pattern.go
  web/dist/assets/index-BO5Zlxjy.js
  web/dist/assets/index-BihoH_hY.js
  web/dist/assets/index-BqbfIsCA.css
  web/dist/assets/index-EYwX1-DP.css
  web/dist/index.html
  web/src/components/features/PatternLibraryModal.tsx
  web/src/hooks/useExcludePatterns.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Schedules.tsx
  web/tsconfig.tsbuildinfo
Due: go-fmt, go-vet, biome

Fix CI failures: migration numbering and Biome linting
  internal/db/migrations/021_add_exclude_patterns.sql
  web/src/components/features/PatternLibraryModal.tsx
  web/src/pages/Schedules.tsx
Due: biome

Path conditions:
  go-fmt: any of: *.go
  go-vet: any of: *.go
  biome: any of: web/**/*.{js,ts,jsx,tsx}
