Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

go-fmt:
  run: gofmt -w {staged_files}
  stage_fixed: true

go-vet:
  run: go vet ./...

biome:
  run: cd web && npx @biomejs/biome check --write {staged_files}
  stage_fixed: true

Rename migration to 041 to avoid conflict with 040_config_templates
  internal/db/migrations/041_agent_logs.sql
Due: none

Implement agent logs UI with real-time streaming (#66)
  internal/api/handlers/agent_api.go
  internal/api/handlers/agents.go
  internal/db/migrations/041_agent_logs.sql
  internal/db/store.go
  internal/logs/agent_logs.go
  internal/models/agent_log.go
  web/src/components/features/AgentLogViewer.tsx
  web/src/hooks/useAgents.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/AgentDetails.tsx
Due: go-fmt, go-vet, biome

Implement server logs viewer for admins
  internal/api/handlers/server_logs.go
  internal/api/routes.go
  internal/logs/server_logs.go
  web/dist/index.html
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useServerLogs.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/AdminLogs.tsx
Due: go-fmt, go-vet, biome

Fix Biome linting errors in api.ts
  web/src/lib/api.ts
Due: biome

Implement server logs viewer for admins (#67)
  internal/api/handlers/server_logs.go
  internal/api/routes.go
  internal/logs/server_logs.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useServerLogs.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/AdminLogs.tsx
Due: go-fmt, go-vet, biome

Implement agent debug mode for verbose logging
  internal/api/handlers/agents.go
  internal/db/migrations/031_agent_debug_mode.sql
  internal/db/store.go
  internal/models/agent.go
  web/src/hooks/useAgents.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/AgentDetails.tsx
Due: go-fmt, go-vet, biome

Fix CI: rename migration to 042 and fix Biome formatting
  internal/db/migrations/042_agent_debug_mode.sql
  web/src/pages/AgentDetails.tsx
Due: biome

Implement agent debug mode for verbose logging (#68)
  internal/api/handlers/agents.go
  internal/db/migrations/042_agent_debug_mode.sql
  internal/db/store.go
  internal/models/agent.go
  web/src/hooks/useAgents.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/AgentDetails.tsx
Due: go-fmt, go-vet, biome

Implement diagnostic support bundle generation
  cmd/keldris-agent/main.go
  internal/api/handlers/support.go
  internal/api/routes.go
  internal/support/bundle.go
  web/src/hooks/useSupport.ts
  web/src/lib/api.ts
  web/src/pages/OrganizationSettings.tsx
Due: go-fmt, go-vet, biome

Fix accessibility lint errors for SVG icons
  web/src/pages/OrganizationSettings.tsx
Due: biome

Implement diagnostic support bundle generation (#69)
  cmd/keldris-agent/main.go
  internal/api/handlers/support.go
  internal/api/routes.go
  internal/support/bundle.go
  web/src/hooks/useSupport.ts
  web/src/lib/api.ts
  web/src/pages/OrganizationSettings.tsx
Due: go-fmt, go-vet, biome

Implement system-wide announcements feature
  internal/api/handlers/announcements.go
  internal/api/routes.go
  internal/db/migrations/043_system_announcements.sql
  internal/db/store.go
  internal/models/announcement.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/components/features/AnnouncementBanner.tsx
  web/src/hooks/useAnnouncements.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Announcements.tsx
Due: go-fmt, go-vet, biome

Implement system-wide announcements feature (#70)
  internal/api/handlers/announcements.go
  internal/api/routes.go
  internal/db/migrations/043_system_announcements.sql
  internal/db/store.go
  internal/models/announcement.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/components/features/AnnouncementBanner.tsx
  web/src/hooks/useAnnouncements.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Announcements.tsx
Due: go-fmt, go-vet, biome

Implement read-only maintenance mode with countdown timer
  internal/api/handlers/maintenance.go
  internal/db/migrations/031_maintenance_read_only.sql
  internal/db/store.go
  internal/models/maintenance_window.go
  web/src/components/Layout.tsx
  web/src/components/features/MaintenanceCountdown.tsx
  web/src/components/ui/ReadOnlyBlocker.tsx
  web/src/hooks/useMaintenance.ts
  web/src/hooks/useReadOnlyMode.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Maintenance.tsx
Due: go-fmt, go-vet, biome

Fix CI failures: rename migration and fix Biome linting
  internal/db/migrations/032_maintenance_read_only.sql
  web/src/components/features/MaintenanceCountdown.tsx
  web/src/components/ui/ReadOnlyBlocker.tsx
  web/src/hooks/useReadOnlyMode.ts
Due: biome

Fix CI: rename migration to 044 and fix Biome formatting
  internal/db/migrations/044_maintenance_read_only.sql
  web/src/lib/api.ts
  web/src/pages/Maintenance.tsx
Due: biome

Fix TypeScript error: rename interface to avoid name collision
  web/src/hooks/useReadOnlyMode.ts
Due: biome

Implement read-only maintenance mode with countdown timer (#71)
  internal/api/handlers/maintenance.go
  internal/db/migrations/044_maintenance_read_only.sql
  internal/db/store.go
  internal/models/maintenance_window.go
  web/src/components/Layout.tsx
  web/src/components/features/MaintenanceCountdown.tsx
  web/src/components/ui/ReadOnlyBlocker.tsx
  web/src/hooks/useMaintenance.ts
  web/src/hooks/useReadOnlyMode.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Maintenance.tsx
Due: go-fmt, go-vet, biome

Implement changelog UI with version history and What's New modal
  CHANGELOG.md
  internal/api/handlers/changelog.go
  internal/api/routes.go
  web/dist/index.html
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/components/features/WhatsNewModal.tsx
  web/src/hooks/useChangelog.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Changelog.tsx
Due: go-fmt, go-vet, biome

Fix Biome linting and formatting errors
  web/src/components/Layout.tsx
  web/src/components/features/WhatsNewModal.tsx
  web/src/lib/api.ts
  web/src/pages/Changelog.tsx
Due: biome

Path conditions:
  go-fmt: any of: *.go
  go-vet: any of: *.go
  biome: any of: web/**/*.{js,ts,jsx,tsx}
