Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
    go-vet:
      glob: "*.go"
      run: go vet ./...
    biome:
      glob: "web/**/*.{js,ts,jsx,tsx}"
      run: cd web && npx @biomejs/biome check --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: go test ./...
    lint:
      run: cd web && npx @biomejs/biome check .

Fix Biome formatting in Schedules.tsx
  web/src/pages/Schedules.tsx
Due: biome

Add auto-exclude files over configurable size limit (#49)
  internal/api/handlers/schedules.go
  internal/backup/largefile_scanner.go
  internal/backup/restic.go
  internal/backup/scheduler.go
  internal/db/migrations/031_add_max_file_size.sql
  internal/db/store.go
  internal/models/backup.go
  internal/models/schedule.go
  web/src/lib/types.ts
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Implement resumable backup checkpoints for interrupted backups
  internal/backup/resume.go
  internal/backup/scheduler.go
  internal/db/migrations/031_backup_checkpoints.sql
  internal/db/store.go
  internal/models/backup.go
  internal/models/backup_checkpoint.go
  web/src/lib/types.ts
  web/src/pages/Backups.tsx
Due: go-fmt, go-vet, biome

Fix CI failures: add CheckpointStore mock methods and fix biome formatting
  internal/backup/scheduler_test.go
  web/src/pages/Backups.tsx
Due: go-fmt, go-vet, biome

Fix duplicate migration version: rename 031 to 032
  internal/db/migrations/032_backup_checkpoints.sql
Due: none

Implement resumable backup checkpoints for interrupted backups (#50)
  internal/backup/resume.go
  internal/backup/scheduler.go
  internal/backup/scheduler_test.go
  internal/db/migrations/032_backup_checkpoints.sql
  internal/db/store.go
  internal/models/backup.go
  internal/models/backup_checkpoint.go
  web/src/lib/types.ts
  web/src/pages/Backups.tsx
Due: go-fmt, go-vet, biome

Implement backup dry run feature for schedule preview
  internal/api/handlers/schedules.go
  internal/backup/restic.go
  internal/models/dry_run.go
  web/src/components/features/DryRunResultsModal.tsx
  web/src/hooks/useSchedules.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Implement backup dry run feature for schedule preview (#51)
  internal/api/handlers/schedules.go
  internal/backup/restic.go
  internal/models/dry_run.go
  web/src/components/features/DryRunResultsModal.tsx
  web/src/hooks/useSchedules.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Implement restore preview without writing files
  internal/api/handlers/snapshots.go
  internal/backup/restic.go
  web/dist/index.html
  web/src/hooks/useRestore.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Restore.tsx
Due: go-fmt, go-vet, biome

Fix Biome formatting in Restore.tsx
  web/src/pages/Restore.tsx
Due: biome

Implement restore preview without writing files (#52)
  internal/api/handlers/snapshots.go
  internal/backup/restic.go
  web/dist/index.html
  web/src/hooks/useRestore.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Restore.tsx
Due: go-fmt, go-vet, biome

Implement ransomware detection system
  internal/api/handlers/alerts.go
  internal/api/handlers/dashboard_metrics.go
  internal/api/handlers/ransomware.go
  internal/api/routes.go
  internal/db/migrations/031_ransomware_detection.sql
  internal/db/store.go
  internal/models/alert.go
  internal/models/metrics.go
  internal/models/ransomware.go
  internal/security/ransomware.go
Due: go-fmt, go-vet

Renumber ransomware migration to 033
  internal/db/migrations/033_ransomware_detection.sql
Due: none

Implement ransomware detection system (#53)
  internal/api/handlers/alerts.go
  internal/api/handlers/dashboard_metrics.go
  internal/api/handlers/ransomware.go
  internal/api/routes.go
  internal/db/migrations/033_ransomware_detection.sql
  internal/db/store.go
  internal/models/alert.go
  internal/models/metrics.go
  internal/models/ransomware.go
  internal/security/ransomware.go
Due: go-fmt, go-vet

Implement snapshot immutability for compliance
  internal/api/handlers/immutability.go
  internal/backup/immutability.go
  internal/db/migrations/031_snapshot_immutability.sql
  internal/db/store.go
  internal/models/snapshot_immutability.go
  web/dist/index.html
  web/src/components/features/SnapshotImmutabilityBadge.tsx
  web/src/hooks/useImmutability.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: go-fmt, go-vet, biome

Renumber snapshot immutability migration to 034
  internal/db/migrations/034_snapshot_immutability.sql
Due: none

Fix CI linting errors for snapshot immutability feature
  internal/models/snapshot_immutability.go
  web/src/components/features/SnapshotImmutabilityBadge.tsx
  web/src/hooks/useImmutability.ts
  web/src/lib/api.ts
Due: go-fmt, go-vet, biome

Implement snapshot immutability for compliance (#54)
  internal/api/handlers/immutability.go
  internal/backup/immutability.go
  internal/db/migrations/034_snapshot_immutability.sql
  internal/db/store.go
  internal/models/snapshot_immutability.go
  web/dist/index.html
  web/src/components/features/SnapshotImmutabilityBadge.tsx
  web/src/hooks/useImmutability.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: go-fmt, go-vet, biome

Implement legal hold feature for snapshots during legal discovery
  internal/api/handlers/legal_holds.go
  internal/api/routes.go
  internal/db/migrations/031_add_legal_holds.sql
  internal/db/store.go
  internal/models/legal_hold.go
  web/dist/index.html
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useLegalHolds.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/LegalHolds.tsx
  web/src/pages/Restore.tsx
Due: go-fmt, go-vet, biome

Fix CI failures: rename migration and fix lint errors
  internal/db/migrations/035_add_legal_holds.sql
  web/src/App.tsx
  web/src/lib/api.ts
  web/src/pages/LegalHolds.tsx
  web/src/pages/Restore.tsx
Due: biome
