Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
    go-vet:
      glob: "*.go"
      run: go vet ./...
    biome:
      glob: "web/**/*.{js,ts,jsx,tsx}"
      run: cd web && npx @biomejs/biome check --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: go test ./...
    lint:
      run: cd web && npx @biomejs/biome check .

Implement PostgreSQL database backup system for Keldris
  internal/api/handlers/database_backup.go
  internal/api/handlers/health.go
  internal/api/routes.go
  internal/db/migrations/076_database_backups.sql
  internal/db/store_database_backup.go
  internal/maintenance/db_backup.go
  internal/models/database_backup.go
Due: go-fmt, go-vet

Fix duplicate migration version conflict
  internal/db/migrations/088_database_backups.sql
Due: none

Implement PostgreSQL database backup system (#141)
  internal/api/handlers/database_backup.go
  internal/api/handlers/health.go
  internal/api/routes.go
  internal/db/migrations/088_database_backups.sql
  internal/db/store_database_backup.go
  internal/maintenance/db_backup.go
  internal/models/database_backup.go
Due: go-fmt, go-vet

Implement graceful shutdown for backup operations
  cmd/keldris-server/main.go
  internal/api/handlers/health.go
  internal/config/server.go
  internal/shutdown/backup_tracker.go
  internal/shutdown/health_adapter.go
  internal/shutdown/manager.go
  internal/shutdown/manager_test.go
  internal/shutdown/startup.go
Due: go-fmt, go-vet

Implement graceful shutdown for backup operations (#142)
  cmd/keldris-server/main.go
  internal/api/handlers/health.go
  internal/config/server.go
  internal/shutdown/backup_tracker.go
  internal/shutdown/health_adapter.go
  internal/shutdown/manager.go
  internal/shutdown/manager_test.go
  internal/shutdown/startup.go
Due: go-fmt, go-vet

Register telemetry handler in API routes
  internal/api/routes.go
Due: go-fmt, go-vet

Add anonymous opt-in usage telemetry implementation
  internal/api/handlers/telemetry.go
  internal/db/migrations/076_telemetry.sql
  internal/db/store_telemetry.go
  internal/telemetry/telemetry.go
  internal/telemetry/telemetry_test.go
Due: go-fmt, go-vet

Fix duplicate migration version conflict
  internal/db/migrations/089_telemetry.sql
Due: none

Implement anonymous opt-in usage telemetry (#143)
  internal/api/handlers/telemetry.go
  internal/api/routes.go
  internal/db/migrations/089_telemetry.sql
  internal/db/store_telemetry.go
  internal/telemetry/telemetry.go
  internal/telemetry/telemetry_test.go
Due: go-fmt, go-vet

Implement server update checker with GitHub releases integration
  internal/api/handlers/updates.go
  internal/api/handlers/updates_test.go
  internal/api/routes.go
  internal/updates/checker.go
  internal/updates/checker_test.go
Due: go-fmt, go-vet

Implement server update checker with GitHub releases integration (#144)
  internal/api/handlers/updates.go
  internal/api/handlers/updates_test.go
  internal/api/routes.go
  internal/updates/checker.go
  internal/updates/checker_test.go
Due: go-fmt, go-vet

Implement system configuration export/import for migration
  internal/api/handlers/migration.go
  internal/migration/export.go
  internal/migration/import.go
  internal/migration/types.go
  internal/models/superuser.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useMigration.ts
  web/src/lib/types.ts
  web/src/pages/MigrationSettings.tsx
Due: go-fmt, go-vet, biome

Fix Biome linter errors in migration UI
  web/src/App.tsx
  web/src/pages/MigrationSettings.tsx
Due: biome

Fix Biome array index key errors
  web/src/pages/MigrationSettings.tsx
Due: biome

Fix Biome formatting issues
  web/src/hooks/useMigration.ts
  web/src/pages/MigrationSettings.tsx
Due: biome

Implement system configuration export/import for migration (#145)
  internal/api/handlers/migration.go
  internal/migration/export.go
  internal/migration/import.go
  internal/migration/types.go
  internal/models/superuser.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useMigration.ts
  web/src/lib/types.ts
  web/src/pages/MigrationSettings.tsx
Due: go-fmt, go-vet, biome

Implement agent diagnostics command
  cmd/keldris-agent/main.go
  internal/diagnostics/diagnostics.go
  internal/diagnostics/diagnostics_test.go
Due: go-fmt, go-vet

Implement agent diagnostics command (#146)
  cmd/keldris-agent/main.go
  internal/diagnostics/diagnostics.go
  internal/diagnostics/diagnostics_test.go
Due: go-fmt, go-vet

Implement HTTP/SOCKS5 proxy support for agent network connections
  ansible/roles/keldris_agent/defaults/main.yml
  ansible/roles/keldris_agent/templates/config.yml.j2
  cmd/keldris-agent/main.go
  docs/proxy.md
  internal/config/agent.go
  internal/httpclient/client.go
  internal/httpclient/client_test.go
  internal/integrations/komodo/client.go
  internal/notifications/discord.go
  internal/notifications/pagerduty.go
  internal/notifications/slack.go
  internal/notifications/teams.go
  internal/notifications/webhook.go
  internal/updater/updater.go
  internal/updater/updater_test.go
Due: go-fmt, go-vet

Implement HTTP/SOCKS5 proxy support for agent network connections (#147)
  ansible/roles/keldris_agent/defaults/main.yml
  ansible/roles/keldris_agent/templates/config.yml.j2
  cmd/keldris-agent/main.go
  docs/proxy.md
  internal/config/agent.go
  internal/httpclient/client.go
  internal/httpclient/client_test.go
  internal/integrations/komodo/client.go
  internal/notifications/discord.go
  internal/notifications/pagerduty.go
  internal/notifications/slack.go
  internal/notifications/teams.go
  internal/notifications/webhook.go
  internal/updater/updater.go
  internal/updater/updater_test.go
Due: go-fmt, go-vet
