Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
    go-vet:
      glob: "*.go"
      run: go vet ./...
    biome:
      glob: "web/**/*.{js,ts,jsx,tsx}"
      run: cd web && npx @biomejs/biome check --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: go test ./...
    lint:
      run: cd web && npx @biomejs/biome check .

Revise README for detailed project overview
  README.md
Due: none

Fix formatting in architecture diagram in README
  README.md
Due: none

Add .gitignore for Go/React project
  .gitignore
Due: none

Revise README for clarity and project updates
  README.md
Due: none

Implement Gatus-compatible health check endpoints
  docs/gatus-config-example.yaml
  internal/api/handlers/agent_api.go
  internal/api/handlers/health.go
  internal/api/handlers/metrics.go
  internal/api/routes.go
  internal/auth/oidc.go
Due: go-fmt, go-vet

Add backup organization with tags and global search
  internal/api/handlers/search.go
  internal/api/handlers/tags.go
  internal/api/routes.go
  internal/db/migrations/012_add_tags.sql
  internal/db/store.go
  internal/models/tag.go
  web/dist/assets/index-BO5Zlxjy.js
  web/dist/assets/index-CZzKLaQi.js
  web/dist/assets/index-DWCcH0xg.css
  web/dist/assets/index-EYwX1-DP.css
  web/dist/index.html
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useSearch.ts
  web/src/hooks/useTags.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Backups.tsx
  web/src/pages/Tags.tsx
  web/tsconfig.tsbuildinfo
Due: go-fmt, go-vet, biome

Add OpenAPI/Swagger documentation with interactive API playground
  Makefile
  cmd/keldris-server/main.go
  docs/api/docs.go
  docs/api/swagger.json
  docs/api/swagger.yaml
  go.mod
  go.sum
  internal/api/handlers/agents.go
  internal/api/handlers/alerts.go
  internal/api/handlers/auth.go
  internal/api/handlers/backups.go
  internal/api/handlers/organizations.go
  internal/api/handlers/repositories.go
  internal/api/handlers/schedules.go
  internal/api/handlers/snapshots.go
  internal/api/handlers/version.go
  internal/api/routes.go
  internal/models/agent.go
  web/src/components/Layout.tsx
Due: go-fmt, go-vet, biome

Implement Gatus-compatible health check endpoints (#25)
  docs/gatus-config-example.yaml
  internal/api/handlers/agent_api.go
  internal/api/handlers/health.go
  internal/api/handlers/metrics.go
  internal/api/routes.go
  internal/auth/oidc.go
Due: go-fmt, go-vet

Remove build artifacts from version control
  web/dist/assets/index-CZzKLaQi.js
  web/dist/assets/index-DWCcH0xg.css
Due: biome

Add OpenAPI/Swagger documentation with interactive API playground (#27)
  Makefile
  cmd/keldris-server/main.go
  docs/api/docs.go
  docs/api/swagger.json
  docs/api/swagger.yaml
  go.mod
  go.sum
  internal/api/handlers/agents.go
  internal/api/handlers/alerts.go
  internal/api/handlers/auth.go
  internal/api/handlers/backups.go
  internal/api/handlers/organizations.go
  internal/api/handlers/repositories.go
  internal/api/handlers/schedules.go
  internal/api/handlers/snapshots.go
  internal/api/handlers/version.go
  internal/api/routes.go
  internal/models/agent.go
  web/src/components/Layout.tsx
Due: go-fmt, go-vet, biome

Fix CI failures: rename migration and fix biome formatting
  internal/db/migrations/014_add_tags.sql
  web/src/lib/api.ts
Due: biome

Add backup organization with tags and global search (#26)
  internal/api/handlers/search.go
  internal/api/handlers/tags.go
  internal/api/routes.go
  internal/db/migrations/014_add_tags.sql
  internal/db/store.go
  internal/models/tag.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useSearch.ts
  web/src/hooks/useTags.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Backups.tsx
  web/src/pages/Tags.tsx
Due: go-fmt, go-vet, biome

Implement comprehensive metrics and stats dashboard
  internal/api/handlers/dashboard_metrics.go
  internal/api/routes.go
  internal/db/migrations/012_metrics_history.sql
  internal/db/store.go
  internal/metrics/collector.go
  internal/models/metrics.go
  web/dist/assets/index-D6kcw5Ql.css
  web/dist/assets/index-DXIqWDFD.js
  web/src/hooks/useMetrics.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/lib/utils.ts
  web/src/pages/Dashboard.tsx
Due: go-fmt, go-vet, biome

Fix Biome linting issues in api.ts
  web/src/lib/api.ts
Due: biome

Restore Prometheus metrics handler
  internal/api/handlers/metrics.go
Due: go-fmt, go-vet

Rename metrics migration to version 015 to avoid conflict
  internal/db/migrations/015_metrics_history.sql
Due: none

Implement comprehensive metrics and stats dashboard (#28)
  internal/api/handlers/dashboard_metrics.go
  internal/api/routes.go
  internal/db/migrations/015_metrics_history.sql
  internal/db/store.go
  internal/metrics/collector.go
  internal/models/metrics.go
  web/dist/assets/index-D6kcw5Ql.css
  web/dist/assets/index-DXIqWDFD.js
  web/src/hooks/useMetrics.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/lib/utils.ts
  web/src/pages/Dashboard.tsx
Due: go-fmt, go-vet, biome

Implement comprehensive agent details page with stats and actions
  internal/api/handlers/agents.go
  internal/db/store.go
  internal/models/agent.go
  web/dist/assets/index-BO5Zlxjy.js
  web/dist/assets/index-BfnKhgH-.js
  web/dist/assets/index-D7o7vs4G.css
  web/dist/assets/index-EYwX1-DP.css
  web/dist/index.html
  web/src/App.tsx
  web/src/hooks/useAgents.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/AgentDetails.tsx
  web/src/pages/Agents.tsx
  web/tsconfig.tsbuildinfo
Due: go-fmt, go-vet, biome

Fix Biome formatting error in App.tsx
  web/src/App.tsx
Due: biome
