Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

go-fmt:
  run: gofmt -w {staged_files}
  stage_fixed: true

go-vet:
  run: go vet ./...

biome:
  run: cd web && npx @biomejs/biome check --write {staged_files}
  stage_fixed: true

Fix login SQL error, add superuser confetti, use Keldris icon
  internal/db/store_password_policy.go
  web/src/pages/Setup.tsx
Due: go-fmt, go-vet, biome

Relax COEP from require-corp to credentialless
  internal/api/middleware/security.go
  internal/api/middleware/security_test.go
Due: go-fmt, go-vet

Increase setup page logo size to 256px
  web/src/pages/Setup.tsx
Due: biome

Fix confetti on superuser creation, add Keldris icon to login
  web/src/pages/Login.tsx
  web/src/pages/Setup.tsx
Due: biome

Fix confetti, login icon, and upgrade prompt on public pages
  web/src/hooks/useUpgradePrompt.tsx
Due: biome

Move org update to base routes, fix entitlement error in onboarding
  internal/api/handlers/organizations.go
Due: go-fmt, go-vet

Auto-rename default org from license company name during onboarding
  web/src/pages/Onboarding.tsx
Due: biome

Send immediate heartbeat on license activation, auto-rename org
  internal/license/validator.go
Due: go-fmt, go-vet

Suppress upgrade prompt during onboarding flow
  web/src/hooks/useUpgradePrompt.tsx
Due: biome

Fix OIDC onboarding step 402 error and retry storm
  cmd/keldris-server/main.go
  internal/api/handlers/onboarding.go
  internal/api/handlers/server_setup.go
  internal/license/validator.go
  web/src/hooks/useOnboarding.ts
  web/src/pages/Onboarding.tsx
Due: go-fmt, go-vet, biome

Persist org tier to DB after license activation, fix OIDC onboarding auto-skip
  .claude/JOURNAL.md
  internal/api/handlers/license_manage.go
  internal/api/handlers/onboarding.go
  internal/api/handlers/onboarding_test.go
  internal/api/middleware/features.go
  internal/api/routes.go
  internal/license/features.go
Due: go-fmt, go-vet

Fetch signing public key from license server at startup
  cmd/keldris-server/main.go
  docs/heartbeat-testing.md
  internal/config/server.go
  internal/license/validator.go
Due: go-fmt, go-vet

Fix postJSONWithResponse silently swallowing 4xx errors
  internal/license/validator.go
Due: go-fmt, go-vet

Remove unused setupOnboardingTestRouterWithChecker function
  internal/api/handlers/onboarding_test.go
Due: go-fmt, go-vet

Add OIDC test connection button to onboarding
  internal/api/handlers/onboarding.go
  web/src/hooks/useOnboarding.ts
  web/src/lib/api.ts
  web/src/pages/Onboarding.tsx
Due: go-fmt, go-vet, biome

Fix SetLicenseKey context cancellation and update journal
  .claude/JOURNAL.md
  internal/license/validator.go
Due: go-fmt, go-vet

Update journal with CI fix entries
  .claude/JOURNAL.md
Due: none

Improve onboarding wizard and fix dark mode issues
  internal/api/handlers/onboarding.go
  internal/api/handlers/onboarding_test.go
  web/src/components/features/LanguageSelector.tsx
  web/src/components/features/RecentItems.tsx
  web/src/hooks/useOnboarding.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Onboarding.tsx
Due: go-fmt, go-vet, biome

Fix Biome formatting in SMTPStep component
  web/src/pages/Onboarding.tsx
Due: biome

Fix Biome formatting in RecentItems and import ordering in api.ts
  web/src/components/features/RecentItems.tsx
  web/src/lib/api.ts
Due: biome

Update journal with SMTP step, dark mode, docs links, and auto-advance entries
  .claude/JOURNAL.md
Due: none

Point onboarding "Learn more" links to local docs pages
  web/src/components/Layout.tsx
  web/src/pages/Onboarding.tsx
Due: biome

Embed repository creation form inline in onboarding wizard
  web/src/pages/Onboarding.tsx
Due: biome

Update journal with inline repository creation form entry
  .claude/JOURNAL.md
Due: none

Fix agent installer downloading from nonexistent releases.keldris.io
  scripts/install-linux.sh
Due: none

Fix unbound VERSION variable in agent installer
  scripts/install-linux.sh
Due: none

Fix installer log functions polluting stdout captures
  scripts/install-linux.sh
Due: none

Auto-register agent during install across all platforms
  internal/api/handlers/agent_registration.go
  internal/models/registration_code.go
  scripts/install-linux.sh
  scripts/install-macos.sh
  scripts/install-windows.ps1
  web/src/lib/types.ts
  web/src/pages/Onboarding.tsx
Due: go-fmt, go-vet, biome

Update changelog for v0.6.0 release
  CHANGELOG.md
Due: none

Decouple release from Docker image build
  .github/workflows/release.yml
Due: none

Inline schedule creation and backup verification in onboarding wizard
  web/src/pages/Onboarding.tsx
Due: biome

Update journal with inline schedule & verify onboarding entry
  .claude/JOURNAL.md
Due: none

Improve VerifyStep UX with dry-run phase and elapsed timer
  web/src/components/features/MultiRepoSelector.tsx
  web/src/pages/Onboarding.tsx
Due: biome

Fix agent startup, cron scheduling, and dashboard dark mode
  .github/workflows/release.yml
  cmd/keldris-server/main.go
  internal/api/routes.go
  internal/backup/docker/scheduler.go
  internal/backup/scheduler.go
  internal/backup/scheduler_drtest.go
  internal/backup/test_restore.go
  internal/backup/verification.go
  internal/config/agent.go
  scripts/install-linux.sh
  scripts/install-macos.sh
  scripts/install-windows.ps1
  scripts/uninstall-linux.sh
  scripts/uninstall-macos.sh
  scripts/uninstall-windows.ps1
  web/src/components/features/FeatureGate.tsx
  web/src/hooks/useLicenses.ts
  web/src/lib/utils.ts
  web/src/pages/Dashboard.tsx
  web/src/pages/License.tsx
Due: go-fmt, go-vet, biome

Bundle restic installation in agent install scripts
  scripts/install-linux.sh
  scripts/install-macos.sh
  scripts/install-windows.ps1
  scripts/uninstall-linux.sh
  scripts/uninstall-macos.sh
  scripts/uninstall-windows.ps1
Due: none

Add agent auto-update, restic management, and command dispatch
  cmd/keldris-agent/main.go
  internal/agent/client.go
  internal/api/handlers/agent_api.go
  internal/api/handlers/agent_commands.go
  internal/db/migrations/106_agent_version.sql
  internal/db/store.go
  internal/db/store_concurrency.go
  internal/db/store_recovered_full.go
  internal/models/agent.go
  internal/models/agent_command.go
  pkg/models/agent.go
  web/src/lib/types.ts
  web/src/pages/AgentDetails.tsx
  web/src/pages/Agents.tsx
Due: go-fmt, go-vet, biome

Update journal with agent command dispatch entry
  .claude/JOURNAL.md
Due: none

Harden agent security: ownership checks, HTTPS enforcement, checksum verification
  cmd/keldris-agent/main.go
  internal/api/handlers/agent_api.go
Due: go-fmt, go-vet

Update journal with agent security hardening entry
  .claude/JOURNAL.md
Due: none

Add auto-registration env vars to quick install commands
  web/src/components/features/AgentDownloads.tsx
  web/src/lib/constants.ts
  web/src/pages/Agents.tsx
Due: biome

Path conditions:
  go-fmt: any of: *.go
  go-vet: any of: *.go
  biome: any of: web/**/*.{js,ts,jsx,tsx}
