Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

go-fmt:
  run: gofmt -w {staged_files}
  stage_fixed: true

go-vet:
  run: go vet ./...

biome:
  run: cd web && npx @biomejs/biome check --write {staged_files}
  stage_fixed: true

Phase 1: Set up PostgreSQL database layer and models
  cmd/migrate/main.go
  go.mod
  go.sum
  internal/db/db.go
  internal/db/db_test.go
  internal/models/agent.go
  internal/models/backup.go
  internal/models/organization.go
  internal/models/repository.go
  internal/models/schedule.go
  internal/models/user.go
Due: go-fmt, go-vet

Phase 1: Set up PostgreSQL database layer and models (#1)
  cmd/migrate/main.go
  go.mod
  go.sum
  internal/db/db.go
  internal/db/db_test.go
  internal/models/agent.go
  internal/models/backup.go
  internal/models/organization.go
  internal/models/repository.go
  internal/models/schedule.go
  internal/models/user.go
Due: go-fmt, go-vet

Implement OIDC authentication
  go.mod
  go.sum
  internal/api/handlers/auth.go
  internal/api/middleware/auth.go
  internal/auth/oidc.go
  internal/auth/oidc_test.go
  internal/auth/session.go
  internal/auth/session_test.go
Due: go-fmt, go-vet

Implement OIDC authentication (#3)
  go.mod
  go.sum
  internal/api/handlers/auth.go
  internal/api/middleware/auth.go
  internal/auth/oidc.go
  internal/auth/oidc_test.go
  internal/auth/session.go
  internal/auth/session_test.go
Due: go-fmt, go-vet

Implement keldris-agent CLI with Cobra
  Makefile
  cmd/keldris-agent/main.go
  go.mod
  go.sum
  internal/config/agent.go
  internal/config/agent_test.go
Due: go-fmt, go-vet

Implement keldris-agent CLI with Cobra (#4)
  Makefile
  cmd/keldris-agent/main.go
  go.mod
  go.sum
  internal/config/agent.go
  internal/config/agent_test.go
Due: go-fmt, go-vet

Implement REST API handlers for agents, repositories, schedules, and backups
  go.mod
  go.sum
  internal/api/handlers/agents.go
  internal/api/handlers/backups.go
  internal/api/handlers/repositories.go
  internal/api/handlers/schedules.go
  internal/api/middleware/cors.go
  internal/api/middleware/logger.go
  internal/api/middleware/ratelimit.go
  internal/api/routes.go
  internal/db/store.go
Due: go-fmt, go-vet

Implement REST API handlers for agents, repositories, schedules, and backups (#5)
  go.mod
  go.sum
  internal/api/handlers/agents.go
  internal/api/handlers/backups.go
  internal/api/handlers/repositories.go
  internal/api/handlers/schedules.go
  internal/api/middleware/cors.go
  internal/api/middleware/logger.go
  internal/api/middleware/ratelimit.go
  internal/api/routes.go
  internal/db/store.go
Due: go-fmt, go-vet

Implement Restic backup wrapper with storage backends and scheduler
  go.mod
  go.sum
  internal/backup/restic.go
  internal/backup/restic_test.go
  internal/backup/scheduler.go
  internal/backup/scheduler_test.go
  internal/backup/storage.go
  internal/backup/storage_test.go
Due: go-fmt, go-vet

Implement Restic backup wrapper with storage backends and scheduler (#6)
  go.mod
  go.sum
  internal/backup/restic.go
  internal/backup/restic_test.go
  internal/backup/scheduler.go
  internal/backup/scheduler_test.go
  internal/backup/storage.go
  internal/backup/storage_test.go
Due: go-fmt, go-vet

Connect React frontend to real APIs with data integration
  web/dist/assets/index-B9x5aRAB.css
  web/dist/assets/index-C3QKDvjb.css
  web/dist/assets/index-CHkQDSW5.js
  web/dist/assets/index-lmfPDnfk.js
  web/dist/index.html
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useAgents.ts
  web/src/hooks/useAuth.ts
  web/src/hooks/useBackups.ts
  web/src/hooks/useRepositories.ts
  web/src/hooks/useSchedules.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/lib/utils.ts
  web/src/pages/Agents.tsx
  web/src/pages/Backups.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/Repositories.tsx
  web/src/pages/Schedules.tsx
  web/tsconfig.tsbuildinfo
Due: biome

Connect React frontend to real APIs with data integration (#7)
  web/dist/assets/index-B9x5aRAB.css
  web/dist/assets/index-C3QKDvjb.css
  web/dist/assets/index-CHkQDSW5.js
  web/dist/assets/index-lmfPDnfk.js
  web/dist/index.html
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useAgents.ts
  web/src/hooks/useAuth.ts
  web/src/hooks/useBackups.ts
  web/src/hooks/useRepositories.ts
  web/src/hooks/useSchedules.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/lib/utils.ts
  web/src/pages/Agents.tsx
  web/src/pages/Backups.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/Repositories.tsx
  web/src/pages/Schedules.tsx
  web/tsconfig.tsbuildinfo
Due: biome

Implement Docker deployment and CI/CD pipelines
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docker/Dockerfile.agent
  docker/Dockerfile.server
  docker/docker-compose.yml
Due: none

Implement Docker deployment and CI/CD pipelines (#8)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docker/Dockerfile.agent
  docker/Dockerfile.server
  docker/docker-compose.yml
Due: none

Add strict patterns for consistency
  CLAUDE.md
Due: none

Add multiple storage backends for Restic with connection testing
  go.mod
  go.sum
  internal/api/handlers/repositories.go
  internal/backup/backends/b2.go
  internal/backup/backends/dropbox.go
  internal/backup/backends/interface.go
  internal/backup/backends/local.go
  internal/backup/backends/rest.go
  internal/backup/backends/s3.go
  internal/backup/backends/sftp.go
  internal/backup/restic.go
  internal/backup/storage.go
  internal/backup/storage_test.go
  internal/models/repository.go
  web/dist/assets/index-BNtvWzyh.css
  web/dist/assets/index-C3QKDvjb.css
  web/dist/assets/index-CCkZIiOi.js
  web/dist/assets/index-lmfPDnfk.js
  web/dist/index.html
  web/src/hooks/useRepositories.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/lib/utils.ts
  web/src/pages/Repositories.tsx
Due: go-fmt, go-vet, biome

Add multiple storage backends for Restic with connection testing (#9)
  go.mod
  go.sum
  internal/api/handlers/repositories.go
  internal/backup/backends/b2.go
  internal/backup/backends/dropbox.go
  internal/backup/backends/interface.go
  internal/backup/backends/local.go
  internal/backup/backends/rest.go
  internal/backup/backends/s3.go
  internal/backup/backends/sftp.go
  internal/backup/restic.go
  internal/backup/storage.go
  internal/backup/storage_test.go
  internal/models/repository.go
  web/dist/assets/index-BNtvWzyh.css
  web/dist/assets/index-C3QKDvjb.css
  web/dist/assets/index-CCkZIiOi.js
  web/dist/assets/index-lmfPDnfk.js
  web/dist/index.html
  web/src/hooks/useRepositories.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/lib/utils.ts
  web/src/pages/Repositories.tsx
Due: go-fmt, go-vet, biome

Implement multi-organization and role-based access control
  internal/api/handlers/agents.go
  internal/api/handlers/auth.go
  internal/api/handlers/backups.go
  internal/api/handlers/organizations.go
  internal/api/handlers/repositories.go
  internal/api/handlers/schedules.go
  internal/api/routes.go
  internal/auth/rbac.go
  internal/auth/session.go
  internal/db/migrations/002_org_memberships.sql
  internal/db/store.go
  internal/models/membership.go
  web/dist/assets/index-C3QKDvjb.css
  web/dist/assets/index-CeP_LA8p.css
  web/dist/assets/index-UOJy_MYu.js
  web/dist/assets/index-lmfPDnfk.js
  web/dist/index.html
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useOrganizations.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/NewOrganization.tsx
  web/src/pages/OrganizationMembers.tsx
  web/src/pages/OrganizationSettings.tsx
  web/tsconfig.tsbuildinfo
Due: go-fmt, go-vet, biome

Path conditions:
  go-fmt: any of: *.go
  go-vet: any of: *.go
  biome: any of: web/**/*.{js,ts,jsx,tsx}
