Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

go-fmt:
  run: gofmt -w {staged_files}
  stage_fixed: true

go-vet:
  run: go vet ./...

biome:
  run: cd web && npx @biomejs/biome check --write {staged_files}
  stage_fixed: true

Add govulncheck vulnerability scanning to CI
  .github/workflows/ci.yml
Due: none

Add govulncheck vulnerability scanning to CI (#251)
  .github/workflows/ci.yml
Due: none

Add SSRF protection to all notification senders
  internal/notifications/discord.go
  internal/notifications/discord_test.go
  internal/notifications/pagerduty.go
  internal/notifications/pagerduty_test.go
  internal/notifications/service.go
  internal/notifications/service_test.go
  internal/notifications/slack.go
  internal/notifications/slack_test.go
  internal/notifications/teams.go
  internal/notifications/teams_test.go
Due: go-fmt, go-vet

Add SSRF protection to all notification senders (#252)
  internal/notifications/discord.go
  internal/notifications/discord_test.go
  internal/notifications/pagerduty.go
  internal/notifications/pagerduty_test.go
  internal/notifications/service.go
  internal/notifications/service_test.go
  internal/notifications/slack.go
  internal/notifications/slack_test.go
  internal/notifications/teams.go
  internal/notifications/teams_test.go
Due: go-fmt, go-vet

Fix HSTS header not sent behind reverse proxy
  internal/api/middleware/security_headers.go
  internal/api/middleware/security_headers_test.go
Due: go-fmt, go-vet

Fix HSTS header not sent behind reverse proxy (#253)
  internal/api/middleware/security_headers.go
  internal/api/middleware/security_headers_test.go
Due: go-fmt, go-vet

Add HTTP server timeouts to prevent slowloris attacks
  cmd/keldris-server/main.go
Due: go-fmt, go-vet

Add HTTP server timeouts to prevent slowloris attacks (#254)
  cmd/keldris-server/main.go
Due: go-fmt, go-vet

Update README documentation links and status badge
  README.md
Due: none

Update README documentation links and status badge (#255)
  README.md
Due: none

Remove sensitive files and compiled binary from repo
  .gitignore
Due: none

Fix documentation inconsistencies and update version references
  .env.example
  README.md
  docker/docker-compose.images.yml
  docs/agent-installation.md
  docs/oidc-setup.md
  docs/production-security.md
Due: none

Update version references to v1.0.0-beta.3
  README.md
  docker/docker-compose.images.yml
  docs/agent-installation.md
Due: none

Fix remaining documentation issues
  .env.example
  README.md
Due: none

Fix Docker healthcheck and compose issues
  .dockerignore
  docker/Dockerfile.agent
  docker/docker-compose.images.yml
Due: none

Fix env var mismatches, migration overload bug, and backup trigger
  cmd/keldris-server/main.go
  docker/docker-compose.yml
  internal/api/handlers/schedules.go
  internal/api/handlers/schedules_test.go
  internal/crypto/keymanager.go
  internal/db/migrations/036_retention_cleanup.sql
Due: go-fmt, go-vet

Align env var names and pass optional vars through dev compose
  .env.example
  docker/docker-compose.yml
Due: none

Update version references to v1.0.0-beta.4
  README.md
  docker/docker-compose.images.yml
  docs/agent-installation.md
Due: none

Document missing env vars and make rate limiting configurable
  .env.example
  cmd/keldris-server/main.go
  docker/docker-compose.yml
Due: go-fmt, go-vet

Expand README features section with organized categories
  README.md
Due: none

Add Docker tables, missing indexes, model fixes, and migration safety
  .env.example
  docker/docker-compose.yml
  internal/api/handlers/airgap.go
  internal/db/db.go
  internal/db/migrations/037_docker_tables_and_indexes.sql
  internal/models/backup.go
  internal/models/offline_license.go
  internal/models/organization.go
  internal/models/restore.go
Due: go-fmt, go-vet

Wire schedule Docker fields, add Docker state upserts, and fix remaining gaps
  .env.example
  docker/docker-compose.images.yml
  internal/api/middleware/cors.go
  internal/db/store.go
  internal/models/organization.go
Due: go-fmt, go-vet

Fix Docker build by including docs/api in build context
  .dockerignore
Due: none

Wire agent CLI commands, snapshot APIs, and agent-server communication
  README.md
  cmd/keldris-agent/main.go
  internal/agent/client.go
  internal/api/handlers/agent_api.go
  internal/api/handlers/agent_api_test.go
  internal/api/handlers/agents.go
  internal/api/handlers/snapshots.go
  internal/api/handlers/snapshots_test.go
  internal/api/routes.go
  internal/db/store.go
Due: go-fmt, go-vet

Add daemon backup scheduling, real system metrics, and missing RepositoryID
  cmd/keldris-agent/main.go
  internal/agent/client.go
  internal/api/handlers/agent_api.go
Due: go-fmt, go-vet

Fix Gin router panic from conflicting route parameter names
  internal/api/handlers/backup_scripts.go
Due: go-fmt, go-vet

Fix Gin router panic from conflicting snapshot compare route
  internal/api/handlers/snapshots.go
  internal/api/handlers/snapshots_test.go
  web/src/lib/api.test.ts
  web/src/lib/api.ts
Due: go-fmt, go-vet, biome

Fix Gin router panics from conflicting route parameters
  internal/api/handlers/agent_groups.go
  internal/api/handlers/sso_group_mappings.go
Due: go-fmt, go-vet

Add PORT environment variable support to server
  cmd/keldris-server/main.go
Due: go-fmt, go-vet

Add SPA static file serving and WEB_DIR config
  cmd/keldris-server/main.go
  internal/api/routes.go
Due: go-fmt, go-vet

Allow free-tier access to default organization endpoints
  go.mod
  internal/api/handlers/organizations.go
  internal/api/handlers/organizations_test.go
  internal/api/routes.go
Due: go-fmt, go-vet

Ungate notifications for free tier and fix onboarding links
  internal/api/handlers/notifications.go
  internal/api/routes.go
  web/src/components/features/AgentDownloads.tsx
  web/src/pages/Onboarding.tsx
Due: go-fmt, go-vet, biome

Add local documentation pages for onboarding wizard
  web/dist/index.html
  web/src/App.tsx
  web/src/components/features/AgentDownloads.tsx
  web/src/pages/Docs.tsx
  web/src/pages/Onboarding.tsx
Due: biome

Fix onboarding redirect blocking all page navigation
  web/src/components/Layout.tsx
Due: biome

Handle stale sessions after database reset
  internal/api/middleware/auth.go
  internal/api/routes.go
Due: go-fmt, go-vet

Path conditions:
  go-fmt: any of: *.go
  go-vet: any of: *.go
  biome: any of: web/**/*.{js,ts,jsx,tsx}
