Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
    go-vet:
      glob: "*.go"
      run: go vet ./...
    biome:
      glob: "web/**/*.{js,ts,jsx,tsx}"
      run: cd web && npx @biomejs/biome check --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: go test ./...
    lint:
      run: cd web && npx @biomejs/biome check .

Update Alpine base image to latest stable 3.21 (#215)
  docker/Dockerfile.agent
  docker/Dockerfile.server
Due: none

Wire DR test runner in routes.go
  internal/api/routes.go
Due: go-fmt, go-vet

Wire DR test runner in routes.go (#216)
  internal/api/routes.go
Due: go-fmt, go-vet

Expand license feature gating with Pro+ and Enterprise features
  internal/api/middleware/features_test.go
  internal/api/routes.go
  internal/license/features.go
  internal/license/features_test.go
Due: go-fmt, go-vet

Expand license feature gating with Pro+ and Enterprise features (#217)
  internal/api/middleware/features_test.go
  internal/api/routes.go
  internal/license/features.go
  internal/license/features_test.go
Due: go-fmt, go-vet

Implement security audit fixes and dependency upgrades
  go.mod
  go.sum
  internal/api/handlers/agents.go
  internal/api/handlers/repositories.go
  internal/api/handlers/schedules.go
  internal/api/handlers/search.go
  internal/notifications/service.go
Due: go-fmt, go-vet

Implement security audit fixes and dependency upgrades
  SECURITY_AUDIT.md
  go.mod
  go.sum
  internal/api/handlers/agents.go
  internal/api/handlers/repositories.go
  internal/api/handlers/schedules.go
  internal/api/handlers/search.go
  internal/notifications/service.go
Due: go-fmt, go-vet

Implement security audit fixes and dependency upgrades (#218)
  go.mod
  go.sum
  internal/api/handlers/agents.go
  internal/api/handlers/repositories.go
  internal/api/handlers/schedules.go
  internal/api/handlers/search.go
  internal/notifications/service.go
Due: go-fmt, go-vet

Implement security audit fixes and dependency upgrades (#218)
  SECURITY_AUDIT.md
  go.mod
  go.sum
  internal/api/handlers/agents.go
  internal/api/handlers/repositories.go
  internal/api/handlers/schedules.go
  internal/api/handlers/search.go
  internal/notifications/service.go
Due: go-fmt, go-vet

Implement SLA Tracking feature (Enterprise)
  internal/api/handlers/sla.go
  internal/api/handlers/sla_test.go
  internal/api/routes.go
  internal/db/migrations/031_add_sla_policies.sql
  internal/db/store.go
  internal/models/sla_policy.go
  internal/sla/sla.go
  internal/sla/sla_test.go
  web/src/App.tsx
  web/src/hooks/useSLAPolicies.test.ts
  web/src/hooks/useSLAPolicies.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/SLATracking.test.tsx
  web/src/pages/SLATracking.tsx
Due: go-fmt, go-vet, biome

Fix Biome formatting in SLA tracking files
  web/src/hooks/useSLAPolicies.ts
  web/src/lib/api.ts
  web/src/pages/SLATracking.test.tsx
  web/src/pages/SLATracking.tsx
Due: biome

Implement SLA Tracking feature (Enterprise) (#219)
  internal/api/handlers/sla.go
  internal/api/handlers/sla_test.go
  internal/api/routes.go
  internal/db/migrations/031_add_sla_policies.sql
  internal/db/store.go
  internal/models/sla_policy.go
  internal/sla/sla.go
  internal/sla/sla_test.go
  web/src/App.tsx
  web/src/hooks/useSLAPolicies.test.ts
  web/src/hooks/useSLAPolicies.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/SLATracking.test.tsx
  web/src/pages/SLATracking.tsx
Due: go-fmt, go-vet, biome

Implement white-label branding feature (Enterprise)
  internal/api/handlers/branding.go
  internal/api/handlers/branding_test.go
  internal/api/routes.go
  internal/branding/branding.go
  internal/branding/branding_test.go
  internal/db/migrations/031_add_branding.sql
  internal/db/store.go
  internal/models/branding.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useBranding.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Branding.tsx
Due: go-fmt, go-vet, biome

Renumber branding migration to 032 to avoid conflict with SLA policies
  internal/db/migrations/032_add_branding.sql
Due: none

Implement white-label branding feature (Enterprise) (#220)
  internal/api/handlers/branding.go
  internal/api/handlers/branding_test.go
  internal/api/routes.go
  internal/branding/branding.go
  internal/branding/branding_test.go
  internal/db/migrations/032_add_branding.sql
  internal/db/store.go
  internal/models/branding.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useBranding.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Branding.tsx
Due: go-fmt, go-vet, biome

Implement Air Gap Mode feature (Enterprise)
  internal/airgap/airgap.go
  internal/airgap/airgap_test.go
  internal/api/handlers/airgap.go
  internal/api/routes.go
  internal/config/server.go
  internal/config/server_test.go
  internal/db/migrations/031_offline_licenses.sql
  internal/db/store.go
  internal/license/offline.go
  internal/license/offline_test.go
  internal/models/offline_license.go
  internal/notifications/webhook.go
  internal/updater/updater.go
  web/src/App.tsx
  web/src/components/Layout.test.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useAirGap.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/pt.json
  web/src/pages/AirGapLicense.tsx
Due: go-fmt, go-vet, biome

Implement Air Gap Mode feature (Enterprise) (#221)
  internal/airgap/airgap.go
  internal/airgap/airgap_test.go
  internal/api/handlers/airgap.go
  internal/api/routes.go
  internal/config/server.go
  internal/config/server_test.go
  internal/db/migrations/033_offline_licenses.sql
  internal/db/store.go
  internal/license/offline.go
  internal/license/offline_test.go
  internal/models/offline_license.go
  internal/notifications/webhook.go
  internal/updater/updater.go
  web/src/App.tsx
  web/src/components/Layout.test.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useAirGap.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/pt.json
  web/src/pages/AirGapLicense.tsx
Due: go-fmt, go-vet, biome

Document Go 1.25.7+ runtime requirement and stdlib security fixes
  README.md
  docker/Dockerfile.agent
  docker/Dockerfile.server
  docs/infrastructure-requirements.md
Due: none

Document Go 1.25.7+ runtime requirement and stdlib security fixes (#222)
  README.md
  docker/Dockerfile.agent
  docker/Dockerfile.server
  docs/infrastructure-requirements.md
Due: none

Add request body size limits middleware
  docs/production-security.md
  internal/api/middleware/bodylimit.go
  internal/api/middleware/bodylimit_test.go
  internal/api/routes.go
Due: go-fmt, go-vet

Add request body size limits middleware (#223)
  docs/production-security.md
  internal/api/middleware/bodylimit.go
  internal/api/middleware/bodylimit_test.go
  internal/api/routes.go
Due: go-fmt, go-vet

Add SSRF protection for webhook URLs
  internal/api/handlers/notifications.go
  internal/api/routes.go
  internal/notifications/service.go
  internal/notifications/service_test.go
  internal/notifications/url_validator.go
  internal/notifications/url_validator_test.go
  internal/notifications/webhook.go
  internal/notifications/webhook_test.go
Due: go-fmt, go-vet

Add SSRF protection for webhook URLs (#224)
  internal/api/handlers/notifications.go
  internal/api/routes.go
  internal/notifications/service.go
  internal/notifications/service_test.go
  internal/notifications/url_validator.go
  internal/notifications/url_validator_test.go
  internal/notifications/webhook.go
  internal/notifications/webhook_test.go
Due: go-fmt, go-vet
