Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
    go-vet:
      glob: "*.go"
      run: go vet ./...
    biome:
      glob: "web/**/*.{js,ts,jsx,tsx}"
      run: cd web && npx @biomejs/biome check --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: go test ./...
    lint:
      run: cd web && npx @biomejs/biome check .

Fix CI failures: rename migration and fix accessibility lint errors
  internal/db/migrations/072_backup_hook_templates.sql
  web/src/hooks/useBackupHookTemplates.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/BackupHookTemplates.tsx
Due: biome

Implement pre-built backup hook templates (#119)
  internal/api/handlers/backup_hook_templates.go
  internal/api/routes.go
  internal/db/migrations/072_backup_hook_templates.sql
  internal/db/store_backup_hook_templates.go
  internal/hooks/loader.go
  internal/hooks/templates/authentik.yaml
  internal/hooks/templates/mailcow.yaml
  internal/hooks/templates/mariadb.yaml
  internal/hooks/templates/mongodb.yaml
  internal/hooks/templates/mysql.yaml
  internal/hooks/templates/n8n.yaml
  internal/hooks/templates/postgresql.yaml
  internal/hooks/templates/redis.yaml
  internal/models/backup_hook_template.go
  package-lock.json
  web/src/App.tsx
  web/src/hooks/useBackupHookTemplates.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/BackupHookTemplates.tsx
Due: go-fmt, go-vet, biome

Implement global superuser admin system
  internal/api/handlers/auth.go
  internal/api/handlers/superuser.go
  internal/api/middleware/superuser.go
  internal/api/routes.go
  internal/auth/session.go
  internal/auth/superuser.go
  internal/db/migrations/059_superuser.sql
  internal/db/store.go
  internal/db/store_password_policy.go
  internal/db/store_superuser.go
  internal/models/superuser.go
  internal/models/user.go
  web/src/components/Layout.tsx
  web/src/lib/types.ts
Due: go-fmt, go-vet, biome

Renumber superuser migration to 073
  internal/db/migrations/073_superuser.sql
Due: none

Implement global superuser admin system (#120)
  internal/api/handlers/auth.go
  internal/api/handlers/superuser.go
  internal/api/middleware/superuser.go
  internal/api/routes.go
  internal/auth/session.go
  internal/auth/superuser.go
  internal/db/migrations/073_superuser.sql
  internal/db/store.go
  internal/db/store_password_policy.go
  internal/db/store_superuser.go
  internal/models/superuser.go
  internal/models/user.go
  web/src/components/Layout.tsx
  web/src/lib/types.ts
Due: go-fmt, go-vet, biome

Implement system-wide configuration settings (SMTP, OIDC, storage, security)
  internal/api/handlers/system_settings.go
  internal/api/routes.go
  internal/db/migrations/059_system_settings.sql
  internal/db/store_system_settings.go
  internal/settings/system.go
  web/src/hooks/useSystemSettings.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/SystemSettings.tsx
Due: go-fmt, go-vet, biome

Fix Biome lint errors in SystemSettings.tsx
  web/src/pages/SystemSettings.tsx
Due: biome

Fix migration number conflict and import sorting
  internal/db/migrations/074_system_settings.sql
  web/src/hooks/useSystemSettings.ts
  web/src/lib/api.ts
Due: biome

Implement system-wide configuration settings (#121)
  internal/api/handlers/system_settings.go
  internal/api/routes.go
  internal/db/migrations/074_system_settings.sql
  internal/db/store_system_settings.go
  internal/settings/system.go
  web/src/hooks/useSystemSettings.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/SystemSettings.tsx
Due: go-fmt, go-vet, biome

Implement user administration features
  internal/api/handlers/users.go
  internal/api/routes.go
  internal/auth/rbac.go
  internal/auth/session.go
  internal/db/migrations/059_user_management.sql
  internal/db/store_user_management.go
  internal/models/membership.go
  internal/models/user.go
  web/src/App.tsx
  web/src/hooks/useUsers.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/UserManagement.tsx
Due: go-fmt, go-vet, biome

Fix CI failures: rename migration and fix linting
  internal/db/migrations/075_user_management.sql
  web/src/App.tsx
  web/src/lib/api.ts
  web/src/pages/UserManagement.tsx
Due: biome

Implement user administration features (#122)
  internal/api/handlers/superuser.go
  internal/api/handlers/users.go
  internal/api/routes.go
  internal/auth/rbac.go
  internal/auth/session.go
  internal/db/migrations/075_user_management.sql
  internal/db/store_user_management.go
  internal/models/membership.go
  internal/models/user.go
  web/src/App.tsx
  web/src/hooks/useUsers.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/UserManagement.tsx
Due: go-fmt, go-vet, biome

Implement superuser organization management interface
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useAdminOrganizations.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/OrgManagement.tsx
Due: biome

Update package-lock.json after dependency install
  package-lock.json
Due: none

Fix Biome lint and format errors
  web/src/App.tsx
  web/src/lib/api.ts
  web/src/pages/OrgManagement.tsx
Due: biome

Implement superuser organization management interface (#123)
  package-lock.json
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useAdminOrganizations.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/OrgManagement.tsx
Due: biome

Implement contextual upgrade prompts for plan-gated features
  web/src/components/features/UpgradePrompt.tsx
  web/src/hooks/usePlanLimits.ts
  web/src/lib/types.ts
  web/src/lib/upgrade.ts
  web/src/pages/Agents.tsx
  web/src/pages/AuditLogs.tsx
  web/src/pages/LegalHolds.tsx
  web/src/pages/LifecyclePolicies.tsx
  web/src/pages/OrganizationSSOSettings.tsx
  web/src/pages/Reports.tsx
Due: biome

Implement license key generation and validation system
  internal/db/migrations/076_licenses.sql
  internal/license/license.go
  internal/license/license_test.go
  internal/license/limits.go
  internal/license/startup.go
  internal/models/license.go
Due: go-fmt, go-vet

Implement license key generation and validation system (#124)
  internal/db/migrations/076_licenses.sql
  internal/license/license.go
  internal/license/license_test.go
  internal/license/limits.go
  internal/license/startup.go
  internal/models/license.go
Due: go-fmt, go-vet

Implement feature flag system tied to license tiers
  internal/api/handlers/license.go
  internal/api/middleware/features.go
  internal/api/routes.go
  internal/db/migrations/076_license_features.sql
  internal/db/store_license.go
  internal/license/features.go
  web/src/hooks/useFeature.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: go-fmt, go-vet, biome
