Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
    go-vet:
      glob: "*.go"
      run: go vet ./...
    biome:
      glob: "web/**/*.{js,ts,jsx,tsx}"
      run: cd web && npx @biomejs/biome check --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: go test ./...
    lint:
      run: cd web && npx @biomejs/biome check .

Add Continue Setup button to sidebar during onboarding
  web/src/components/Layout.tsx
Due: biome

Hide verification UI when verification is not configured
  web/src/hooks/useVerifications.ts
  web/src/pages/Repositories.tsx
Due: biome

Wire up verification scheduler for repository integrity checks
  cmd/keldris-server/main.go
  web/src/hooks/useVerifications.ts
  web/src/pages/Repositories.tsx
Due: go-fmt, go-vet, biome

Update agent download URLs to use GitHub Releases
  .github/workflows/release.yml
  scripts/install-linux.sh
  scripts/install-macos.sh
  scripts/install-windows.ps1
  web/src/components/features/AgentDownloads.tsx
  web/src/lib/constants.ts
Due: biome

Decouple release job from Docker build
  .github/workflows/release.yml
Due: none

Add license system with Ed25519 validation, feature gating, and phone-home
  cmd/keldris-server/main.go
  docker/docker-compose.yml
  internal/api/handlers/agents.go
  internal/api/handlers/license_info.go
  internal/api/handlers/organizations.go
  internal/api/middleware/features.go
  internal/api/middleware/limits.go
  internal/api/routes.go
  internal/config/server.go
  internal/db/migrations/038_instance_id.sql
  internal/db/store.go
  internal/license/ed25519.go
  internal/license/validator.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/components/features/TierBadge.tsx
  web/src/components/features/UpgradePrompt.tsx
  web/src/hooks/useLicense.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/License.tsx
Due: go-fmt, go-vet, biome

Wire up metrics provider and fix audit findings
  .env.example
  cmd/keldris-server/main.go
  internal/db/store.go
  web/src/lib/api.ts
Due: go-fmt, go-vet, biome

Wire up global UpgradePrompt for 402 responses
  web/src/App.tsx
  web/src/hooks/useUpgradePrompt.tsx
  web/src/lib/api.ts
Due: biome

Fix Biome lint errors in license UI components
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/components/features/UpgradePrompt.tsx
  web/src/hooks/useUpgradePrompt.tsx
  web/src/lib/api.ts
  web/src/pages/License.tsx
Due: biome

Pin Go version to 1.25.7 in CI to fix govulncheck
  .github/workflows/ci.yml
Due: none

Fetch server version dynamically in sidebar
  web/src/components/Layout.tsx
  web/src/hooks/useVersion.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: biome

Add GUI license management, entitlement gating, theme toggle, and onboarding license step
  cmd/keldris-server/main.go
  internal/api/handlers/license_info.go
  internal/api/handlers/license_manage.go
  internal/api/middleware/features.go
  internal/api/routes.go
  internal/license/entitlement.go
  internal/license/offline.go
  internal/license/validator.go
  internal/models/onboarding.go
  web/src/components/Layout.tsx
  web/src/hooks/useLicense.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/License.tsx
  web/src/pages/Onboarding.tsx
Due: go-fmt, go-vet, biome

Fix onboarding tests to expect license step after welcome
  internal/api/handlers/onboarding_test.go
  internal/models/models_test.go
Due: go-fmt, go-vet

Fix license validator bugs and complete dark mode coverage
  cmd/keldris-server/main.go
  internal/api/handlers/license_manage.go
  internal/db/store.go
  internal/license/validator.go
  web/dist/index.html
  web/src/components/Layout.tsx
  web/src/pages/Onboarding.tsx
Due: go-fmt, go-vet, biome

Remove LICENSE_KEY from docker-compose and env example
  .env.example
  docker/docker-compose.yml
Due: none

Hardcode Ed25519 public key, remove AIRGAP_PUBLIC_KEY env var
  .env.example
  docker/docker-compose.yml
  internal/config/server.go
Due: go-fmt, go-vet

Parse customer_id, expires_at, issued_at from license server response
  internal/license/validator.go
Due: go-fmt, go-vet

Improve limits fallback to require all fields empty before using defaults
  internal/license/validator.go
Due: go-fmt, go-vet

Remove storage from license limits
  internal/license/entitlement.go
  internal/license/limits.go
  internal/license/limits_test.go
  internal/license/offline.go
  internal/license/validator.go
  web/src/lib/types.ts
  web/src/pages/License.tsx
Due: go-fmt, go-vet, biome

Display customer name from license server on License page
  internal/api/handlers/license_info.go
  internal/license/license.go
  internal/license/validator.go
  web/src/lib/types.ts
  web/src/pages/License.tsx
Due: go-fmt, go-vet, biome

Remove dead code and wire useMetrics hooks to Dashboard
  internal/api/middleware/auth.go
  internal/api/middleware/auth_test.go
  internal/backup/compare.go
  internal/backup/compare_test.go
  internal/backup/restic.go
  internal/backup/restic_test.go
  internal/backup/scheduler.go
  internal/backup/scheduler_test.go
  internal/db/store.go
  internal/db/store_integration_test.go
  internal/maintenance/maintenance.go
  internal/maintenance/maintenance_test.go
  web/src/pages/Dashboard.tsx
Due: go-fmt, go-vet, biome

Wire monitoring, reports, and DR test runner into server startup
  cmd/keldris-server/main.go
  internal/excludes/excludes_test.go
  internal/excludes/library.go
  web/src/lib/types.ts
Due: go-fmt, go-vet, biome

Fix struct fields and API methods from resume-backups and max-file-size merges
  internal/backup/scheduler.go
  internal/models/backup.go
  internal/models/schedule.go
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: go-fmt, go-vet, biome

Fix union merge artifacts: restore missing methods, remove duplicate declarations
  internal/api/handlers/agent_api.go
  internal/api/handlers/snapshots.go
  internal/backup/scheduler.go
  web/src/hooks/useAgents.ts
  web/src/hooks/useRateLimits.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/AgentDetails.tsx
  web/src/pages/Restore.tsx
Due: go-fmt, go-vet, biome

Fix Phase 5 union merge conflicts across Go and TypeScript
  internal/api/handlers/notifications.go
  internal/api/handlers/sla.go
  internal/api/handlers/snapshots.go
  internal/api/routes.go
  internal/backup/scheduler.go
  internal/db/store.go
  internal/models/notification.go
  internal/models/schedule.go
  internal/notifications/service.go
  internal/sla/sla.go
  internal/sla/tracker.go
  web/src/App.tsx
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Backups.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Fix Phase 6 union merge conflicts and add Docker store implementations
  internal/api/handlers/docker_backup.go
  internal/api/handlers/docker_backup_test.go
  internal/api/routes.go
  internal/backup/docker/detector.go
  internal/backup/docker/docker.go
  internal/backup/docker/types.go
  internal/backup/docker/volumes.go
  internal/db/store.go
  internal/db/store_docker_registries.go
  internal/db/store_komodo.go
  internal/models/backup.go
  internal/models/schedule.go
  web/src/App.tsx
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/pt.json
Due: go-fmt, go-vet, biome

Fix remaining TypeScript errors from union merge
  web/src/App.tsx
  web/src/components/ErrorBoundary.tsx
  web/src/components/Layout.tsx
  web/src/components/features/ContainerHooksEditor.tsx
  web/src/components/features/TierBadge.tsx
  web/src/components/features/TrialBanner.tsx
  web/src/components/features/UpgradePrompt.tsx
  web/src/components/ui/Toast.tsx
  web/src/components/ui/index.ts
  web/src/contexts/BrandingContext.tsx
  web/src/hooks/useAgentGroups.ts
  web/src/hooks/useAgents.ts
  web/src/hooks/useRepositories.ts
  web/src/hooks/useSearch.ts
  web/src/hooks/useUpgradePrompt.tsx
  web/src/hooks/useUsers.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/BackupHookTemplates.tsx
  web/src/pages/BrandingSettings.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/OrganizationSSOSettings.tsx
  web/src/pages/Reports.tsx
  web/src/pages/SnapshotCompare.tsx
  web/src/pages/UserManagement.tsx
Due: biome

Fix CI workflow YAML errors from union merge
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Fix staticcheck errors: remove unused functions and duplicate import
  cmd/keldris-agent/main.go
  internal/api/routes.go
  internal/backup/scheduler.go
  internal/crypto/keymanager.go
  internal/updater/updater.go
Due: go-fmt, go-vet

Regenerate corrupted package-lock.json, make govulncheck non-blocking
  .github/workflows/ci.yml
  web/package-lock.json
Due: none

Fix CI: install biome linux binary, regenerate lockfile
  .github/workflows/ci.yml
Due: none

Fix biome.json corruption, auto-format source, untrack dist/
  web/biome.json
  web/dist/assets/index-B4riJxeG.css
  web/dist/assets/index-B9x5aRAB.css
  web/dist/assets/index-BGDnX0Qk.css
  web/dist/assets/index-BNtvWzyh.css
  web/dist/assets/index-BrWy4xhO.css
  web/dist/assets/index-Bxzr65qR.js
  web/dist/assets/index-CCkZIiOi.js
  web/dist/assets/index-CHkQDSW5.js
  web/dist/assets/index-CNJ2cpTk.js
  web/dist/assets/index-Cjs04sBu.css
  web/dist/assets/index-D6kcw5Ql.css
  web/dist/assets/index-D75wyFD6.js
  web/dist/assets/index-DXIqWDFD.js
  web/dist/assets/index-k6B-AKhw.js
  web/dist/assets/index-lLdTvCPf.css
  web/dist/assets/index-pcS93NUn.js
  web/dist/index.html
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useLicense.ts
  web/src/lib/api.test.ts
  web/src/lib/api.ts
  web/src/pages/AgentGroups.tsx
  web/src/pages/Agents.tsx
  web/src/pages/BrandingSettings.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/License.tsx
  web/src/pages/Onboarding.tsx
  web/src/pages/Policies.tsx
  web/src/pages/Repositories.tsx
  web/src/pages/Restore.tsx
  web/src/pages/Schedules.tsx
  web/tsconfig.tsbuildinfo
Due: biome

Fix CI: install all platform-specific linux binaries
  .github/workflows/ci.yml
Due: none

Fix NOW() in index predicates for migrations 040 and 098
  internal/db/migrations/040_snapshot_immutability.sql
  internal/db/migrations/098_invite_enhancements.sql
Due: none

Fix NOW() in index predicate in migration 052
  internal/db/migrations/052_agent_logs.sql
Due: none

Fix migration 059: drop constraint instead of index
  internal/db/migrations/059_add_password_policies.sql
Due: none
