Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
    go-vet:
      glob: "*.go"
      run: go vet ./...
    biome:
      glob: "web/**/*.{js,ts,jsx,tsx}"
      run: cd web && npx @biomejs/biome check --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: go test ./...
    lint:
      run: cd web && npx @biomejs/biome check .

Add pre-built exclude patterns library for schedules (#35)
  internal/api/handlers/exclude_patterns.go
  internal/api/routes.go
  internal/db/migrations/021_add_exclude_patterns.sql
  internal/db/store.go
  internal/excludes/library.go
  internal/models/exclude_pattern.go
  web/dist/assets/index-BJgKmG17.css
  web/dist/assets/index-DTU89Y_C.js
  web/src/components/features/PatternLibraryModal.tsx
  web/src/hooks/useExcludePatterns.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Implement scheduled maintenance window system
  internal/api/handlers/maintenance.go
  internal/api/routes.go
  internal/backup/scheduler.go
  internal/db/migrations/012_add_maintenance_windows.sql
  internal/db/store.go
  internal/maintenance/maintenance.go
  internal/models/maintenance_window.go
  internal/models/notification.go
  internal/notifications/email.go
  internal/notifications/service.go
  internal/notifications/templates/maintenance_scheduled.html
  web/dist/assets/index-BO5Zlxjy.js
  web/dist/assets/index-BZErFl_8.js
  web/dist/assets/index-EYwX1-DP.css
  web/dist/assets/index-mj8ZIFEL.css
  web/dist/index.html
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/components/features/MaintenanceBanner.tsx
  web/src/hooks/useMaintenance.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Maintenance.tsx
  web/tsconfig.tsbuildinfo
Due: go-fmt, go-vet, biome

Fix CI failures: remove merge conflict marker and fix biome lint errors
  internal/db/store.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/components/features/MaintenanceBanner.tsx
  web/src/pages/Maintenance.tsx
Due: go-fmt, go-vet, biome

Fix CI: rename migration to 022 and fix TypeScript null check
  internal/db/migrations/022_add_maintenance_windows.sql
  web/dist/assets/index-BZErFl_8.js
  web/dist/assets/index-mj8ZIFEL.css
  web/src/components/features/MaintenanceBanner.tsx
Due: biome

Implement scheduled maintenance window system (#36)
  internal/api/handlers/maintenance.go
  internal/api/routes.go
  internal/backup/scheduler.go
  internal/db/migrations/022_add_maintenance_windows.sql
  internal/db/store.go
  internal/maintenance/maintenance.go
  internal/models/maintenance_window.go
  internal/models/notification.go
  internal/notifications/email.go
  internal/notifications/service.go
  internal/notifications/templates/maintenance_scheduled.html
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/components/features/MaintenanceBanner.tsx
  web/src/hooks/useMaintenance.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Maintenance.tsx
Due: go-fmt, go-vet, biome

Implement backup scripts feature with pre/post execution hooks
  internal/api/handlers/backup_scripts.go
  internal/api/routes.go
  internal/backup/scheduler.go
  internal/db/migrations/012_backup_scripts.sql
  internal/db/store.go
  internal/models/backup.go
  internal/models/backup_script.go
  web/src/components/features/BackupScriptsEditor.tsx
  web/src/hooks/useBackupScripts.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Backups.tsx
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Add missing GetEnabledBackupScriptsByScheduleID to test mock
  internal/backup/scheduler_test.go
Due: go-fmt, go-vet

Fix migration version conflict: rename 012 to 023
  internal/db/migrations/023_backup_scripts.sql
Due: none

Implement backup scripts feature with pre/post execution hooks (#37)
  internal/api/handlers/backup_scripts.go
  internal/api/routes.go
  internal/backup/scheduler.go
  internal/backup/scheduler_test.go
  internal/db/migrations/023_backup_scripts.sql
  internal/db/store.go
  internal/models/backup.go
  internal/models/backup_script.go
  web/src/components/features/BackupScriptsEditor.tsx
  web/src/hooks/useBackupScripts.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Backups.tsx
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Implement network drive backup support (NFS/SMB/CIFS)
  cmd/keldris-agent/main.go
  docs/network-mounts.md
  internal/api/handlers/agents.go
  internal/api/handlers/schedules.go
  internal/backup/network_drives.go
  internal/backup/scheduler.go
  internal/db/migrations/012_add_network_mounts.sql
  internal/db/store.go
  internal/models/agent.go
  internal/models/network_mount.go
  internal/models/schedule.go
  web/src/components/features/NetworkMountSelector.tsx
  web/src/components/features/NetworkMountStatus.tsx
  web/src/lib/types.ts
  web/src/pages/Agents.tsx
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Fix CI failures: migration version conflict and Biome lint errors
  internal/db/migrations/024_add_network_mounts.sql
  web/src/components/features/NetworkMountSelector.tsx
  web/src/components/features/NetworkMountStatus.tsx
Due: biome

Implement network drive backup support (NFS/SMB/CIFS) (#38)
  cmd/keldris-agent/main.go
  docs/network-mounts.md
  internal/api/handlers/agents.go
  internal/api/handlers/schedules.go
  internal/backup/network_drives.go
  internal/backup/scheduler.go
  internal/db/migrations/024_add_network_mounts.sql
  internal/db/store.go
  internal/models/agent.go
  internal/models/network_mount.go
  internal/models/schedule.go
  web/src/components/features/NetworkMountSelector.tsx
  web/src/components/features/NetworkMountStatus.tsx
  web/src/lib/types.ts
  web/src/pages/Agents.tsx
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Add UI dark mode toggle with system preference support
  web/src/components/Layout.tsx
  web/src/components/features/AgentDownloads.tsx
  web/src/hooks/useTheme.ts
  web/src/index.css
  web/src/pages/Agents.tsx
  web/src/pages/Alerts.tsx
  web/src/pages/AuditLogs.tsx
  web/src/pages/Backups.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/NewOrganization.tsx
  web/src/pages/Notifications.tsx
  web/src/pages/OrganizationMembers.tsx
  web/src/pages/OrganizationSettings.tsx
  web/src/pages/Repositories.tsx
  web/src/pages/RepositoryStatsDetail.tsx
  web/src/pages/Restore.tsx
  web/src/pages/Schedules.tsx
  web/src/pages/StorageStats.tsx
  web/tailwind.config.js
Due: biome

Fix Biome formatting issues in dark mode components
  web/src/components/Layout.tsx
  web/src/components/features/AgentDownloads.tsx
  web/src/hooks/useTheme.ts
  web/src/index.css
  web/src/pages/Agents.tsx
  web/src/pages/Alerts.tsx
  web/src/pages/AuditLogs.tsx
  web/src/pages/Backups.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/Notifications.tsx
  web/src/pages/OrganizationMembers.tsx
  web/src/pages/OrganizationSettings.tsx
  web/src/pages/Repositories.tsx
  web/src/pages/RepositoryStatsDetail.tsx
  web/src/pages/Restore.tsx
  web/src/pages/Schedules.tsx
  web/src/pages/StorageStats.tsx
Due: biome

Add UI dark mode toggle with system preference support (#39)
  web/src/components/Layout.tsx
  web/src/components/features/AgentDownloads.tsx
  web/src/hooks/useTheme.ts
  web/src/index.css
  web/src/pages/Agents.tsx
  web/src/pages/Alerts.tsx
  web/src/pages/AuditLogs.tsx
  web/src/pages/Backups.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/NewOrganization.tsx
  web/src/pages/Notifications.tsx
  web/src/pages/OrganizationMembers.tsx
  web/src/pages/OrganizationSettings.tsx
  web/src/pages/Repositories.tsx
  web/src/pages/RepositoryStatsDetail.tsx
  web/src/pages/Restore.tsx
  web/src/pages/Schedules.tsx
  web/src/pages/StorageStats.tsx
  web/tailwind.config.js
Due: biome

Implement multi-language support with react-i18next
  web/package-lock.json
  web/package.json
  web/src/components/Layout.tsx
  web/src/components/features/LanguageSelector.tsx
  web/src/hooks/useAuth.ts
  web/src/hooks/useLocale.ts
  web/src/lib/api.ts
  web/src/lib/i18n.ts
  web/src/lib/types.ts
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/pt.json
  web/src/main.tsx
  web/src/pages/Agents.tsx
  web/src/pages/Dashboard.tsx
Due: biome

Update build artifacts
  web/dist/assets/index-BO5Zlxjy.js
  web/dist/assets/index-CLJwzpja.js
  web/dist/assets/index-D1itUGl8.css
  web/dist/assets/index-EYwX1-DP.css
  web/dist/index.html
Due: biome

Restore .gitignore and remove tracked build artifacts
  .gitignore
  web/node_modules/.package-lock.json
  web/tsconfig.tsbuildinfo
Due: none

Fix api.ts to include all API exports from main
  web/src/lib/api.ts
Due: biome

Remove tracked build artifacts from web/dist
  web/dist/assets/index-CLJwzpja.js
  web/dist/assets/index-D1itUGl8.css
Due: biome
