Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
    go-vet:
      glob: "*.go"
      run: go vet ./...
    biome:
      glob: "web/**/*.{js,ts,jsx,tsx}"
      run: cd web && npx @biomejs/biome check --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: go test ./...
    lint:
      run: cd web && npx @biomejs/biome check .

Implement Terraform provider for Keldris infrastructure-as-code (#79)
  docs/terraform.md
  examples/terraform/main.tf
  examples/terraform/simple.tf.example
  examples/terraform/terraform.tfvars.example
  examples/terraform/variables.tf
  terraform-provider-keldris/README.md
  terraform-provider-keldris/go.mod
  terraform-provider-keldris/internal/keldris/client.go
  terraform-provider-keldris/internal/provider/agent_resource.go
  terraform-provider-keldris/internal/provider/agents_data_source.go
  terraform-provider-keldris/internal/provider/policy_resource.go
  terraform-provider-keldris/internal/provider/provider.go
  terraform-provider-keldris/internal/provider/repositories_data_source.go
  terraform-provider-keldris/internal/provider/repository_resource.go
  terraform-provider-keldris/internal/provider/schedule_resource.go
  terraform-provider-keldris/main.go
Due: go-fmt, go-vet

Implement Ansible role for agent deployment
  ansible/README.md
  ansible/roles/keldris_agent/README.md
  ansible/roles/keldris_agent/defaults/main.yml
  ansible/roles/keldris_agent/handlers/main.yml
  ansible/roles/keldris_agent/meta/main.yml
  ansible/roles/keldris_agent/tasks/configure.yml
  ansible/roles/keldris_agent/tasks/install.yml
  ansible/roles/keldris_agent/tasks/launchd.yml
  ansible/roles/keldris_agent/tasks/main.yml
  ansible/roles/keldris_agent/tasks/register.yml
  ansible/roles/keldris_agent/tasks/systemd.yml
  ansible/roles/keldris_agent/templates/config.yml.j2
  ansible/roles/keldris_agent/templates/io.keldris.agent.plist.j2
  ansible/roles/keldris_agent/templates/keldris-agent.service.j2
  ansible/roles/keldris_agent/vars/Darwin.yml
  ansible/roles/keldris_agent/vars/Debian.yml
  ansible/roles/keldris_agent/vars/RedHat.yml
  examples/ansible/README.md
  examples/ansible/deploy-agent.yml
  examples/ansible/inventory.example.yml
  examples/ansible/upgrade-agents.yml
Due: none

Implement Ansible role for agent deployment (#80)
  ansible/README.md
  ansible/roles/keldris_agent/README.md
  ansible/roles/keldris_agent/defaults/main.yml
  ansible/roles/keldris_agent/handlers/main.yml
  ansible/roles/keldris_agent/meta/main.yml
  ansible/roles/keldris_agent/tasks/configure.yml
  ansible/roles/keldris_agent/tasks/install.yml
  ansible/roles/keldris_agent/tasks/launchd.yml
  ansible/roles/keldris_agent/tasks/main.yml
  ansible/roles/keldris_agent/tasks/register.yml
  ansible/roles/keldris_agent/tasks/systemd.yml
  ansible/roles/keldris_agent/templates/config.yml.j2
  ansible/roles/keldris_agent/templates/io.keldris.agent.plist.j2
  ansible/roles/keldris_agent/templates/keldris-agent.service.j2
  ansible/roles/keldris_agent/vars/Darwin.yml
  ansible/roles/keldris_agent/vars/Debian.yml
  ansible/roles/keldris_agent/vars/RedHat.yml
  examples/ansible/README.md
  examples/ansible/deploy-agent.yml
  examples/ansible/inventory.example.yml
  examples/ansible/upgrade-agents.yml
Due: none

Implement API rate limit headers and admin dashboard
  docs/rate-limits.md
  internal/api/handlers/ratelimit.go
  internal/api/middleware/ratelimit.go
  internal/api/routes.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useRateLimits.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/RateLimitDashboard.tsx
Due: go-fmt, go-vet, biome

Fix staticcheck and biome linting issues
  internal/api/middleware/ratelimit.go
  web/src/App.tsx
  web/src/lib/api.ts
  web/src/pages/RateLimitDashboard.tsx
Due: go-fmt, go-vet, biome

Implement API rate limit headers and admin dashboard (#81)
  docs/rate-limits.md
  internal/api/handlers/ratelimit.go
  internal/api/middleware/ratelimit.go
  internal/api/routes.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useRateLimits.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/RateLimitDashboard.tsx
Due: go-fmt, go-vet, biome

Implement user sessions management for active session tracking
  internal/api/handlers/auth.go
  internal/api/handlers/user_sessions.go
  internal/api/middleware/auth.go
  internal/api/routes.go
  internal/auth/session.go
  internal/db/migrations/045_user_sessions.sql
  internal/db/store_user_session.go
  internal/models/user_session.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useUserSessions.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/UserSessions.tsx
Due: go-fmt, go-vet, biome

Fix CI failures: rename migration and fix Biome lint errors
  internal/db/migrations/046_user_sessions.sql
  web/src/lib/api.ts
Due: biome

Implement user sessions management (#82)
  internal/api/handlers/auth.go
  internal/api/handlers/user_sessions.go
  internal/api/middleware/auth.go
  internal/api/routes.go
  internal/auth/session.go
  internal/db/migrations/046_user_sessions.sql
  internal/db/store_user_session.go
  internal/models/user_session.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useUserSessions.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/UserSessions.tsx
Due: go-fmt, go-vet, biome

Implement IP allowlist feature for access control
  internal/api/handlers/ip_allowlists.go
  internal/api/middleware/audit.go
  internal/api/middleware/ipfilter.go
  internal/api/routes.go
  internal/db/migrations/045_ip_allowlists.sql
  internal/db/store.go
  internal/models/ip_allowlist.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useIPAllowlists.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/IPAllowlistSettings.tsx
Due: go-fmt, go-vet, biome

Fix CI failures: rename migration and fix linting
  internal/db/migrations/047_ip_allowlists.sql
  web/src/lib/api.ts
  web/src/pages/IPAllowlistSettings.tsx
Due: biome

Implement IP allowlist feature for access control (#83)
  internal/api/handlers/ip_allowlists.go
  internal/api/middleware/audit.go
  internal/api/middleware/ipfilter.go
  internal/api/routes.go
  internal/db/migrations/047_ip_allowlists.sql
  internal/db/store.go
  internal/models/ip_allowlist.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useIPAllowlists.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/IPAllowlistSettings.tsx
Due: go-fmt, go-vet, biome

Implement password policies for non-OIDC authentication
  internal/api/handlers/auth.go
  internal/api/handlers/password_policies.go
  internal/api/routes.go
  internal/auth/password_policy.go
  internal/db/migrations/045_add_password_policies.sql
  internal/db/store_password_policy.go
  internal/models/password_policy.go
  web/src/App.tsx
  web/src/components/ChangePasswordForm.tsx
  web/src/components/Layout.tsx
  web/src/components/PasswordExpirationBanner.tsx
  web/src/components/PasswordRequirements.tsx
  web/src/hooks/usePasswordPolicy.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/PasswordPolicies.tsx
Due: go-fmt, go-vet, biome

Fix lint and formatting errors in password policy components
  web/src/components/ChangePasswordForm.tsx
  web/src/components/Layout.tsx
  web/src/components/PasswordExpirationBanner.tsx
  web/src/components/PasswordRequirements.tsx
  web/src/pages/PasswordPolicies.tsx
Due: biome

Rename password policies migration to 048 to avoid duplicate version
  internal/db/migrations/048_add_password_policies.sql
Due: none

Implement password policies for non-OIDC authentication (#84)
  internal/api/handlers/auth.go
  internal/api/handlers/password_policies.go
  internal/api/routes.go
  internal/auth/password_policy.go
  internal/db/migrations/048_add_password_policies.sql
  internal/db/store_password_policy.go
  internal/models/password_policy.go
  web/src/App.tsx
  web/src/components/ChangePasswordForm.tsx
  web/src/components/Layout.tsx
  web/src/components/PasswordExpirationBanner.tsx
  web/src/components/PasswordRequirements.tsx
  web/src/hooks/usePasswordPolicy.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/PasswordPolicies.tsx
Due: go-fmt, go-vet, biome

Implement rate limits admin interface with configuration and IP bans
  internal/api/handlers/rate_limits.go
  internal/api/routes.go
  internal/db/migrations/045_rate_limits.sql
  internal/db/store.go
  internal/models/rate_limit.go
  web/src/App.tsx
  web/src/hooks/useRateLimits.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/RateLimits.tsx
Due: go-fmt, go-vet, biome

Fix CI failures: rename migration and fix biome linting
  internal/db/migrations/049_rate_limits.sql
  web/src/lib/api.ts
Due: biome

Add rate limits admin interface (#85)
  internal/api/handlers/rate_limits.go
  internal/api/routes.go
  internal/db/migrations/049_rate_limits.sql
  internal/db/store.go
  internal/models/rate_limit.go
  web/src/App.tsx
  web/src/hooks/useRateLimits.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/RateLimits.tsx
Due: go-fmt, go-vet, biome

Implement priority queue management for backups
  internal/api/handlers/schedules.go
  internal/backup/scheduler.go
  internal/db/migrations/045_schedule_priority.sql
  internal/db/store.go
  internal/models/schedule.go
  web/src/lib/types.ts
  web/src/pages/Dashboard.tsx
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome
