Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

go-fmt:
  run: gofmt -w {staged_files}
  stage_fixed: true

go-vet:
  run: go vet ./...

biome:
  run: cd web && npx @biomejs/biome check --write {staged_files}
  stage_fixed: true

Fix staticcheck S1039: remove unnecessary fmt.Sprintf calls
  internal/backup/databases/postgres.go
Due: go-fmt, go-vet

Implement direct PostgreSQL backup with pg_dump (#154)
  internal/api/handlers/postgres.go
  internal/api/handlers/schedules.go
  internal/backup/databases/postgres.go
  internal/models/schedule.go
Due: go-fmt, go-vet

Fix staticcheck ST1005: lowercase error strings
  internal/backup/vms/proxmox.go
Due: go-fmt, go-vet

Renumber Proxmox migration to 091 to avoid conflict
  internal/db/migrations/091_proxmox_backups.sql
Due: none

Implement outbound webhooks for all events
  internal/api/handlers/webhooks.go
  internal/api/routes.go
  internal/db/migrations/076_webhooks.sql
  internal/db/store_webhooks.go
  internal/models/webhook.go
  internal/webhooks/dispatcher.go
  web/src/App.tsx
  web/src/hooks/useWebhooks.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Webhooks.tsx
Due: go-fmt, go-vet, biome

Fix Biome linter errors in webhook frontend code
  web/src/App.tsx
  web/src/hooks/useWebhooks.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Webhooks.tsx
Due: biome

Fix duplicate migration version: rename 076_webhooks to 080_webhooks
  internal/db/migrations/080_webhooks.sql
Due: none

Fix duplicate migration version: rename 080_webhooks to 092_webhooks
  internal/db/migrations/092_webhooks.sql
Due: none

Implement outbound webhooks for all events (#156)
  internal/api/handlers/webhooks.go
  internal/api/routes.go
  internal/db/migrations/092_webhooks.sql
  internal/db/store_webhooks.go
  internal/models/webhook.go
  internal/webhooks/dispatcher.go
  web/src/App.tsx
  web/src/hooks/useWebhooks.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Webhooks.tsx
Due: go-fmt, go-vet, biome

Track .claude/ project settings in repository
  .claude/CLAUDE.md
  .claude/JOURNAL.md
  .claude/conductor.json
  .gitignore
Due: none

Update development journal with full project history
  .claude/JOURNAL.md
Due: none

Add user management store methods and API endpoints
  internal/api/handlers/users.go
  internal/api/routes.go
  internal/db/store.go
Due: go-fmt, go-vet

Add user management store methods and API endpoints (#157)
  internal/api/handlers/users.go
  internal/api/routes.go
  internal/db/store.go
Due: go-fmt, go-vet

Implement license feature gating system
  internal/api/middleware/features.go
  internal/license/features.go
  internal/license/license.go
  internal/license/limits.go
Due: go-fmt, go-vet

Implement license feature gating system (#158)
  internal/api/middleware/features.go
  internal/license/features.go
  internal/license/license.go
  internal/license/limits.go
Due: go-fmt, go-vet

Add Docker backup support in internal/backup/docker/
  internal/backup/docker/detector.go
  internal/backup/docker/docker.go
  internal/backup/docker/types.go
  internal/backup/docker/volumes.go
  internal/models/schedule.go
Due: go-fmt, go-vet

Add Docker backup support in internal/backup/docker/ (#159)
  internal/backup/docker/detector.go
  internal/backup/docker/docker.go
  internal/backup/docker/types.go
  internal/backup/docker/volumes.go
  internal/models/schedule.go
Due: go-fmt, go-vet

Add .env.example with all environment variables
  .env.example
Due: none

Add .env.example with all environment variables (#160)
  .env.example
Due: none

Implement missing notification channel senders
  internal/models/notification.go
  internal/notifications/pagerduty.go
  internal/notifications/pagerduty_test.go
  internal/notifications/service.go
  internal/notifications/slack.go
  internal/notifications/slack_test.go
  internal/notifications/webhook.go
  internal/notifications/webhook_test.go
Due: go-fmt, go-vet

Implement missing notification channel senders (#161)
  internal/models/notification.go
  internal/notifications/pagerduty.go
  internal/notifications/pagerduty_test.go
  internal/notifications/service.go
  internal/notifications/slack.go
  internal/notifications/slack_test.go
  internal/notifications/webhook.go
  internal/notifications/webhook_test.go
Due: go-fmt, go-vet

Clean up miscellaneous configuration and documentation issues
  .dockerignore
  docker/docker-compose.yml
  docs/api/swagger.json
  docs/api/swagger.yaml
  internal/db/migrations/003_alerts.sql
  internal/db/migrations/004_add_notifications.sql
  internal/db/migrations/005_repository_keys.sql
  internal/db/migrations/006_add_audit_logs.sql
  internal/db/migrations/007_add_storage_stats.sql
  internal/db/migrations/009_verification.sql
  internal/db/migrations/010_add_bandwidth_controls.sql
  internal/db/migrations/012_add_dr_tables.sql
  internal/db/migrations/013_multi_repo_schedules.sql
  internal/db/migrations/020_add_compression_level.sql
  internal/db/migrations/024_add_network_mounts.sql
  internal/db/migrations/025_add_onboarding.sql
Due: none

Path conditions:
  go-fmt: any of: *.go
  go-vet: any of: *.go
  biome: any of: web/**/*.{js,ts,jsx,tsx}
