Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

go-fmt:
  run: gofmt -w {staged_files}
  stage_fixed: true

go-vet:
  run: go vet ./...

biome:
  run: cd web && npx @biomejs/biome check --write {staged_files}
  stage_fixed: true

Implement cloud storage cost estimation feature
  internal/api/handlers/cost_estimation.go
  internal/api/routes.go
  internal/cost/calculator.go
  internal/db/migrations/012_add_cost_estimation.sql
  internal/db/store.go
  internal/models/cost_estimation.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useCostEstimation.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/lib/utils.ts
  web/src/pages/CostEstimation.tsx
Due: go-fmt, go-vet, biome

Fix CI failures: duplicate migration version and import order
  internal/db/migrations/027_add_cost_estimation.sql
  web/src/lib/api.ts
Due: biome

Update README with accurate status and screenshot placeholders
  README.md
  docs/images/screenshots/agents.svg
  docs/images/screenshots/dashboard.svg
  docs/images/screenshots/file-browser.svg
  docs/images/screenshots/schedules.svg
Due: none

Add tagline to README header
  README.md
Due: none

Fix NavItem type error: use labelKey instead of label
  web/src/components/Layout.tsx
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/pt.json
Due: biome

Add editions comparison table (Free/Pro/Enterprise)
  README.md
Due: none

Implement cloud storage cost estimation feature (#45)
  internal/api/handlers/cost_estimation.go
  internal/api/routes.go
  internal/cost/calculator.go
  internal/db/migrations/027_add_cost_estimation.sql
  internal/db/store.go
  internal/models/cost_estimation.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useCostEstimation.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/lib/utils.ts
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/pt.json
  web/src/pages/CostEstimation.tsx
Due: go-fmt, go-vet, biome

Implement OIDC group synchronization to organization roles
  internal/api/handlers/auth.go
  internal/api/handlers/sso_group_mappings.go
  internal/api/routes.go
  internal/auth/groupsync.go
  internal/db/migrations/012_add_sso_group_mappings.sql
  internal/db/store.go
  internal/models/sso_group_mapping.go
  web/dist/assets/index-BO5Zlxjy.js
  web/dist/assets/index-BmxDiAia.css
  web/dist/assets/index-DhMiesRh.js
  web/dist/assets/index-EYwX1-DP.css
  web/dist/index.html
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useSSOGroupMappings.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/OrganizationSSOSettings.tsx
  web/tsconfig.tsbuildinfo
Due: go-fmt, go-vet, biome

Fix Biome linting errors in frontend code
  web/src/App.tsx
  web/src/lib/api.ts
  web/src/pages/OrganizationSSOSettings.tsx
Due: biome

Fix duplicate migration version number
  internal/db/migrations/028_add_sso_group_mappings.sql
Due: none

Implement OIDC group synchronization to organization roles (#46)
  internal/api/handlers/auth.go
  internal/api/handlers/sso_group_mappings.go
  internal/api/routes.go
  internal/auth/groupsync.go
  internal/db/migrations/028_add_sso_group_mappings.sql
  internal/db/store.go
  internal/models/sso_group_mapping.go
  web/dist/assets/index-Bxzr65qR.js
  web/dist/assets/index-Cjs04sBu.css
  web/dist/index.html
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useSSOGroupMappings.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/OrganizationSSOSettings.tsx
Due: go-fmt, go-vet, biome

Update logo to use CDN image
  README.md
Due: none

Implement agent registration with 2FA verification codes
  internal/api/handlers/agent_registration.go
  internal/api/middleware/audit.go
  internal/api/routes.go
  internal/auth/agentmfa.go
  internal/db/migrations/012_agent_registration_codes.sql
  internal/db/store.go
  internal/models/registration_code.go
  web/src/hooks/useAgentRegistration.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Agents.tsx
Due: go-fmt, go-vet, biome

Fix CI failures: migration version conflict and Biome lint errors
  internal/db/migrations/029_agent_registration_codes.sql
  web/src/pages/Agents.tsx
Due: biome

Implement agent registration with 2FA verification codes (#47)
  internal/api/handlers/agent_registration.go
  internal/api/middleware/audit.go
  internal/api/routes.go
  internal/auth/agentmfa.go
  internal/db/migrations/029_agent_registration_codes.sql
  internal/db/store.go
  internal/models/registration_code.go
  web/src/hooks/useAgentRegistration.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Agents.tsx
Due: go-fmt, go-vet, biome

Implement repository import feature for existing Restic backups
  internal/api/handlers/repository_import.go
  internal/api/routes.go
  internal/backup/import.go
  internal/db/migrations/012_repository_import.sql
  internal/db/store.go
  internal/models/imported_snapshot.go
  web/src/components/features/ImportRepositoryWizard.tsx
  web/src/hooks/useRepositoryImport.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Repositories.tsx
Due: go-fmt, go-vet, biome

Add imported snapshot database methods after merge
  internal/db/store.go
Due: go-fmt, go-vet

Fix duplicate migration version number
  internal/db/migrations/030_repository_import.sql
Due: none

Implement repository import feature for existing Restic backups (#48)
  internal/api/handlers/repository_import.go
  internal/api/routes.go
  internal/backup/import.go
  internal/db/migrations/030_repository_import.sql
  internal/db/store.go
  internal/models/imported_snapshot.go
  web/src/components/features/ImportRepositoryWizard.tsx
  web/src/hooks/useRepositoryImport.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Repositories.tsx
Due: go-fmt, go-vet, biome

Implement auto-exclude files over configurable size limit
  internal/api/handlers/schedules.go
  internal/backup/largefile_scanner.go
  internal/backup/restic.go
  internal/backup/scheduler.go
  internal/db/migrations/031_add_max_file_size.sql
  internal/db/store.go
  internal/models/backup.go
  internal/models/schedule.go
  web/src/lib/types.ts
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Path conditions:
  go-fmt: any of: *.go
  go-vet: any of: *.go
  biome: any of: web/**/*.{js,ts,jsx,tsx}
