Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

go-fmt:
  run: gofmt -w {staged_files}
  stage_fixed: true

go-vet:
  run: go vet ./...

biome:
  run: cd web && npx @biomejs/biome check --write {staged_files}
  stage_fixed: true

Implement navigation breadcrumbs throughout UI
  web/src/components/Layout.tsx
  web/src/components/ui/Breadcrumbs.tsx
  web/src/hooks/useBreadcrumbs.ts
Due: biome

Implement navigation breadcrumbs throughout UI (#101)
  web/src/components/Layout.tsx
  web/src/components/ui/Breadcrumbs.tsx
  web/src/hooks/useBreadcrumbs.ts
Due: biome

Implement custom 404, 500, and maintenance error pages
  web/src/App.tsx
  web/src/components/ErrorBoundary.tsx
  web/src/pages/MaintenancePage.tsx
  web/src/pages/NotFound.tsx
  web/src/pages/ServerError.tsx
Due: biome

Fix Biome formatting in App.tsx and ErrorBoundary.tsx
  web/src/App.tsx
  web/src/components/ErrorBoundary.tsx
Due: biome

Implement custom error pages and error boundary (#102)
  web/src/App.tsx
  web/src/components/ErrorBoundary.tsx
  web/src/pages/MaintenancePage.tsx
  web/src/pages/NotFound.tsx
  web/src/pages/ServerError.tsx
Due: biome

Fix Biome formatting in Schedules.tsx
  web/src/pages/Schedules.tsx
Due: biome

Implement Docker container and volume backup support (#103)
  internal/api/handlers/schedules.go
  internal/backup/docker/detector.go
  internal/backup/docker/docker.go
  internal/models/agent.go
  internal/models/schedule.go
  web/src/lib/types.ts
  web/src/pages/AgentDetails.tsx
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Implement Docker container and volume restore functionality
  internal/api/handlers/docker_restore.go
  internal/api/routes.go
  internal/backup/docker/restore.go
  internal/db/migrations/059_docker_restores.sql
  internal/db/store_docker_restore.go
  internal/models/docker_restore.go
  web/src/components/features/DockerRestoreWizard.tsx
  web/src/hooks/useDockerRestore.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: go-fmt, go-vet, biome

Fix CI errors: resolve type conflicts and lint issues
  internal/backup/docker/restore.go
  internal/models/docker_restore.go
  web/src/components/features/DockerRestoreWizard.tsx
  web/src/lib/api.ts
Due: go-fmt, go-vet, biome

Rename docker_restores migration to 063 to avoid version conflict
  internal/db/migrations/063_docker_restores.sql
Due: none

Implement Docker container and volume restore (#104)
  internal/api/handlers/docker_restore.go
  internal/api/routes.go
  internal/backup/docker/restore.go
  internal/db/migrations/063_docker_restores.sql
  internal/db/store_docker_restore.go
  internal/models/docker_restore.go
  web/src/components/features/DockerRestoreWizard.tsx
  web/src/hooks/useDockerRestore.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: go-fmt, go-vet, biome

Implement Docker Compose stack backup and restore
  internal/api/handlers/docker_stacks.go
  internal/backup/docker/compose.go
  internal/models/docker_stack.go
  web/src/components/features/DockerStackSelector.tsx
  web/src/hooks/useDockerStacks.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Fix CI failures: remove duplicate error declarations and apply Biome formatting
  internal/backup/docker/compose.go
  web/src/components/features/DockerStackSelector.tsx
  web/src/hooks/useDockerStacks.ts
  web/src/lib/api.ts
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Fix staticcheck SA4006: remove unused stackName parameter assignment
  internal/backup/docker/compose.go
Due: go-fmt, go-vet

Implement Docker Compose stack backup and restore (#105)
  internal/api/handlers/docker_stacks.go
  internal/backup/docker/compose.go
  internal/models/docker_stack.go
  web/src/components/features/DockerStackSelector.tsx
  web/src/hooks/useDockerStacks.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Implement Docker image backup and registry functionality.
  internal/backup/docker/dedup.go
  internal/backup/docker/image_restore.go
  internal/backup/docker/images.go
  internal/backup/docker/images_test.go
  internal/backup/docker/scheduler.go
  internal/models/docker_image.go
Due: go-fmt, go-vet

Fix staticcheck SA4006: discard unused checksum variable in test
  internal/backup/docker/images_test.go
Due: go-fmt, go-vet

Implement Docker image backup and registry functionality (#106)
  internal/backup/docker/dedup.go
  internal/backup/docker/image_restore.go
  internal/backup/docker/images.go
  internal/backup/docker/images_test.go
  internal/backup/docker/scheduler.go
  internal/models/docker_image.go
Due: go-fmt, go-vet

Implement Docker network configuration backup and restore
  internal/backup/docker/networks.go
Due: go-fmt, go-vet

Fix type name conflicts with existing docker package declarations
  internal/backup/docker/networks.go
Due: go-fmt, go-vet

Path conditions:
  go-fmt: any of: *.go
  go-vet: any of: *.go
  biome: any of: web/**/*.{js,ts,jsx,tsx}
