Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
    go-vet:
      glob: "*.go"
      run: go vet ./...
    biome:
      glob: "web/**/*.{js,ts,jsx,tsx}"
      run: cd web && npx @biomejs/biome check --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: go test ./...
    lint:
      run: cd web && npx @biomejs/biome check .

Revert biome.json to v1.9.4 schema to match package.json
  web/biome.json
  web/src/App.tsx
  web/src/components/Layout.test.tsx
  web/src/hooks/useDRRunbooks.test.ts
  web/src/hooks/useOrganizations.test.ts
  web/src/lib/api.ts
  web/src/pages/DRRunbooks.tsx
Due: biome

Update tech stack docs, fix Makefile lint, and resolve biome v2 issues (#188)
  .claude/CLAUDE.md
  Makefile
  web/src/components/features/LanguageSelector.tsx
  web/src/hooks/useAgentGroups.ts
  web/src/hooks/useCostEstimation.ts
  web/src/hooks/useMaintenance.ts
  web/src/hooks/useOrganizations.ts
  web/src/pages/AgentGroups.tsx
  web/src/pages/Agents.tsx
  web/src/pages/Policies.tsx
  web/src/pages/Schedules.tsx
Due: biome

Add security response headers middleware
  internal/api/middleware/security_headers.go
  internal/api/middleware/security_headers_test.go
  internal/api/routes.go
Due: go-fmt, go-vet

Add security response headers middleware (#189)
  internal/api/middleware/security_headers.go
  internal/api/middleware/security_headers_test.go
  internal/api/routes.go
Due: go-fmt, go-vet

Fix encryption TODOs in notification and repository handlers
  internal/api/handlers/notifications.go
  internal/api/handlers/notifications_test.go
  internal/api/handlers/repositories.go
  internal/api/handlers/repositories_test.go
  internal/api/routes.go
Due: go-fmt, go-vet

Fix encryption TODOs in notification and repository handlers (#190)
  internal/api/handlers/notifications.go
  internal/api/handlers/notifications_test.go
  internal/api/handlers/repositories.go
  internal/api/handlers/repositories_test.go
  internal/api/routes.go
Due: go-fmt, go-vet

Add comprehensive UI component library
  web/src/components/ui/Button.test.tsx
  web/src/components/ui/Button.tsx
  web/src/components/ui/Card.test.tsx
  web/src/components/ui/Card.tsx
  web/src/components/ui/DataTable.test.tsx
  web/src/components/ui/DataTable.tsx
  web/src/components/ui/DropdownMenu.test.tsx
  web/src/components/ui/DropdownMenu.tsx
  web/src/components/ui/ErrorMessage.test.tsx
  web/src/components/ui/ErrorMessage.tsx
  web/src/components/ui/Form.test.tsx
  web/src/components/ui/Form.tsx
  web/src/components/ui/Input.test.tsx
  web/src/components/ui/Input.tsx
  web/src/components/ui/Label.test.tsx
  web/src/components/ui/Label.tsx
  web/src/components/ui/Modal.test.tsx
  web/src/components/ui/Modal.tsx
  web/src/components/ui/Pagination.test.tsx
  web/src/components/ui/Pagination.tsx
  web/src/components/ui/Select.test.tsx
  web/src/components/ui/Select.tsx
  web/src/components/ui/Tabs.test.tsx
  web/src/components/ui/Tabs.tsx
  web/src/components/ui/Toast.test.tsx
  web/src/components/ui/Toast.tsx
  web/src/components/ui/Tooltip.test.tsx
  web/src/components/ui/Tooltip.tsx
  web/src/components/ui/index.ts
Due: biome

Fix Biome lint and formatting issues in UI components
  web/src/components/ui/Button.tsx
  web/src/components/ui/DataTable.test.tsx
  web/src/components/ui/DataTable.tsx
  web/src/components/ui/DropdownMenu.test.tsx
  web/src/components/ui/DropdownMenu.tsx
  web/src/components/ui/Input.test.tsx
  web/src/components/ui/Label.tsx
  web/src/components/ui/Modal.tsx
  web/src/components/ui/Pagination.tsx
  web/src/components/ui/Select.test.tsx
  web/src/components/ui/Toast.tsx
  web/src/components/ui/Tooltip.test.tsx
  web/src/components/ui/Tooltip.tsx
Due: biome

Add comprehensive UI component library (#191)
  web/src/components/ui/Button.test.tsx
  web/src/components/ui/Button.tsx
  web/src/components/ui/Card.test.tsx
  web/src/components/ui/Card.tsx
  web/src/components/ui/DataTable.test.tsx
  web/src/components/ui/DataTable.tsx
  web/src/components/ui/DropdownMenu.test.tsx
  web/src/components/ui/DropdownMenu.tsx
  web/src/components/ui/ErrorMessage.test.tsx
  web/src/components/ui/ErrorMessage.tsx
  web/src/components/ui/Form.test.tsx
  web/src/components/ui/Form.tsx
  web/src/components/ui/Input.test.tsx
  web/src/components/ui/Input.tsx
  web/src/components/ui/Label.test.tsx
  web/src/components/ui/Label.tsx
  web/src/components/ui/Modal.test.tsx
  web/src/components/ui/Modal.tsx
  web/src/components/ui/Pagination.test.tsx
  web/src/components/ui/Pagination.tsx
  web/src/components/ui/Select.test.tsx
  web/src/components/ui/Select.tsx
  web/src/components/ui/Tabs.test.tsx
  web/src/components/ui/Tabs.tsx
  web/src/components/ui/Toast.test.tsx
  web/src/components/ui/Toast.tsx
  web/src/components/ui/Tooltip.test.tsx
  web/src/components/ui/Tooltip.tsx
  web/src/components/ui/index.ts
Due: biome

Update CLAUDE.md to match actual project structure
  .claude/CLAUDE.md
Due: none

Update CLAUDE.md to match actual project structure (#192)
  .claude/CLAUDE.md
Due: none

Harden Content-Security-Policy with route-based policies
  internal/api/middleware/security_headers.go
  internal/api/middleware/security_headers_test.go
Due: go-fmt, go-vet

Harden Content-Security-Policy with route-based policies (#193)
  internal/api/middleware/security_headers.go
  internal/api/middleware/security_headers_test.go
Due: go-fmt, go-vet

Add comprehensive tests for internal/cost package
  internal/cost/calculator_test.go
Due: go-fmt, go-vet

Add comprehensive tests for internal/cost package (#194)
  internal/cost/calculator_test.go
Due: go-fmt, go-vet

Add comprehensive tests for internal/dr package
  internal/dr/dr_test.go
Due: go-fmt, go-vet

Add comprehensive tests for internal/dr package (#195)
  internal/dr/dr_test.go
Due: go-fmt, go-vet

Add comprehensive tests for internal/excludes package
  internal/excludes/excludes_test.go
Due: go-fmt, go-vet

Add comprehensive tests for internal/excludes package (#196)
  internal/excludes/excludes_test.go
Due: go-fmt, go-vet

Add comprehensive tests for internal/health package with 89%+ coverage
  internal/health/health_test.go
Due: go-fmt, go-vet
