Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

go-fmt:
  run: gofmt -w {staged_files}
  stage_fixed: true

go-vet:
  run: go vet ./...

biome:
  run: cd web && npx @biomejs/biome check --write {staged_files}
  stage_fixed: true

Tighten audit findings: backup verify, notification rule scoping, dark mode (#271)
  internal/api/handlers/database_backup.go
  internal/api/handlers/notification_rules.go
  internal/api/routes.go
  internal/db/notification_rules.go
  internal/notifications/rules.go
  web/src/components/Layout.tsx
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/pt.json
Due: go-fmt, go-vet, biome

Cover remaining 21 handlers — every handler now has a test file
  internal/api/handlers/config_export_test.go
  internal/api/handlers/database_backup_test.go
  internal/api/handlers/database_connections_test.go
  internal/api/handlers/immutability_test.go
  internal/api/handlers/job_queue_test.go
  internal/api/handlers/komodo_integration_test.go
  internal/api/handlers/legal_holds_test.go
  internal/api/handlers/license_manage_test.go
  internal/api/handlers/lifecycle_policies_test.go
  internal/api/handlers/migration_test.go
  internal/api/handlers/postgres_test.go
  internal/api/handlers/proxmox_test.go
  internal/api/handlers/ransomware_test.go
  internal/api/handlers/rate_limits_test.go
  internal/api/handlers/ratelimit_test.go
  internal/api/handlers/repository_import_test.go
  internal/api/handlers/security_test.go
  internal/api/handlers/server_logs_test.go
  internal/api/handlers/server_setup_test.go
  internal/api/handlers/test_restore_test.go
Due: go-fmt, go-vet

Cover remaining 21 handlers — every handler now has a test file (#273)
  internal/api/handlers/config_export_test.go
  internal/api/handlers/database_backup_test.go
  internal/api/handlers/database_connections_test.go
  internal/api/handlers/immutability_test.go
  internal/api/handlers/job_queue_test.go
  internal/api/handlers/komodo_integration_test.go
  internal/api/handlers/legal_holds_test.go
  internal/api/handlers/license_manage_test.go
  internal/api/handlers/lifecycle_policies_test.go
  internal/api/handlers/migration_test.go
  internal/api/handlers/postgres_test.go
  internal/api/handlers/proxmox_test.go
  internal/api/handlers/ransomware_test.go
  internal/api/handlers/rate_limits_test.go
  internal/api/handlers/ratelimit_test.go
  internal/api/handlers/repository_import_test.go
  internal/api/handlers/security_test.go
  internal/api/handlers/server_logs_test.go
  internal/api/handlers/server_setup_test.go
  internal/api/handlers/test_restore_test.go
Due: go-fmt, go-vet

Add frontend hook + component test coverage
  web/src/components/features/AnnouncementBanner.test.tsx
  web/src/components/features/TierBadge.test.tsx
  web/src/components/ui/Breadcrumbs.test.tsx
  web/src/components/ui/ConfirmationModal.test.tsx
  web/src/components/ui/EmptyState.test.tsx
  web/src/components/ui/Skeleton.test.tsx
  web/src/hooks/useActivity.test.ts
  web/src/hooks/useAdminOrganizations.test.ts
  web/src/hooks/useAgentImport.test.ts
  web/src/hooks/useAgentRegistration.test.ts
  web/src/hooks/useDockerStacks.test.ts
  web/src/hooks/useDowntime.test.ts
  web/src/hooks/useFavorites.test.ts
  web/src/hooks/useFileSearch.test.ts
  web/src/hooks/useGeoReplication.test.ts
  web/src/hooks/useIPAllowlists.test.ts
  web/src/hooks/useImmutability.test.ts
  web/src/hooks/useRateLimits.test.ts
  web/src/hooks/useRecentItems.test.ts
  web/src/hooks/useRepositoryImport.test.ts
  web/src/hooks/useServerLogs.test.ts
  web/src/hooks/useSupport.test.ts
  web/src/hooks/useSystemSettings.test.ts
  web/src/hooks/useTrial.test.ts
  web/src/hooks/useUserSessions.test.ts
  web/src/hooks/useWebhooks.test.ts
Due: biome

Add frontend hook + component test coverage (#274)
  web/src/components/features/AnnouncementBanner.test.tsx
  web/src/components/features/TierBadge.test.tsx
  web/src/components/ui/Breadcrumbs.test.tsx
  web/src/components/ui/ConfirmationModal.test.tsx
  web/src/components/ui/EmptyState.test.tsx
  web/src/components/ui/Skeleton.test.tsx
  web/src/hooks/useActivity.test.ts
  web/src/hooks/useAdminOrganizations.test.ts
  web/src/hooks/useAgentImport.test.ts
  web/src/hooks/useAgentRegistration.test.ts
  web/src/hooks/useDockerStacks.test.ts
  web/src/hooks/useDowntime.test.ts
  web/src/hooks/useFavorites.test.ts
  web/src/hooks/useFileSearch.test.ts
  web/src/hooks/useGeoReplication.test.ts
  web/src/hooks/useIPAllowlists.test.ts
  web/src/hooks/useImmutability.test.ts
  web/src/hooks/useRateLimits.test.ts
  web/src/hooks/useRecentItems.test.ts
  web/src/hooks/useRepositoryImport.test.ts
  web/src/hooks/useServerLogs.test.ts
  web/src/hooks/useSupport.test.ts
  web/src/hooks/useSystemSettings.test.ts
  web/src/hooks/useTrial.test.ts
  web/src/hooks/useUserSessions.test.ts
  web/src/hooks/useWebhooks.test.ts
Due: biome

More hook + component test coverage
  web/src/components/ClassificationBadge.test.tsx
  web/src/components/StorageTierBadge.test.tsx
  web/src/components/features/SnapshotImmutabilityBadge.test.tsx
  web/src/hooks/useAnnouncements.test.ts
  web/src/hooks/useBreadcrumbs.test.ts
  web/src/hooks/useBulkSelect.test.ts
  web/src/hooks/useKeyboardShortcuts.test.ts
  web/src/hooks/useLegalHolds.test.ts
  web/src/hooks/useLicenses.test.ts
  web/src/hooks/useLifecyclePolicies.test.ts
  web/src/hooks/useMetadata.test.ts
  web/src/hooks/useMigration.test.ts
  web/src/hooks/useNotificationRules.test.ts
  web/src/hooks/useReadOnlyMode.test.ts
  web/src/hooks/useToast.test.ts
  web/src/hooks/useVersion.test.ts
Due: biome

More hook + component test coverage (#275)
  web/src/components/ClassificationBadge.test.tsx
  web/src/components/StorageTierBadge.test.tsx
  web/src/components/features/SnapshotImmutabilityBadge.test.tsx
  web/src/hooks/useAnnouncements.test.ts
  web/src/hooks/useBreadcrumbs.test.ts
  web/src/hooks/useBulkSelect.test.ts
  web/src/hooks/useKeyboardShortcuts.test.ts
  web/src/hooks/useLegalHolds.test.ts
  web/src/hooks/useLicenses.test.ts
  web/src/hooks/useLifecyclePolicies.test.ts
  web/src/hooks/useMetadata.test.ts
  web/src/hooks/useMigration.test.ts
  web/src/hooks/useNotificationRules.test.ts
  web/src/hooks/useReadOnlyMode.test.ts
  web/src/hooks/useToast.test.ts
  web/src/hooks/useVersion.test.ts
Due: biome

Cover the last 17 hooks + 3 more components — every hook now has a test
  web/src/components/features/AirGapIndicator.test.tsx
  web/src/components/features/TrialBanner.test.tsx
  web/src/hooks/useBackupCalendar.test.ts
  web/src/hooks/useBackupHookTemplates.test.ts
  web/src/hooks/useBackupQueue.test.ts
  web/src/hooks/useChangelog.test.ts
  web/src/hooks/useClassifications.test.ts
  web/src/hooks/useConfigExport.test.ts
  web/src/hooks/useContainerHooks.test.ts
  web/src/hooks/useDockerLogs.test.ts
  web/src/hooks/useDockerRegistries.test.ts
  web/src/hooks/useDockerRestore.test.ts
  web/src/hooks/useKomodoIntegration.test.ts
  web/src/hooks/useSLA.test.ts
  web/src/hooks/useSavedFilters.test.ts
  web/src/hooks/useSetup.test.ts
  web/src/hooks/useSnapshotMounts.test.ts
  web/src/hooks/useSystemHealth.test.ts
  web/src/hooks/useUsers.test.ts
Due: biome

Cover the last 17 hooks + 3 more components — every hook now has a test (#276)
  web/src/components/features/AirGapIndicator.test.tsx
  web/src/components/features/TrialBanner.test.tsx
  web/src/hooks/useBackupCalendar.test.ts
  web/src/hooks/useBackupHookTemplates.test.ts
  web/src/hooks/useBackupQueue.test.ts
  web/src/hooks/useChangelog.test.ts
  web/src/hooks/useClassifications.test.ts
  web/src/hooks/useConfigExport.test.ts
  web/src/hooks/useContainerHooks.test.ts
  web/src/hooks/useDockerLogs.test.ts
  web/src/hooks/useDockerRegistries.test.ts
  web/src/hooks/useDockerRestore.test.ts
  web/src/hooks/useKomodoIntegration.test.ts
  web/src/hooks/useSLA.test.ts
  web/src/hooks/useSavedFilters.test.ts
  web/src/hooks/useSetup.test.ts
  web/src/hooks/useSnapshotMounts.test.ts
  web/src/hooks/useSystemHealth.test.ts
  web/src/hooks/useUsers.test.ts
Due: biome

Cover 24 more components — only 15 wizards/heavy editors remain
  web/src/components/ErrorBoundary.test.tsx
  web/src/components/PasswordExpirationBanner.test.tsx
  web/src/components/PasswordRequirements.test.tsx
  web/src/components/features/DiffViewer.test.tsx
  web/src/components/features/DryRunResultsModal.test.tsx
  web/src/components/features/FeatureGate.test.tsx
  web/src/components/features/GeoReplicationStatusCard.test.tsx
  web/src/components/features/KeyboardShortcutsSettings.test.tsx
  web/src/components/features/LicenseBanner.test.tsx
  web/src/components/features/MaintenanceCountdown.test.tsx
  web/src/components/features/RegionMapIndicator.test.tsx
  web/src/components/features/SaveFilterButton.test.tsx
  web/src/components/features/SavedFiltersDropdown.test.tsx
  web/src/components/features/ShortcutHelpModal.test.tsx
  web/src/components/features/WhatsNewModal.test.tsx
  web/src/components/ui/BulkActions.test.tsx
  web/src/components/ui/BulkOperationProgress.test.tsx
  web/src/components/ui/BulkSelect.test.tsx
  web/src/components/ui/HelpTooltip.test.tsx
  web/src/components/ui/LoadingCard.test.tsx
  web/src/components/ui/LoadingRow.test.tsx
  web/src/components/ui/PageSkeletons.test.tsx
  web/src/components/ui/ReadOnlyBlocker.test.tsx
  web/src/components/ui/StarButton.test.tsx
Due: biome

Cover 24 more components — only 15 wizards/heavy editors remain (#277)
  web/src/components/ErrorBoundary.test.tsx
  web/src/components/PasswordExpirationBanner.test.tsx
  web/src/components/PasswordRequirements.test.tsx
  web/src/components/features/DiffViewer.test.tsx
  web/src/components/features/DryRunResultsModal.test.tsx
  web/src/components/features/FeatureGate.test.tsx
  web/src/components/features/GeoReplicationStatusCard.test.tsx
  web/src/components/features/KeyboardShortcutsSettings.test.tsx
  web/src/components/features/LicenseBanner.test.tsx
  web/src/components/features/MaintenanceCountdown.test.tsx
  web/src/components/features/RegionMapIndicator.test.tsx
  web/src/components/features/SaveFilterButton.test.tsx
  web/src/components/features/SavedFiltersDropdown.test.tsx
  web/src/components/features/ShortcutHelpModal.test.tsx
  web/src/components/features/WhatsNewModal.test.tsx
  web/src/components/ui/BulkActions.test.tsx
  web/src/components/ui/BulkOperationProgress.test.tsx
  web/src/components/ui/BulkSelect.test.tsx
  web/src/components/ui/HelpTooltip.test.tsx
  web/src/components/ui/LoadingCard.test.tsx
  web/src/components/ui/LoadingRow.test.tsx
  web/src/components/ui/PageSkeletons.test.tsx
  web/src/components/ui/ReadOnlyBlocker.test.tsx
  web/src/components/ui/StarButton.test.tsx
Due: biome

Test final 15 components — 100% component coverage
  web/src/components/features/ActivityFeed.test.tsx
  web/src/components/features/AgentLogViewer.test.tsx
  web/src/components/features/BackupCalendar.test.tsx
  web/src/components/features/BackupQueuePanel.test.tsx
  web/src/components/features/ContainerHooksEditor.test.tsx
  web/src/components/features/DockerRestoreWizard.test.tsx
  web/src/components/features/DockerStackSelector.test.tsx
  web/src/components/features/ExportImportModal.test.tsx
  web/src/components/features/GlobalSearchBar.test.tsx
  web/src/components/features/ImportAgentsWizard.test.tsx
  web/src/components/features/ImportRepositoryWizard.test.tsx
  web/src/components/features/MetadataEditor.test.tsx
  web/src/components/features/MetadataSchemaManager.test.tsx
  web/src/components/features/RecentItems.test.tsx
  web/src/components/features/UpgradePrompt.test.tsx
Due: biome

Test final 15 components — 100% component coverage (#278)
  web/src/components/features/ActivityFeed.test.tsx
  web/src/components/features/AgentLogViewer.test.tsx
  web/src/components/features/BackupCalendar.test.tsx
  web/src/components/features/BackupQueuePanel.test.tsx
  web/src/components/features/ContainerHooksEditor.test.tsx
  web/src/components/features/DockerRestoreWizard.test.tsx
  web/src/components/features/DockerStackSelector.test.tsx
  web/src/components/features/ExportImportModal.test.tsx
  web/src/components/features/GlobalSearchBar.test.tsx
  web/src/components/features/ImportAgentsWizard.test.tsx
  web/src/components/features/ImportRepositoryWizard.test.tsx
  web/src/components/features/MetadataEditor.test.tsx
  web/src/components/features/MetadataSchemaManager.test.tsx
  web/src/components/features/RecentItems.test.tsx
  web/src/components/features/UpgradePrompt.test.tsx
Due: biome

Add tests for Go middleware (limits, ipfilter, superuser) and web/lib/upgrade
  internal/api/middleware/ipfilter_test.go
  internal/api/middleware/limits_test.go
  internal/api/middleware/superuser_test.go
  web/src/lib/upgrade.test.ts
Due: go-fmt, go-vet, biome

Add tests for Go middleware (limits, ipfilter, superuser) and web/lib/upgrade (#279)
  internal/api/middleware/ipfilter_test.go
  internal/api/middleware/limits_test.go
  internal/api/middleware/superuser_test.go
  web/src/lib/upgrade.test.ts
Due: go-fmt, go-vet, biome

Add unit tests for auth, license, and backup internal packages
  internal/auth/agentmfa_test.go
  internal/auth/password_policy_test.go
  internal/auth/reset_test.go
  internal/auth/superuser_test.go
  internal/auth/verification_test.go
  internal/backup/diff_test.go
  internal/backup/largefile_scanner_test.go
  internal/license/ed25519_test.go
  internal/license/entitlement_test.go
Due: go-fmt, go-vet

Add unit tests for auth, license, and backup internal packages (#280)
  internal/auth/agentmfa_test.go
  internal/auth/password_policy_test.go
  internal/auth/reset_test.go
  internal/auth/superuser_test.go
  internal/auth/verification_test.go
  internal/backup/diff_test.go
  internal/backup/largefile_scanner_test.go
  internal/license/ed25519_test.go
  internal/license/entitlement_test.go
Due: go-fmt, go-vet

Add tests for settings, maintenance, metrics, migration, shutdown packages
  internal/maintenance/db_backup_test.go
  internal/metrics/scheduler_test.go
  internal/migration/types_test.go
  internal/settings/system_test.go
  internal/shutdown/backup_tracker_test.go
  internal/shutdown/health_adapter_test.go
Due: go-fmt, go-vet

Add tests for settings, maintenance, metrics, migration, shutdown packages (#281)
  internal/maintenance/db_backup_test.go
  internal/metrics/scheduler_test.go
  internal/migration/types_test.go
  internal/settings/system_test.go
  internal/shutdown/backup_tracker_test.go
  internal/shutdown/health_adapter_test.go
Due: go-fmt, go-vet

Remove unused tier field from mockLegalHoldStore
  internal/api/handlers/legal_holds_test.go
Due: go-fmt, go-vet

Remove unused tier field from mockLegalHoldStore (#282)
  internal/api/handlers/legal_holds_test.go
Due: go-fmt, go-vet

Bump golang.org/x/crypto to v0.52.0 and x/net to v0.54.0
  go.mod
  go.sum
Due: none

Bump golang.org/x/crypto to v0.52.0 and x/net to v0.54.0 (#283)
  go.mod
  go.sum
Due: none

Path conditions:
  go-fmt: any of: *.go
  go-vet: any of: *.go
  biome: any of: web/**/*.{js,ts,jsx,tsx}
