Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
    go-vet:
      glob: "*.go"
      run: go vet ./...
    biome:
      glob: "web/**/*.{js,ts,jsx,tsx}"
      run: cd web && npx @biomejs/biome check --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: go test ./...
    lint:
      run: cd web && npx @biomejs/biome check .

Clean up miscellaneous configuration and documentation issues (#162)
  .dockerignore
  docker/docker-compose.yml
  docs/api/swagger.json
  docs/api/swagger.yaml
  internal/db/migrations/003_alerts.sql
  internal/db/migrations/004_add_notifications.sql
  internal/db/migrations/005_repository_keys.sql
  internal/db/migrations/006_add_audit_logs.sql
  internal/db/migrations/007_add_storage_stats.sql
  internal/db/migrations/009_verification.sql
  internal/db/migrations/010_add_bandwidth_controls.sql
  internal/db/migrations/012_add_dr_tables.sql
  internal/db/migrations/013_multi_repo_schedules.sql
  internal/db/migrations/020_add_compression_level.sql
  internal/db/migrations/024_add_network_mounts.sql
  internal/db/migrations/025_add_onboarding.sql
Due: none

Add Teams and Discord notification senders
  internal/models/notification.go
  internal/notifications/discord.go
  internal/notifications/discord_test.go
  internal/notifications/service.go
  internal/notifications/teams.go
  internal/notifications/teams_test.go
Due: go-fmt, go-vet

Add Teams and Discord notification senders (#163)
  internal/models/notification.go
  internal/notifications/discord.go
  internal/notifications/discord_test.go
  internal/notifications/service.go
  internal/notifications/teams.go
  internal/notifications/teams_test.go
Due: go-fmt, go-vet

Create pkg/models/ for shared agent-server types
  internal/api/handlers/agent_api.go
  internal/models/agent.go
  internal/models/backup.go
  pkg/models/agent.go
  pkg/models/backup.go
  pkg/models/common.go
Due: go-fmt, go-vet

Create pkg/models/ for shared agent-server types (#164)
  internal/api/handlers/agent_api.go
  internal/models/agent.go
  internal/models/backup.go
  pkg/models/agent.go
  pkg/models/backup.go
  pkg/models/common.go
Due: go-fmt, go-vet

Add unit tests for handlers, middleware, models, and license packages
  internal/api/handlers/agents_test.go
  internal/api/handlers/backups_test.go
  internal/api/handlers/schedules_test.go
  internal/api/middleware/auth_test.go
  internal/api/middleware/features_test.go
  internal/api/middleware/ratelimit_test.go
  internal/license/features_test.go
  internal/license/license_test.go
  internal/license/limits_test.go
  internal/models/agent_test.go
  internal/models/backup_test.go
  internal/models/schedule_test.go
Due: go-fmt, go-vet

Add unit tests for handlers, middleware, models, and license packages (#165)
  internal/api/handlers/agents_test.go
  internal/api/handlers/backups_test.go
  internal/api/handlers/schedules_test.go
  internal/api/middleware/auth_test.go
  internal/api/middleware/features_test.go
  internal/api/middleware/ratelimit_test.go
  internal/license/features_test.go
  internal/license/license_test.go
  internal/license/limits_test.go
  internal/models/agent_test.go
  internal/models/backup_test.go
  internal/models/schedule_test.go
Due: go-fmt, go-vet

Code-split frontend to reduce bundle size
  web/src/App.tsx
  web/src/components/ui/LoadingSpinner.tsx
  web/src/pages/AgentDetails.tsx
  web/src/pages/AgentGroups.tsx
  web/src/pages/Agents.tsx
  web/src/pages/Alerts.tsx
  web/src/pages/AuditLogs.tsx
  web/src/pages/Backups.tsx
  web/src/pages/CostEstimation.tsx
  web/src/pages/DRRunbooks.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/FileHistory.tsx
  web/src/pages/Maintenance.tsx
  web/src/pages/NewOrganization.tsx
  web/src/pages/Notifications.tsx
  web/src/pages/Onboarding.tsx
  web/src/pages/OrganizationMembers.tsx
  web/src/pages/OrganizationSSOSettings.tsx
  web/src/pages/OrganizationSettings.tsx
  web/src/pages/Policies.tsx
  web/src/pages/Repositories.tsx
  web/src/pages/RepositoryStatsDetail.tsx
  web/src/pages/Restore.tsx
  web/src/pages/Schedules.tsx
  web/src/pages/SnapshotCompare.tsx
  web/src/pages/StorageStats.tsx
  web/src/pages/Tags.tsx
  web/vite.config.ts
Due: biome

Update dist build output with code-split chunks
  web/dist/index.html
Due: none

Code-split frontend to reduce bundle size (#166)
  web/dist/index.html
  web/src/App.tsx
  web/src/components/ui/LoadingSpinner.tsx
  web/src/pages/AgentDetails.tsx
  web/src/pages/AgentGroups.tsx
  web/src/pages/Agents.tsx
  web/src/pages/Alerts.tsx
  web/src/pages/AuditLogs.tsx
  web/src/pages/Backups.tsx
  web/src/pages/CostEstimation.tsx
  web/src/pages/DRRunbooks.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/FileHistory.tsx
  web/src/pages/Maintenance.tsx
  web/src/pages/NewOrganization.tsx
  web/src/pages/Notifications.tsx
  web/src/pages/Onboarding.tsx
  web/src/pages/OrganizationMembers.tsx
  web/src/pages/OrganizationSSOSettings.tsx
  web/src/pages/OrganizationSettings.tsx
  web/src/pages/Policies.tsx
  web/src/pages/Repositories.tsx
  web/src/pages/RepositoryStatsDetail.tsx
  web/src/pages/Restore.tsx
  web/src/pages/Schedules.tsx
  web/src/pages/SnapshotCompare.tsx
  web/src/pages/StorageStats.tsx
  web/src/pages/Tags.tsx
  web/vite.config.ts
Due: biome

Add soft delete support for historical records
  internal/db/migrations/029_add_soft_delete.sql
  internal/db/store.go
Due: go-fmt, go-vet

Add soft delete support for historical records (#167)
  internal/db/migrations/029_add_soft_delete.sql
  internal/db/store.go
Due: go-fmt, go-vet

Add comprehensive unit tests for backup package (85%+ coverage)
  internal/backup/compare_test.go
  internal/backup/filehistory_test.go
  internal/backup/network_drives_test.go
  internal/backup/restic_test.go
  internal/backup/retention_test.go
  internal/backup/scheduler_test.go
  internal/backup/stats_collector_test.go
  internal/backup/stats_test.go
  internal/backup/verification_test.go
Due: go-fmt, go-vet

Add comprehensive integration tests for database store
  go.mod
  go.sum
  internal/db/store_test.go
Due: go-fmt, go-vet

Fix failing store tests for backup window time format and verification NULL scan
  internal/db/store_test.go
Due: go-fmt, go-vet

Add comprehensive integration tests for database store (#168)
  go.mod
  go.sum
  internal/db/store_test.go
Due: go-fmt, go-vet

Add full integration verification report
  VERIFICATION.md
Due: none

Add full integration verification report (#169)
  VERIFICATION.md
Due: none

Add comprehensive unit tests for API handlers targeting 85%+ coverage
  internal/api/handlers/agents_test.go
  internal/api/handlers/alerts_test.go
  internal/api/handlers/audit_logs_test.go
  internal/api/handlers/notifications_test.go
  internal/api/handlers/organizations_test.go
  internal/api/handlers/policies_test.go
  internal/api/handlers/reports_test.go
  internal/api/handlers/repositories_test.go
  internal/api/handlers/search_test.go
  internal/api/handlers/tags_test.go
  internal/api/handlers/test_helpers.go
Due: go-fmt, go-vet

Add comprehensive unit tests for API handlers targeting 85%+ coverage (#170)
  internal/api/handlers/agents_test.go
  internal/api/handlers/alerts_test.go
  internal/api/handlers/audit_logs_test.go
  internal/api/handlers/notifications_test.go
  internal/api/handlers/organizations_test.go
  internal/api/handlers/policies_test.go
  internal/api/handlers/reports_test.go
  internal/api/handlers/repositories_test.go
  internal/api/handlers/search_test.go
  internal/api/handlers/tags_test.go
  internal/api/handlers/test_helpers.go
Due: go-fmt, go-vet

Add comprehensive tests for internal/api/middleware/
  internal/api/middleware/apikey_test.go
  internal/api/middleware/audit_test.go
  internal/api/middleware/auth_test.go
  internal/api/middleware/cors_test.go
  internal/api/middleware/features_test.go
  internal/api/middleware/logger_test.go
  internal/api/middleware/ratelimit_test.go
Due: go-fmt, go-vet
