Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

go-fmt:
  run: gofmt -w {staged_files}
  stage_fixed: true

go-vet:
  run: go vet ./...

biome:
  run: cd web && npx @biomejs/biome check --write {staged_files}
  stage_fixed: true

Implement Docker network configuration backup and restore (#107)
  internal/backup/docker/networks.go
Due: go-fmt, go-vet

Implement Docker secrets and configs backup with double encryption
  internal/backup/docker/secrets.go
Due: go-fmt, go-vet

Implement Docker secrets and configs backup with double encryption (#108)
  internal/backup/docker/secrets.go
Due: go-fmt, go-vet

Implement Docker Swarm backup and restore support
  internal/backup/docker/swarm.go
  internal/backup/docker/swarm_test.go
Due: go-fmt, go-vet

Fix name conflicts with existing docker package types
  internal/backup/docker/swarm.go
  internal/backup/docker/swarm_test.go
Due: go-fmt, go-vet

Implement Docker Swarm backup and restore support (#109)
  internal/backup/docker/swarm.go
  internal/backup/docker/swarm_test.go
Due: go-fmt, go-vet

Implement Docker health monitoring and container management
  internal/api/handlers/agents.go
  internal/api/handlers/dashboard_metrics.go
  internal/api/handlers/docker.go
  internal/api/routes.go
  internal/db/migrations/059_docker_health.sql
  internal/db/store_docker.go
  internal/models/alert.go
  internal/models/docker.go
  internal/monitoring/docker.go
Due: go-fmt, go-vet

Renumber migration to 064 to avoid collision with main
  internal/db/migrations/064_docker_health.sql
Due: none

Implement Docker health monitoring and container management (#110)
  internal/api/handlers/agents.go
  internal/api/handlers/dashboard_metrics.go
  internal/api/handlers/docker.go
  internal/api/routes.go
  internal/db/migrations/064_docker_health.sql
  internal/db/store_docker.go
  internal/models/alert.go
  internal/models/docker.go
  internal/monitoring/docker.go
Due: go-fmt, go-vet

Implement Docker container log backup and restoration feature
  internal/api/handlers/docker_logs.go
  internal/api/routes.go
  internal/backup/docker/logs.go
  internal/db/migrations/059_docker_logs.sql
  internal/db/store_docker_logs.go
  internal/models/docker_logs.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useDockerLogs.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/DockerLogs.tsx
Due: go-fmt, go-vet, biome

Fix CI failures: renumber migration and fix biome linting
  internal/db/migrations/065_docker_logs.sql
  web/src/lib/api.ts
  web/src/pages/DockerLogs.tsx
Due: biome

Docker container log backup and restoration (#111)
  internal/api/handlers/docker_logs.go
  internal/api/routes.go
  internal/backup/docker/logs.go
  internal/db/migrations/065_docker_logs.sql
  internal/db/store_docker_logs.go
  internal/models/docker_logs.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useDockerLogs.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/DockerLogs.tsx
Due: go-fmt, go-vet, biome

Implement Docker container backup hooks with pre/post operations
  internal/api/handlers/container_hooks.go
  internal/api/routes.go
  internal/backup/docker/hooks.go
  internal/backup/docker/templates.go
  internal/db/migrations/059_container_backup_hooks.sql
  internal/db/store_container_hooks.go
  internal/models/backup.go
  internal/models/container_backup_hook.go
  web/src/components/features/ContainerHooksEditor.tsx
  web/src/hooks/useContainerHooks.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Backups.tsx
Due: go-fmt, go-vet, biome

Fix CI failures: resolve Go redeclaration and biome lint/format errors
  internal/backup/docker/docker.go
  internal/backup/docker/hooks.go
  web/src/components/features/ContainerHooksEditor.tsx
  web/src/lib/api.ts
  web/src/pages/Backups.tsx
Due: go-fmt, go-vet, biome

Fix migration number conflict with main branch
  internal/db/migrations/066_container_backup_hooks.sql
Due: none

Implement Docker container backup hooks (#112)
  internal/api/handlers/container_hooks.go
  internal/api/routes.go
  internal/backup/docker/hooks.go
  internal/backup/docker/templates.go
  internal/db/migrations/066_container_backup_hooks.sql
  internal/db/store_container_hooks.go
  internal/models/backup.go
  internal/models/container_backup_hook.go
  web/src/components/features/ContainerHooksEditor.tsx
  web/src/hooks/useContainerHooks.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Backups.tsx
Due: go-fmt, go-vet, biome

Implement Docker label-based backup configuration
  internal/api/handlers/docker_backup.go
  internal/api/routes.go
  internal/backup/docker/discovery.go
  internal/backup/docker/labels.go
  internal/backup/docker/labels_test.go
  internal/db/migrations/059_docker_containers.sql
  internal/db/store_docker.go
  internal/models/docker_container.go
Due: go-fmt, go-vet

Renumber docker_containers migration from 059 to 067 to avoid conflict
  internal/db/migrations/067_docker_containers.sql
Due: none

Implement Docker label-based backup configuration (#113)
  internal/api/handlers/docker_backup.go
  internal/api/routes.go
  internal/backup/docker/discovery.go
  internal/backup/docker/labels.go
  internal/backup/docker/labels_test.go
  internal/db/migrations/067_docker_containers.sql
  internal/db/store_docker.go
  internal/models/docker_container.go
Due: go-fmt, go-vet

Implement private Docker registry credentials management (#97)
  internal/api/handlers/docker_registries.go
  internal/api/routes.go
  internal/backup/docker/registry.go
  internal/db/migrations/059_docker_registries.sql
  internal/db/store.go
  internal/models/docker_registry.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useDockerRegistries.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/DockerRegistries.tsx
Due: go-fmt, go-vet, biome

Path conditions:
  go-fmt: any of: *.go
  go-vet: any of: *.go
  biome: any of: web/**/*.{js,ts,jsx,tsx}
