Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
    go-vet:
      glob: "*.go"
      run: go vet ./...
    biome:
      glob: "web/**/*.{js,ts,jsx,tsx}"
      run: cd web && npx @biomejs/biome check --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: go test ./...
    lint:
      run: cd web && npx @biomejs/biome check .

Implement legal hold feature for snapshots during legal discovery (#55)
  internal/api/handlers/legal_holds.go
  internal/api/routes.go
  internal/db/migrations/035_add_legal_holds.sql
  internal/db/store.go
  internal/models/legal_hold.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useLegalHolds.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/LegalHolds.tsx
  web/src/pages/Restore.tsx
Due: go-fmt, go-vet, biome

Implement data classification for sensitive data tagging
  internal/api/handlers/classifications.go
  internal/api/routes.go
  internal/classification/classifier.go
  internal/db/migrations/031_data_classification.sql
  internal/db/store_classification.go
  internal/models/backup.go
  internal/models/classification.go
  internal/models/schedule.go
  web/src/App.tsx
  web/src/components/ClassificationBadge.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useClassifications.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/pt.json
  web/src/pages/Backups.tsx
  web/src/pages/Classifications.tsx
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Fix CI lint errors
  internal/models/backup.go
  internal/models/schedule.go
  web/src/components/ClassificationBadge.tsx
  web/src/pages/Classifications.tsx
Due: go-fmt, go-vet, biome

Fix duplicate migration version number
  internal/db/migrations/036_data_classification.sql
Due: none

Fix biome formatting with correct version
  web/src/components/ClassificationBadge.tsx
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Backups.tsx
  web/src/pages/Classifications.tsx
  web/src/pages/Schedules.tsx
Due: biome

Implement data classification for sensitive data tagging (#56)
  internal/api/handlers/classifications.go
  internal/api/routes.go
  internal/classification/classifier.go
  internal/db/migrations/036_data_classification.sql
  internal/db/store_classification.go
  internal/models/backup.go
  internal/models/classification.go
  internal/models/schedule.go
  web/src/App.tsx
  web/src/components/ClassificationBadge.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useClassifications.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/pt.json
  web/src/pages/Backups.tsx
  web/src/pages/Classifications.tsx
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Implement automatic geo-replication to secondary regions
  internal/api/handlers/geo_replication.go
  internal/api/routes.go
  internal/backup/geo.go
  internal/db/migrations/031_geo_replication.sql
  internal/db/store.go
  internal/models/alert.go
  internal/models/geo_replication.go
  web/src/components/features/GeoReplicationStatusCard.tsx
  web/src/components/features/RegionMapIndicator.tsx
  web/src/hooks/useGeoReplication.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: go-fmt, go-vet, biome

Add package-lock.json
  package-lock.json
Due: none

Fix CI failures: SVG accessibility, formatting, and migration version
  internal/db/migrations/037_geo_replication.sql
  web/src/components/features/GeoReplicationStatusCard.tsx
  web/src/components/features/RegionMapIndicator.tsx
  web/src/lib/api.ts
Due: biome

Implement automatic geo-replication to secondary regions (#57)
  internal/api/handlers/geo_replication.go
  internal/api/routes.go
  internal/backup/geo.go
  internal/db/migrations/037_geo_replication.sql
  internal/db/store.go
  internal/models/alert.go
  internal/models/geo_replication.go
  package-lock.json
  web/src/components/features/GeoReplicationStatusCard.tsx
  web/src/components/features/RegionMapIndicator.tsx
  web/src/hooks/useGeoReplication.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: go-fmt, go-vet, biome

Implement agent command queue for push commands from UI
  internal/api/handlers/agent_api.go
  internal/api/handlers/agent_commands.go
  internal/api/routes.go
  internal/commands/worker.go
  internal/db/migrations/031_agent_commands.sql
  internal/db/store.go
  internal/models/agent_command.go
  web/src/hooks/useAgents.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/AgentDetails.tsx
Due: go-fmt, go-vet, biome

Fix CI failures: rename migration and fix biome formatting
  internal/db/migrations/038_agent_commands.sql
  web/src/hooks/useAgents.ts
  web/src/lib/api.ts
  web/src/pages/AgentDetails.tsx
Due: biome

Implement agent command queue for push commands (#58)
  internal/api/handlers/agent_api.go
  internal/api/handlers/agent_commands.go
  internal/api/routes.go
  internal/commands/worker.go
  internal/db/migrations/038_agent_commands.sql
  internal/db/store.go
  internal/models/agent_command.go
  web/src/hooks/useAgents.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/AgentDetails.tsx
Due: go-fmt, go-vet, biome

Implement FUSE snapshot mount feature for browsing backups
  cmd/keldris-agent/main.go
  internal/api/handlers/snapshots.go
  internal/backup/mount.go
  internal/db/migrations/031_snapshot_mounts.sql
  internal/db/store.go
  internal/models/snapshot_mount.go
  web/dist/index.html
  web/src/hooks/useSnapshotMounts.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: go-fmt, go-vet, biome

Fix Biome linting errors in frontend mount code
  web/src/hooks/useSnapshotMounts.ts
  web/src/lib/api.ts
Due: biome

Fix migration version conflict by renaming to 039
  internal/db/migrations/039_snapshot_mounts.sql
Due: none

Implement FUSE snapshot mount feature (#59)
  cmd/keldris-agent/main.go
  internal/api/handlers/snapshots.go
  internal/backup/mount.go
  internal/db/migrations/039_snapshot_mounts.sql
  internal/db/store.go
  internal/models/snapshot_mount.go
  web/dist/index.html
  web/src/hooks/useSnapshotMounts.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: go-fmt, go-vet, biome

Implement file search across snapshots feature
  internal/api/handlers/file_search.go
  internal/api/routes.go
  internal/backup/filesearch.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useFileSearch.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/pt.json
  web/src/pages/FileSearch.tsx
Due: go-fmt, go-vet, biome

Fix Biome formatting in file search components
  web/src/hooks/useFileSearch.ts
  web/src/pages/FileSearch.tsx
Due: biome

Implement file search across snapshots (#60)
  internal/api/handlers/file_search.go
  internal/api/routes.go
  internal/backup/filesearch.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useFileSearch.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/pt.json
  web/src/pages/FileSearch.tsx
Due: go-fmt, go-vet, biome
