Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
    go-vet:
      glob: "*.go"
      run: go vet ./...
    biome:
      glob: "web/**/*.{js,ts,jsx,tsx}"
      run: cd web && npx @biomejs/biome check --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: go test ./...
    lint:
      run: cd web && npx @biomejs/biome check .

Implement offline backup queue for agent
  cmd/keldris-agent/main.go
  go.mod
  go.sum
  internal/agent/queue.go
  internal/agent/queue_test.go
  internal/agent/storage.go
  internal/api/handlers/agent_api.go
  internal/config/agent.go
  internal/models/alert.go
Due: go-fmt, go-vet

Add keldris-agent binary to .gitignore
  .gitignore
Due: none

Remove unused scanner type to fix staticcheck CI failure
  internal/agent/storage.go
Due: go-fmt, go-vet

Implement offline backup queue for agent (#148)
  .gitignore
  cmd/keldris-agent/main.go
  go.mod
  go.sum
  internal/agent/queue.go
  internal/agent/queue_test.go
  internal/agent/storage.go
  internal/api/handlers/agent_api.go
  internal/config/agent.go
  internal/models/alert.go
Due: go-fmt, go-vet

Implement skeleton loaders for improved UX during data loading
  web/src/components/ui/PageSkeletons.tsx
  web/src/components/ui/Skeleton.tsx
  web/src/pages/Agents.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/Schedules.tsx
Due: biome

Fix Biome lint and formatting errors in skeleton loaders
  web/src/components/ui/PageSkeletons.tsx
  web/src/components/ui/Skeleton.tsx
  web/src/pages/Agents.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/Schedules.tsx
Due: biome

Implement skeleton loaders for improved UX (#149)
  web/src/components/ui/PageSkeletons.tsx
  web/src/components/ui/Skeleton.tsx
  web/src/pages/Agents.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/Schedules.tsx
Due: biome

Implement helpful empty state UI components
  web/src/components/features/GlobalSearchBar.tsx
  web/src/components/ui/EmptyState.tsx
  web/src/pages/AgentGroups.tsx
  web/src/pages/Agents.tsx
  web/src/pages/Backups.tsx
  web/src/pages/Schedules.tsx
Due: biome

Fix Biome formatting in AgentGroups empty state
  web/src/pages/AgentGroups.tsx
Due: biome

Add helpful empty state UI components (#150)
  web/src/components/features/GlobalSearchBar.tsx
  web/src/components/ui/EmptyState.tsx
  web/src/pages/AgentGroups.tsx
  web/src/pages/Agents.tsx
  web/src/pages/Backups.tsx
  web/src/pages/Schedules.tsx
Due: biome

Implement in-app toast notifications system
  web/src/components/Layout.tsx
  web/src/components/ui/Toast.tsx
  web/src/hooks/useToast.ts
Due: biome

Fix Biome linter and formatter errors
  web/src/components/Layout.tsx
  web/src/components/ui/Toast.tsx
  web/src/hooks/useToast.ts
Due: biome

Implement in-app toast notifications (#151)
  web/src/components/Layout.tsx
  web/src/components/ui/Toast.tsx
  web/src/hooks/useToast.ts
Due: biome

Implement Prometheus metrics endpoint with backup and agent monitoring
  docs/prometheus-metrics.md
  internal/api/handlers/metrics.go
  internal/db/store.go
  internal/metrics/prometheus.go
Due: go-fmt, go-vet

Implement Prometheus metrics endpoint with backup and agent monitoring (#152)
  docs/prometheus-metrics.md
  internal/api/handlers/metrics.go
  internal/db/store.go
  internal/metrics/prometheus.go
Due: go-fmt, go-vet

Implement direct MySQL/MariaDB backup functionality
  go.mod
  go.sum
  internal/api/handlers/database_connections.go
  internal/api/routes.go
  internal/backup/databases/mysql.go
  internal/db/migrations/076_database_connections.sql
  internal/db/store_database_connections.go
  internal/models/database_connection.go
  internal/models/schedule.go
Due: go-fmt, go-vet

Rename migration to 077 to avoid conflict with 076_licenses on main
  internal/db/migrations/077_database_connections.sql
Due: none

Renumber migration to 090 to follow latest on main (089)
  internal/db/migrations/090_database_connections.sql
Due: none

Add MySQL/MariaDB direct backup support (#153)
  go.mod
  go.sum
  internal/api/handlers/database_connections.go
  internal/api/routes.go
  internal/backup/databases/mysql.go
  internal/db/migrations/090_database_connections.sql
  internal/db/store_database_connections.go
  internal/models/database_connection.go
  internal/models/schedule.go
Due: go-fmt, go-vet

Implement direct PostgreSQL backup with pg_dump
  internal/api/handlers/postgres.go
  internal/api/handlers/schedules.go
  internal/backup/databases/postgres.go
  internal/models/schedule.go
Due: go-fmt, go-vet
