Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
    go-vet:
      glob: "*.go"
      run: go vet ./...
    biome:
      glob: "web/**/*.{js,ts,jsx,tsx}"
      run: cd web && npx @biomejs/biome check --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: go test ./...
    lint:
      run: cd web && npx @biomejs/biome check .

Fix migration errors: column conflicts, wrong schemas, goose directives
  internal/db/migrations/062_backup_concurrency_limits.sql
  internal/db/migrations/076_docker_logs.sql
  internal/db/migrations/087_licenses.sql
  internal/db/migrations/088_license_features.sql
Due: none

Fix duplicate table definitions in migrations 078, 085, 091
  internal/db/migrations/078_docker_containers.sql
  internal/db/migrations/085_system_settings.sql
  internal/db/migrations/091_license_portal.sql
Due: none

Fix duplicate constraint names in migration 101
  internal/db/migrations/101_database_connections.sql
Due: none

Add missing schedule columns, fix table name in store queries
  internal/db/migrations/104_add_schedule_columns.sql
  internal/db/store.go
Due: go-fmt, go-vet

Fix column mismatches in SQL queries across store files
  internal/db/store.go
  internal/db/store_classification.go
  internal/db/store_recovered_full.go
  internal/db/store_search.go
  internal/db/store_usage_metrics.go
Due: go-fmt, go-vet

Fix backup query column count mismatch with scanBackups
  internal/db/store_recovered.go
  internal/db/store_recovered_full.go
Due: go-fmt, go-vet

Fix test failures: backup arg order, script fields, onboarding step
  internal/db/store.go
  internal/db/store_integration_test.go
  internal/db/store_recovered.go
  internal/db/store_test.go
Due: go-fmt, go-vet

Fix Dockerfiles: remove duplicate FROM, add rollup linux binary
  docker/Dockerfile.agent
  docker/Dockerfile.server
Due: none

Update JOURNAL.md with CI fixes and dead code removal
  .claude/JOURNAL.md
Due: none

Fix Gin route param conflict in container hooks handler
  internal/api/handlers/container_hooks.go
Due: go-fmt, go-vet

Fix Release workflow: Windows agent build and multi-arch Docker
  docker/Dockerfile.server
  internal/diagnostics/diagnostics.go
  internal/diagnostics/diskspace_unix.go
  internal/diagnostics/diskspace_windows.go
Due: go-fmt, go-vet

Fix Docker multi-arch build: use --ignore-scripts and --force
  docker/Dockerfile.server
Due: none

Fix Release workflow: filter artifact download to agent binaries only
  .github/workflows/release.yml
Due: none

Fix Gin route param conflict in snapshots handler
  internal/api/handlers/snapshots.go
  internal/api/handlers/snapshots_test.go
Due: go-fmt, go-vet

Fix duplicate route registration for /api/v1/license
  internal/api/handlers/license.go
Due: go-fmt, go-vet

Pin react-router-dom to ~7.9.6 for React 18 compatibility
  web/package-lock.json
  web/package.json
Due: none

Fix rate limiting and error boundary cascade crash
  internal/api/middleware/ratelimit.go
  internal/api/routes.go
  web/src/pages/ServerError.tsx
Due: go-fmt, go-vet, biome

Fix UpgradePrompt crash on unknown feature strings
  web/src/components/features/UpgradePrompt.tsx
Due: biome

Fix feature gating for Enterprise licenses
  web/src/components/features/TrialBanner.tsx
  web/src/hooks/usePlanLimits.ts
  web/src/lib/types.ts
Due: biome

Add dark mode support across all pages
  web/src/components/PasswordExpirationBanner.tsx
  web/src/components/ui/Card.tsx
  web/src/components/ui/Input.tsx
  web/src/components/ui/Modal.tsx
  web/src/components/ui/Select.tsx
  web/src/pages/AdminSetup.tsx
  web/src/pages/PasswordReset.tsx
  web/src/pages/Setup.tsx
Due: biome

Align feature gating with license server tier definitions
  internal/license/features.go
  internal/license/features_test.go
  web/src/hooks/usePlanLimits.ts
  web/src/lib/types.ts
Due: go-fmt, go-vet, biome

Add server_limit to plan limits matching license server tiers
  web/src/hooks/usePlanLimits.ts
  web/src/lib/types.ts
Due: biome

Fix duplicate Set-Cookie in OIDC callback causing 502 behind reverse proxy
  internal/api/handlers/auth.go
  internal/api/handlers/auth_test.go
Due: go-fmt, go-vet

Fix license phone-home: send hostname, org count, and initial heartbeat
  internal/license/limits.go
  internal/license/limits_test.go
  internal/license/validator.go
Due: go-fmt, go-vet

Fix crash and load failures on Docker Logs, Legal Holds, Lifecycle Policies, and Server Logs pages
  web/src/pages/AdminLogs.tsx
  web/src/pages/DockerLogs.tsx
  web/src/pages/LegalHolds.tsx
  web/src/pages/LifecyclePolicies.tsx
Due: biome

Add dark mode support to 12 pages
  web/src/pages/Agents.tsx
  web/src/pages/Announcements.tsx
  web/src/pages/AuditLogs.tsx
  web/src/pages/Branding.tsx
  web/src/pages/CostEstimation.tsx
  web/src/pages/DockerRegistries.tsx
  web/src/pages/DowntimeHistory.tsx
  web/src/pages/FileHistory.tsx
  web/src/pages/FileSearch.tsx
  web/src/pages/OrganizationSSOSettings.tsx
  web/src/pages/PasswordPolicies.tsx
Due: biome

Add multi-channel notification support with Slack, Teams, Discord, PagerDuty, and Webhook
  web/src/lib/types.ts
  web/src/pages/Notifications.tsx
Due: biome

Add Servers and Storage resource limits to License page
  web/src/pages/License.tsx
Due: biome

Pre-fill organization name from license data in onboarding
  web/src/pages/Onboarding.tsx
Due: biome

Update journal with v0.0.30 post-deploy fixes
  .claude/JOURNAL.md
Due: none

Fix Biome lint formatting across 20 files
  web/src/components/PasswordExpirationBanner.tsx
  web/src/components/ui/Input.tsx
  web/src/components/ui/Modal.tsx
  web/src/components/ui/Select.tsx
  web/src/pages/AdminLogs.tsx
  web/src/pages/AdminSetup.tsx
  web/src/pages/Agents.tsx
  web/src/pages/Announcements.tsx
  web/src/pages/Branding.tsx
  web/src/pages/CostEstimation.tsx
  web/src/pages/DockerRegistries.tsx
  web/src/pages/FileHistory.tsx
  web/src/pages/FileSearch.tsx
  web/src/pages/License.tsx
  web/src/pages/Notifications.tsx
  web/src/pages/Onboarding.tsx
  web/src/pages/OrganizationSSOSettings.tsx
  web/src/pages/PasswordPolicies.tsx
  web/src/pages/PasswordReset.tsx
  web/src/pages/Setup.tsx
Due: biome

Fix pre-existing Biome lint warnings across 4 pages
  web/src/pages/Agents.tsx
  web/src/pages/Repositories.tsx
  web/src/pages/Restore.tsx
  web/src/pages/Schedules.tsx
Due: biome

Fix onboarding redirect and organization name step
  web/src/components/Layout.tsx
  web/src/pages/Onboarding.tsx
Due: biome

Fix API errors: company field, changelog 500, route mismatches
  internal/api/handlers/changelog.go
  internal/api/handlers/license_info.go
  internal/db/migrations/105_add_feature_flags.sql
  internal/license/license.go
  internal/license/validator.go
  web/src/hooks/useAirGap.ts
  web/src/hooks/useLicenses.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Onboarding.tsx
Due: go-fmt, go-vet, biome

Update journal, gitignore, makefile, and add heartbeat testing docs
  .claude/JOURNAL.md
  .gitignore
  Makefile
  docs/heartbeat-testing.md
  scripts/test-heartbeat.sh
Due: none

Fix setup middleware blocking frontend routes
  internal/api/middleware/setup.go
  internal/api/middleware/setup_test.go
Due: go-fmt, go-vet

Fix rate limit exceeded during setup wizard
  internal/api/middleware/ratelimit.go
  internal/api/middleware/setup.go
  internal/api/middleware/setup_test.go
Due: go-fmt, go-vet

Fix 401 redirect loop on setup and login pages
  web/src/hooks/useBranding.ts
  web/src/lib/api.ts
Due: biome

Fix setup complete FK error and setup redirect flow
  internal/api/handlers/server_setup.go
  internal/api/middleware/setup.go
  internal/api/middleware/setup_test.go
  internal/db/store_server_setup.go
  web/src/lib/api.ts
Due: go-fmt, go-vet, biome
