Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
    go-vet:
      glob: "*.go"
      run: go vet ./...
    biome:
      glob: "web/**/*.{js,ts,jsx,tsx}"
      run: cd web && npx @biomejs/biome check --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: go test ./...
    lint:
      run: cd web && npx @biomejs/biome check .

Update Go version references from 1.24+ to 1.25.7+ (#233)
  README.md
  docs/production-security.md
Due: none

Add HEALTHCHECK instructions to Dockerfiles
  docker/Dockerfile.agent
  docker/Dockerfile.server
  docker/docker-compose.yml
Due: none

Add HEALTHCHECK instructions to Dockerfiles (#234)
  docker/Dockerfile.agent
  docker/Dockerfile.server
  docker/docker-compose.yml
Due: none

Redact webhook URLs in sender-level logging
  internal/notifications/webhook.go
  internal/notifications/webhook_test.go
Due: go-fmt, go-vet

Redact webhook URLs in sender-level logging (#235)
  internal/notifications/webhook.go
  internal/notifications/webhook_test.go
Due: go-fmt, go-vet

Fix DNS rebinding TOCTOU in SSRF validation
  internal/notifications/service_test.go
  internal/notifications/url_validator.go
  internal/notifications/webhook.go
  internal/notifications/webhook_test.go
Due: go-fmt, go-vet

Fix URLNotInLogs tests to bypass validating dialer for local servers
  internal/notifications/webhook_test.go
Due: go-fmt, go-vet

Fix DNS rebinding TOCTOU in SSRF validation (#236)
  internal/notifications/service_test.go
  internal/notifications/url_validator.go
  internal/notifications/webhook.go
  internal/notifications/webhook_test.go
Due: go-fmt, go-vet

Update Go version requirement from 1.24.0 to 1.25.7
  go.mod
Due: none

Update CI workflows to use Go 1.25
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Update Go version requirement from 1.24.0 to 1.25.7 (#237)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  go.mod
Due: none

Add missing database indexes for performance
  internal/db/migrations/035_add_missing_indexes.sql
Due: none

Add missing database indexes for performance (#238)
  internal/db/migrations/035_add_missing_indexes.sql
Due: none

Add automatic retention cleanup scheduling for agent health history
  cmd/keldris-server/main.go
  internal/config/server.go
  internal/db/migrations/035_retention_cleanup.sql
  internal/db/store.go
  internal/maintenance/retention.go
  internal/maintenance/retention_test.go
Due: go-fmt, go-vet

Renumber retention cleanup migration from 035 to 036
  internal/db/migrations/036_retention_cleanup.sql
Due: none

Add automatic retention cleanup scheduling (#239)
  cmd/keldris-server/main.go
  internal/config/server.go
  internal/db/migrations/036_retention_cleanup.sql
  internal/db/store.go
  internal/maintenance/retention.go
  internal/maintenance/retention_test.go
Due: go-fmt, go-vet

Create DR Tests frontend page
  web/src/App.tsx
  web/src/pages/DRTests.test.tsx
  web/src/pages/DRTests.tsx
Due: biome

Fix Biome lint and format errors
  web/src/pages/DRTests.test.tsx
  web/src/pages/DRTests.tsx
Due: biome

Fix formatDuration call to pass correct arguments
  web/src/pages/DRTests.tsx
Due: biome

Create DR Tests frontend page (#240)
  web/src/App.tsx
  web/src/pages/DRTests.test.tsx
  web/src/pages/DRTests.tsx
Due: biome

Update Go version requirement from 1.24+ to 1.25.7+
  .claude/CLAUDE.md
Due: none
