Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

go-fmt:
  run: gofmt -w {staged_files}
  stage_fixed: true

go-vet:
  run: go vet ./...

biome:
  run: cd web && npx @biomejs/biome check --write {staged_files}
  stage_fixed: true

Implement multi-language support with react-i18next (#40)
  web/package-lock.json
  web/package.json
  web/src/components/Layout.tsx
  web/src/components/features/LanguageSelector.tsx
  web/src/hooks/useAuth.ts
  web/src/hooks/useLocale.ts
  web/src/lib/api.ts
  web/src/lib/i18n.ts
  web/src/lib/types.ts
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/pt.json
  web/src/main.tsx
  web/src/pages/Agents.tsx
  web/src/pages/Dashboard.tsx
Due: biome

Implement first-time onboarding wizard with step-by-step setup
  internal/api/handlers/onboarding.go
  internal/api/routes.go
  internal/db/migrations/012_add_onboarding.sql
  internal/db/store.go
  internal/models/onboarding.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/components/ui/Stepper.tsx
  web/src/hooks/useOnboarding.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Onboarding.tsx
Due: go-fmt, go-vet, biome

Move Claude config to hidden directory
  .claude/CLAUDE.md
Due: none

Reorganize project documentation
  .claude/CLAUDE.md
  .claude/JOURNAL.md
Due: none

Remove .claude from version control and add to gitignore
  .claude/JOURNAL.md
  .gitignore
Due: none

Reorganize project config files
  .claude/conductor.json
Due: none

Remove conductor.json from version control
  .claude/conductor.json
Due: none

Fix CI failures: rename migration to 025 and fix types.ts syntax
  internal/db/migrations/025_add_onboarding.sql
  web/src/lib/types.ts
Due: biome

Implement first-time onboarding wizard (#41)
  internal/api/handlers/onboarding.go
  internal/api/routes.go
  internal/db/migrations/025_add_onboarding.sql
  internal/db/store.go
  internal/models/onboarding.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/components/ui/Stepper.tsx
  web/src/hooks/useOnboarding.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Onboarding.tsx
Due: go-fmt, go-vet, biome

Implement snapshot comparison feature
  internal/api/handlers/snapshots.go
  internal/backup/compare.go
  web/src/App.tsx
  web/src/hooks/useSnapshots.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Restore.tsx
  web/src/pages/SnapshotCompare.tsx
Due: go-fmt, go-vet, biome

Implement snapshot comparison feature (#42)
  internal/api/handlers/snapshots.go
  internal/backup/compare.go
  web/src/App.tsx
  web/src/hooks/useSnapshots.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Restore.tsx
  web/src/pages/SnapshotCompare.tsx
Due: go-fmt, go-vet, biome

Implement file version history browser
  internal/api/handlers/file_history.go
  internal/api/routes.go
  internal/backup/filehistory.go
  internal/models/file_history.go
  web/src/App.tsx
  web/src/hooks/useFileHistory.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/FileHistory.tsx
  web/src/pages/Restore.tsx
Due: go-fmt, go-vet, biome

Fix CI failures for file history feature
  internal/api/handlers/file_history.go
  web/src/hooks/useFileHistory.ts
  web/src/lib/api.ts
  web/src/pages/FileHistory.tsx
Due: go-fmt, go-vet, biome

Implement file version history browser (#43)
  internal/api/handlers/file_history.go
  internal/api/routes.go
  internal/backup/filehistory.go
  internal/models/file_history.go
  web/src/App.tsx
  web/src/hooks/useFileHistory.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/FileHistory.tsx
  web/src/pages/Restore.tsx
Due: go-fmt, go-vet, biome

Update README and add AGPLv3 license
  LICENSE
  README.md
Due: none

Add logo and badges to README
  README.md
  docs/images/logo.png
Due: none

Implement snapshot comments feature
  internal/api/handlers/snapshots.go
  internal/db/migrations/012_add_snapshot_comments.sql
  internal/db/store.go
  internal/models/snapshot_comment.go
  web/dist/assets/index-Bxzr65qR.js
  web/dist/assets/index-Cjs04sBu.css
  web/src/components/features/SnapshotComments.tsx
  web/src/hooks/useSnapshotComments.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Restore.tsx
Due: go-fmt, go-vet, biome

Fix Biome linting errors in snapshot comments feature
  web/src/components/features/SnapshotComments.tsx
  web/src/lib/api.ts
  web/src/pages/Restore.tsx
Due: biome

Rename snapshot comments migration to version 026
  internal/db/migrations/026_add_snapshot_comments.sql
Due: none

Add snapshot comments feature (#44)
  internal/api/handlers/snapshots.go
  internal/db/migrations/026_add_snapshot_comments.sql
  internal/db/store.go
  internal/models/snapshot_comment.go
  web/dist/assets/index-Bxzr65qR.js
  web/dist/assets/index-Cjs04sBu.css
  web/src/components/features/SnapshotComments.tsx
  web/src/hooks/useSnapshotComments.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Restore.tsx
Due: go-fmt, go-vet, biome

Path conditions:
  go-fmt: any of: *.go
  go-vet: any of: *.go
  biome: any of: web/**/*.{js,ts,jsx,tsx}
