Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

go-fmt:
  run: gofmt -w {staged_files}
  stage_fixed: true

go-vet:
  run: go vet ./...

biome:
  run: cd web && npx @biomejs/biome check --write {staged_files}
  stage_fixed: true

Implement backup integrity verification with checks, test restore, and monitoring
  internal/api/handlers/verifications.go
  internal/api/routes.go
  internal/backup/restic.go
  internal/backup/verification.go
  internal/db/migrations/002_verification.sql
  internal/db/store.go
  internal/models/verification.go
  web/src/hooks/useVerifications.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Repositories.tsx
Due: go-fmt, go-vet, biome

Fix duplicate migration version number
  internal/db/migrations/009_verification.sql
Due: none

Implement bandwidth and resource controls for backup schedules
  internal/api/handlers/schedules.go
  internal/backup/restic.go
  internal/backup/scheduler.go
  internal/db/migrations/002_add_bandwidth_controls.sql
  internal/models/schedule.go
  web/src/lib/types.ts
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Implement backup integrity verification (#18)
  internal/api/handlers/verifications.go
  internal/api/routes.go
  internal/backup/restic.go
  internal/backup/verification.go
  internal/db/migrations/009_verification.sql
  internal/db/store.go
  internal/models/verification.go
  web/src/hooks/useVerifications.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Repositories.tsx
Due: go-fmt, go-vet, biome

Fix duplicate migration version causing CI failure
  internal/db/migrations/009_add_bandwidth_controls.sql
Due: none

Rename migration to version 010 to avoid conflict
  internal/db/migrations/010_add_bandwidth_controls.sql
Due: none

Add bandwidth and resource controls for backup schedules (#19)
  internal/api/handlers/schedules.go
  internal/backup/restic.go
  internal/backup/scheduler.go
  internal/db/migrations/010_add_bandwidth_controls.sql
  internal/models/schedule.go
  web/src/lib/types.ts
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Implement agent self-update mechanism with GitHub release integration
  cmd/keldris-agent/main.go
  internal/api/handlers/version.go
  internal/api/routes.go
  internal/config/agent.go
  internal/updater/updater.go
  internal/updater/updater_test.go
Due: go-fmt, go-vet

Add platform installers for agent (Linux, macOS, Windows)
  Makefile
  docs/agent-installation.md
  scripts/install-linux.sh
  scripts/install-macos.sh
  scripts/install-windows.ps1
  web/dist/assets/index-BO5Zlxjy.js
  web/dist/assets/index-BrWy4xhO.css
  web/dist/assets/index-EYwX1-DP.css
  web/dist/assets/index-k6B-AKhw.js
  web/dist/assets/index-lLdTvCPf.css
  web/dist/assets/index-pcS93NUn.js
  web/dist/index.html
  web/src/components/features/AgentDownloads.tsx
  web/src/lib/constants.ts
  web/src/pages/Agents.tsx
  web/tsconfig.tsbuildinfo
Due: biome

Add platform installers for agent (Linux, macOS, Windows) (#21)
  Makefile
  docs/agent-installation.md
  scripts/install-linux.sh
  scripts/install-macos.sh
  scripts/install-windows.ps1
  web/dist/assets/index-BO5Zlxjy.js
  web/dist/assets/index-BrWy4xhO.css
  web/dist/assets/index-EYwX1-DP.css
  web/dist/assets/index-k6B-AKhw.js
  web/dist/assets/index-lLdTvCPf.css
  web/dist/assets/index-pcS93NUn.js
  web/dist/index.html
  web/src/components/features/AgentDownloads.tsx
  web/src/lib/constants.ts
  web/src/pages/Agents.tsx
  web/tsconfig.tsbuildinfo
Due: biome

Implement agent self-update mechanism with GitHub release integration (#20)
  cmd/keldris-agent/main.go
  internal/api/handlers/version.go
  internal/api/routes.go
  internal/config/agent.go
  internal/updater/updater.go
  internal/updater/updater_test.go
Due: go-fmt, go-vet

Implement multi-repository backup with retry/failover and replication
  internal/api/handlers/schedules.go
  internal/backup/restic.go
  internal/backup/scheduler.go
  internal/backup/scheduler_test.go
  internal/db/migrations/002_multi_repo_schedules.sql
  internal/db/store.go
  internal/models/backup.go
  internal/models/replication_status.go
  internal/models/schedule.go
  internal/models/schedule_repository.go
  web/dist/assets/index-BsDHrvUK.js
  web/dist/assets/index-C3QKDvjb.css
  web/dist/assets/index-CFipx4wW.css
  web/dist/assets/index-lmfPDnfk.js
  web/dist/index.html
  web/src/components/features/MultiRepoSelector.tsx
  web/src/components/features/ReplicationStatusCard.tsx
  web/src/hooks/useSchedules.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Backups.tsx
  web/src/pages/Schedules.tsx
  web/tsconfig.tsbuildinfo
Due: go-fmt, go-vet, biome

Implement DR runbooks and testing system with documentation
  docs/bare-metal-restore.md
  internal/api/handlers/dr_runbooks.go
  internal/api/handlers/dr_tests.go
  internal/api/routes.go
  internal/backup/scheduler.go
  internal/db/migrations/002_add_dr_tables.sql
  internal/db/store.go
  internal/dr/runbook.go
  internal/models/dr_runbook.go
  internal/models/drtest.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useDRRunbooks.ts
  web/src/hooks/useDRTests.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/lib/utils.ts
  web/src/pages/DRRunbooks.tsx
  web/src/pages/Dashboard.tsx
Due: go-fmt, go-vet, biome

Implement full restore workflow with snapshot browser and restore jobs
  internal/api/handlers/snapshots.go
  internal/api/routes.go
  internal/backup/restic.go
  internal/db/migrations/002_add_restores.sql
  internal/db/store.go
  internal/models/restore.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useRestore.ts
  web/src/hooks/useSnapshots.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Restore.tsx
Due: go-fmt, go-vet, biome

Implement full restore workflow with snapshot browser and restore jobs (#24)
  internal/api/handlers/snapshots.go
  internal/api/routes.go
  internal/backup/restic.go
  internal/backup/verification.go
  internal/db/migrations/011_add_restores.sql
  internal/db/store.go
  internal/models/restore.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useRestore.ts
  web/src/hooks/useSnapshots.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Restore.tsx
Due: go-fmt, go-vet, biome

Fix CI failures: migration versioning and Biome lint
  internal/db/migrations/012_add_dr_tables.sql
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: biome

Fix TypeScript type definitions for DR features
  web/src/lib/types.ts
Due: biome

Implement DR runbooks and testing system (#23)
  docs/bare-metal-restore.md
  internal/api/handlers/dr_runbooks.go
  internal/api/handlers/dr_tests.go
  internal/api/routes.go
  internal/backup/scheduler.go
  internal/db/migrations/012_add_dr_tables.sql
  internal/db/store.go
  internal/dr/runbook.go
  internal/models/dr_runbook.go
  internal/models/drtest.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useDRRunbooks.ts
  web/src/hooks/useDRTests.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/lib/utils.ts
  web/src/pages/DRRunbooks.tsx
  web/src/pages/Dashboard.tsx
Due: go-fmt, go-vet, biome

Fix unused function errors from staticcheck
  internal/backup/scheduler.go
Due: go-fmt, go-vet

Implement multi-repository backup with retry/failover and replication (#22)
  internal/api/handlers/schedules.go
  internal/api/handlers/snapshots.go
  internal/backup/restic.go
  internal/backup/scheduler.go
  internal/backup/scheduler_test.go
  internal/db/migrations/013_multi_repo_schedules.sql
  internal/db/store.go
  internal/dr/runbook.go
  internal/models/backup.go
  internal/models/replication_status.go
  internal/models/schedule.go
  internal/models/schedule_repository.go
  web/dist/assets/index-B4riJxeG.css
  web/dist/assets/index-BO5Zlxjy.js
  web/dist/assets/index-CNJ2cpTk.js
  web/dist/assets/index-EYwX1-DP.css
  web/dist/index.html
  web/src/components/features/MultiRepoSelector.tsx
  web/src/components/features/ReplicationStatusCard.tsx
  web/src/hooks/useSchedules.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Backups.tsx
  web/src/pages/Schedules.tsx
  web/tsconfig.tsbuildinfo
Due: go-fmt, go-vet, biome

Path conditions:
  go-fmt: any of: *.go
  go-vet: any of: *.go
  biome: any of: web/**/*.{js,ts,jsx,tsx}
