Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
    go-vet:
      glob: "*.go"
      run: go vet ./...
    biome:
      glob: "web/**/*.{js,ts,jsx,tsx}"
      run: cd web && npx @biomejs/biome check --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: go test ./...
    lint:
      run: cd web && npx @biomejs/biome check .

Implement multi-organization and role-based access control (#10)
  internal/api/handlers/agents.go
  internal/api/handlers/auth.go
  internal/api/handlers/backups.go
  internal/api/handlers/organizations.go
  internal/api/handlers/repositories.go
  internal/api/handlers/schedules.go
  internal/api/routes.go
  internal/auth/rbac.go
  internal/auth/session.go
  internal/db/migrations/002_org_memberships.sql
  internal/db/store.go
  internal/models/membership.go
  web/dist/assets/index-BNtvWzyh.css
  web/dist/assets/index-CCkZIiOi.js
  web/dist/assets/index-CYLC9EMd.js
  web/dist/assets/index-Du0tUJJg.css
  web/dist/index.html
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useOrganizations.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/NewOrganization.tsx
  web/src/pages/OrganizationMembers.tsx
  web/src/pages/OrganizationSettings.tsx
  web/tsconfig.tsbuildinfo
Due: go-fmt, go-vet, biome

Implement agent API key authentication flow
  internal/api/handlers/agents.go
  internal/api/middleware/auth.go
  internal/auth/apikey.go
  internal/auth/apikey_test.go
  internal/db/store.go
  web/dist/assets/index-BDvrx7kH.js
  web/dist/assets/index-C3QKDvjb.css
  web/dist/assets/index-DTjkqpOf.css
  web/dist/assets/index-lmfPDnfk.js
  web/dist/index.html
  web/src/hooks/useAgents.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Agents.tsx
Due: go-fmt, go-vet, biome

Implement agent API key authentication flow (#11)
  internal/api/handlers/agents.go
  internal/api/middleware/auth.go
  internal/auth/apikey.go
  internal/auth/apikey_test.go
  internal/db/store.go
  web/dist/assets/index-BGDnX0Qk.css
  web/dist/assets/index-CYLC9EMd.js
  web/dist/assets/index-D75wyFD6.js
  web/dist/assets/index-Du0tUJJg.css
  web/dist/index.html
  web/src/hooks/useAgents.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Agents.tsx
Due: go-fmt, go-vet, biome

Implement email notifications for backup events
  internal/api/handlers/notifications.go
  internal/api/routes.go
  internal/backup/scheduler.go
  internal/backup/scheduler_test.go
  internal/db/migrations/003_add_notifications.sql
  internal/db/store.go
  internal/models/notification.go
  internal/notifications/email.go
  internal/notifications/service.go
  internal/notifications/templates/agent_offline.html
  internal/notifications/templates/backup_failed.html
  internal/notifications/templates/backup_success.html
  web/dist/assets/index-BGDnX0Qk.css
  web/dist/assets/index-BrWy4xhO.css
  web/dist/assets/index-D75wyFD6.js
  web/dist/assets/index-pcS93NUn.js
  web/dist/index.html
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useNotifications.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Notifications.tsx
  web/tsconfig.tsbuildinfo
Due: go-fmt, go-vet, biome

Fix biome linting and formatting errors
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Notifications.tsx
Due: biome

Implement email notifications for backup events (#12)
  internal/api/handlers/notifications.go
  internal/api/routes.go
  internal/backup/scheduler.go
  internal/backup/scheduler_test.go
  internal/db/migrations/003_add_notifications.sql
  internal/db/store.go
  internal/models/notification.go
  internal/notifications/email.go
  internal/notifications/service.go
  internal/notifications/templates/agent_offline.html
  internal/notifications/templates/backup_failed.html
  internal/notifications/templates/backup_success.html
  web/dist/assets/index-BGDnX0Qk.css
  web/dist/assets/index-BrWy4xhO.css
  web/dist/assets/index-D75wyFD6.js
  web/dist/assets/index-pcS93NUn.js
  web/dist/index.html
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useNotifications.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Notifications.tsx
  web/tsconfig.tsbuildinfo
Due: go-fmt, go-vet, biome

Implement repository encryption key management with AES-256-GCM
  internal/api/handlers/repositories.go
  internal/api/routes.go
  internal/crypto/keymanager.go
  internal/crypto/keymanager_test.go
  internal/db/migrations/002_repository_keys.sql
  internal/db/store.go
  internal/models/repository_key.go
  web/src/hooks/useRepositories.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Repositories.tsx
Due: go-fmt, go-vet, biome

Fix migration version conflict by renaming to 004
  internal/db/migrations/004_repository_keys.sql
Due: none

Implement repository encryption key management (#13)
  internal/api/handlers/repositories.go
  internal/api/routes.go
  internal/crypto/keymanager.go
  internal/crypto/keymanager_test.go
  internal/db/migrations/004_repository_keys.sql
  internal/db/store.go
  internal/models/repository_key.go
  web/src/hooks/useRepositories.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Repositories.tsx
Due: go-fmt, go-vet, biome

Implement monitoring and alerting system for Keldris
  internal/api/handlers/alerts.go
  internal/api/routes.go
  internal/db/migrations/002_alerts.sql
  internal/db/store.go
  internal/models/alert.go
  internal/monitoring/alerts.go
  internal/monitoring/monitor.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useAlerts.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/lib/utils.ts
  web/src/pages/Alerts.tsx
Due: go-fmt, go-vet, biome

Fix migration version conflicts after merge
  internal/db/migrations/003_alerts.sql
  internal/db/migrations/004_add_notifications.sql
  internal/db/migrations/005_repository_keys.sql
Due: none

Implement monitoring and alerting system (#14)
  internal/api/handlers/alerts.go
  internal/api/routes.go
  internal/db/migrations/003_alerts.sql
  internal/db/migrations/004_add_notifications.sql
  internal/db/migrations/005_repository_keys.sql
  internal/db/store.go
  internal/models/alert.go
  internal/monitoring/alerts.go
  internal/monitoring/monitor.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useAlerts.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/lib/utils.ts
  web/src/pages/Alerts.tsx
Due: go-fmt, go-vet, biome

Implement audit log system for compliance
  internal/api/handlers/audit_logs.go
  internal/api/middleware/audit.go
  internal/api/routes.go
  internal/db/migrations/002_add_audit_logs.sql
  internal/db/store.go
  internal/models/audit_log.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useAuditLogs.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/lib/utils.ts
  web/src/pages/AuditLogs.tsx
Due: go-fmt, go-vet, biome

Implement audit log system for compliance (#15)
  internal/api/handlers/audit_logs.go
  internal/api/middleware/audit.go
  internal/api/routes.go
  internal/db/migrations/006_add_audit_logs.sql
  internal/db/store.go
  internal/models/audit_log.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useAuditLogs.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/lib/utils.ts
  web/src/pages/AuditLogs.tsx
Due: go-fmt, go-vet, biome

Implement storage efficiency reporting with stats collection and dashboard
  internal/api/handlers/stats.go
  internal/api/routes.go
  internal/backup/stats.go
  internal/backup/stats_collector.go
  internal/db/migrations/002_add_storage_stats.sql
  internal/db/store.go
  internal/models/storage_stats.go
  web/dist/assets/index-k6B-AKhw.js
  web/dist/assets/index-lLdTvCPf.css
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useStorageStats.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/lib/utils.ts
  web/src/pages/Dashboard.tsx
  web/src/pages/RepositoryStatsDetail.tsx
  web/src/pages/StorageStats.tsx
  web/tsconfig.tsbuildinfo
Due: go-fmt, go-vet, biome

Fix migration version conflict: rename to 007_add_storage_stats.sql
  internal/db/migrations/007_add_storage_stats.sql
Due: none

Implement storage efficiency reporting and stats dashboard (#16)
  internal/api/handlers/stats.go
  internal/api/routes.go
  internal/backup/stats.go
  internal/backup/stats_collector.go
  internal/db/migrations/007_add_storage_stats.sql
  internal/db/store.go
  internal/models/storage_stats.go
  web/dist/assets/index-k6B-AKhw.js
  web/dist/assets/index-lLdTvCPf.css
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useStorageStats.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/lib/utils.ts
  web/src/pages/Dashboard.tsx
  web/src/pages/RepositoryStatsDetail.tsx
  web/src/pages/StorageStats.tsx
  web/tsconfig.tsbuildinfo
Due: go-fmt, go-vet, biome

Automate retention policy enforcement for backup schedules
  internal/backup/restic.go
  internal/backup/retention.go
  internal/backup/scheduler.go
  internal/db/migrations/002_add_retention_logging.sql
  internal/db/store.go
  internal/models/backup.go
  web/src/lib/types.ts
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Fix migration version conflict with main branch
  internal/db/migrations/008_add_retention_logging.sql
Due: none

Automate retention policy enforcement for backup schedules (#17)
  internal/backup/restic.go
  internal/backup/retention.go
  internal/backup/scheduler.go
  internal/db/migrations/008_add_retention_logging.sql
  internal/db/store.go
  internal/models/backup.go
  web/src/lib/types.ts
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome
