Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
    go-vet:
      glob: "*.go"
      run: go vet ./...
    biome:
      glob: "web/**/*.{js,ts,jsx,tsx}"
      run: cd web && npx @biomejs/biome check --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: go test ./...
    lint:
      run: cd web && npx @biomejs/biome check .

Fix CI failures: migration numbering and Biome lint/format errors
  internal/db/migrations/068_docker_registries.sql
  web/src/hooks/useDockerRegistries.ts
  web/src/lib/api.ts
  web/src/pages/DockerRegistries.tsx
Due: biome

Fix missing closing label tag in DockerRegistries.tsx
  web/src/pages/DockerRegistries.tsx
Due: biome

Fix Biome formatting in DockerRegistries.tsx
  web/src/pages/DockerRegistries.tsx
Due: biome

Implement private Docker registry credentials management (#114)
  internal/api/handlers/docker_registries.go
  internal/api/routes.go
  internal/backup/docker/registry.go
  internal/db/migrations/068_docker_registries.sql
  internal/db/store.go
  internal/models/docker_registry.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useDockerRegistries.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/DockerRegistries.tsx
Due: go-fmt, go-vet, biome

Implement Komodo container platform integration
  internal/api/handlers/komodo_integration.go
  internal/api/routes.go
  internal/db/migrations/059_komodo_integration.sql
  internal/db/store.go
  internal/integrations/komodo/client.go
  internal/integrations/komodo/discovery.go
  internal/integrations/komodo/types.go
  internal/integrations/komodo/webhook.go
  internal/models/komodo_integration.go
  web/src/hooks/useKomodoIntegration.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/KomodoSettings.tsx
Due: go-fmt, go-vet, biome

Fix Biome lint and formatting issues
  web/src/hooks/useKomodoIntegration.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/KomodoSettings.tsx
Due: biome

Rename Komodo migration from 059 to 069
  internal/db/migrations/069_komodo_integration.sql
Due: none

Implement Komodo container platform integration (#115)
  internal/api/handlers/komodo_integration.go
  internal/api/routes.go
  internal/db/migrations/069_komodo_integration.sql
  internal/db/store.go
  internal/integrations/komodo/client.go
  internal/integrations/komodo/discovery.go
  internal/integrations/komodo/types.go
  internal/integrations/komodo/webhook.go
  internal/models/komodo_integration.go
  web/src/hooks/useKomodoIntegration.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/KomodoSettings.tsx
Due: go-fmt, go-vet, biome

Implement automated test restore verification system
  internal/api/handlers/test_restore.go
  internal/backup/test_restore.go
  internal/backup/test_restore_notifier.go
  internal/db/migrations/059_test_restore.sql
  internal/db/store_test_restore.go
  internal/models/notification.go
  internal/models/test_restore.go
  internal/notifications/discord.go
  internal/notifications/email.go
  internal/notifications/pagerduty.go
  internal/notifications/service.go
  internal/notifications/slack.go
  internal/notifications/teams.go
  internal/notifications/templates/test_restore_failed.html
  internal/notifications/webhook.go
Due: go-fmt, go-vet

Fix migration numbering conflict with main branch
  internal/db/migrations/060_test_restore.sql
Due: none

Fix migration numbering conflict - rename to 061
  internal/db/migrations/061_test_restore.sql
Due: none

Fix migration numbering - rename to 070
  internal/db/migrations/070_test_restore.sql
Due: none

Implement automated test restore verification system (#116)
  internal/api/handlers/test_restore.go
  internal/backup/test_restore.go
  internal/backup/test_restore_notifier.go
  internal/db/migrations/070_test_restore.sql
  internal/db/store_test_restore.go
  internal/models/notification.go
  internal/models/test_restore.go
  internal/notifications/discord.go
  internal/notifications/email.go
  internal/notifications/pagerduty.go
  internal/notifications/service.go
  internal/notifications/slack.go
  internal/notifications/teams.go
  internal/notifications/templates/test_restore_failed.html
  internal/notifications/webhook.go
Due: go-fmt, go-vet

Implement automated backup validation with multi-channel alerts
  internal/api/handlers/backups.go
  internal/backup/scheduler.go
  internal/backup/scheduler_test.go
  internal/backup/test_backup.go
  internal/db/migrations/059_backup_validations.sql
  internal/db/store.go
  internal/models/backup.go
  internal/models/backup_validation.go
  internal/models/notification.go
  internal/notifications/discord.go
  internal/notifications/email.go
  internal/notifications/pagerduty.go
  internal/notifications/service.go
  internal/notifications/slack.go
  internal/notifications/teams.go
  internal/notifications/templates/validation_failed.html
  internal/notifications/webhook.go
Due: go-fmt, go-vet

Implement automated backup validation with multi-channel alerts (#117)
  internal/api/handlers/backups.go
  internal/backup/scheduler.go
  internal/backup/scheduler_test.go
  internal/backup/test_backup.go
  internal/db/migrations/071_backup_validations.sql
  internal/db/store_backup_validation.go
  internal/models/backup.go
  internal/models/backup_validation.go
  internal/models/notification.go
  internal/notifications/discord.go
  internal/notifications/email.go
  internal/notifications/pagerduty.go
  internal/notifications/service.go
  internal/notifications/slack.go
  internal/notifications/teams.go
  internal/notifications/templates/validation_failed.html
  internal/notifications/webhook.go
Due: go-fmt, go-vet

Implement Pi-hole backup and restore functionality
  internal/api/handlers/pihole.go
  internal/api/routes.go
  internal/backup/apps/interface.go
  internal/backup/apps/pihole.go
  internal/backup/scheduler.go
  internal/health/collector.go
  internal/models/agent.go
  internal/models/backup.go
  internal/models/schedule.go
Due: go-fmt, go-vet

Fix staticcheck ST1005: lowercase error strings
  internal/backup/apps/pihole.go
Due: go-fmt, go-vet

Implement Pi-hole backup and restore functionality (#118)
  internal/api/handlers/pihole.go
  internal/api/routes.go
  internal/backup/apps/interface.go
  internal/backup/apps/pihole.go
  internal/backup/scheduler.go
  internal/health/collector.go
  internal/models/agent.go
  internal/models/backup.go
  internal/models/schedule.go
Due: go-fmt, go-vet

Implement pre-built backup hook templates
  internal/api/handlers/backup_hook_templates.go
  internal/api/routes.go
  internal/db/migrations/059_backup_hook_templates.sql
  internal/db/store_backup_hook_templates.go
  internal/hooks/loader.go
  internal/hooks/templates/authentik.yaml
  internal/hooks/templates/mailcow.yaml
  internal/hooks/templates/mariadb.yaml
  internal/hooks/templates/mongodb.yaml
  internal/hooks/templates/mysql.yaml
  internal/hooks/templates/n8n.yaml
  internal/hooks/templates/postgresql.yaml
  internal/hooks/templates/redis.yaml
  internal/models/backup_hook_template.go
  web/src/App.tsx
  web/src/hooks/useBackupHookTemplates.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/BackupHookTemplates.tsx
Due: go-fmt, go-vet, biome

Update package-lock.json
  package-lock.json
Due: none
