Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
    go-vet:
      glob: "*.go"
      run: go vet ./...
    biome:
      glob: "web/**/*.{js,ts,jsx,tsx}"
      run: cd web && npx @biomejs/biome check --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: go test ./...
    lint:
      run: cd web && npx @biomejs/biome check .

Add changelog UI with version history and What's New (#72)
  CHANGELOG.md
  internal/api/handlers/changelog.go
  internal/api/routes.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/components/features/WhatsNewModal.tsx
  web/src/hooks/useChangelog.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Changelog.tsx
Due: go-fmt, go-vet, biome

Implement partial restore with file selection UI
  internal/api/handlers/snapshots.go
  internal/backup/partial_restore.go
  web/src/lib/types.ts
  web/src/pages/Restore.tsx
Due: go-fmt, go-vet, biome

Fix Biome linting errors in Restore.tsx
  web/src/pages/Restore.tsx
Due: biome

Implement partial restore with file selection UI (#73)
  internal/api/handlers/snapshots.go
  internal/backup/partial_restore.go
  web/src/lib/types.ts
  web/src/pages/Restore.tsx
Due: go-fmt, go-vet, biome

Implement cloud restore feature with direct S3/B2/Restic upload
  go.mod
  go.sum
  internal/api/handlers/snapshots.go
  internal/backup/cloud_restore.go
  internal/models/restore.go
  web/src/hooks/useRestore.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Restore.tsx
Due: go-fmt, go-vet, biome

Fix Biome linting errors in cloud restore UI
  web/src/lib/api.ts
  web/src/pages/Restore.tsx
Due: biome

Implement cloud restore feature with direct S3/B2/Restic upload (#74)
  go.mod
  go.sum
  internal/api/handlers/snapshots.go
  internal/backup/cloud_restore.go
  internal/models/restore.go
  web/src/hooks/useRestore.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Restore.tsx
Due: go-fmt, go-vet, biome

Implement cross-agent backup restore with path mapping and progress tracking
  internal/api/handlers/snapshots.go
  internal/backup/cross_restore.go
  internal/db/migrations/045_cross_agent_restore.sql
  internal/db/store.go
  internal/models/restore.go
  web/src/lib/types.ts
  web/src/pages/Restore.tsx
Due: go-fmt, go-vet, biome

Fix Biome lint errors and formatting in cross-agent restore UI
  web/src/lib/types.ts
  web/src/pages/Restore.tsx
Due: biome

Implement cross-agent backup restore with path mapping and progress (#75)
  internal/api/handlers/snapshots.go
  internal/backup/cross_restore.go
  internal/db/migrations/045_cross_agent_restore.sql
  internal/db/store.go
  internal/models/restore.go
  web/src/lib/types.ts
  web/src/pages/Restore.tsx
Due: go-fmt, go-vet, biome

Implement schedule clone functionality
  internal/api/handlers/schedules.go
  web/src/hooks/useSchedules.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Fix staticcheck SA4006 error in BulkClone
  internal/api/handlers/schedules.go
Due: go-fmt, go-vet

Add schedule clone functionality (#76)
  internal/api/handlers/schedules.go
  web/src/hooks/useSchedules.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Implement duplicate repository config with credential management
  internal/api/handlers/repositories.go
  package-lock.json
  web/src/hooks/useRepositories.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Repositories.tsx
Due: go-fmt, go-vet, biome

Fix Biome linting errors in CloneRepositoryModal
  web/src/pages/Repositories.tsx
Due: biome

Implement duplicate repository config with credential management (#77)
  internal/api/handlers/repositories.go
  package-lock.json
  web/src/hooks/useRepositories.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Repositories.tsx
Due: go-fmt, go-vet, biome

Implement CSV import for agents with fleet deployment support
  internal/api/handlers/agent_import.go
  internal/api/routes.go
  internal/import/agents.go
  internal/models/agent_import.go
  web/src/components/features/ImportAgentsWizard.tsx
  web/src/hooks/useAgentImport.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Agents.tsx
Due: go-fmt, go-vet, biome

Fix Biome formatting issues in frontend files
  web/src/components/features/ImportAgentsWizard.tsx
  web/src/lib/api.ts
  web/src/pages/Agents.tsx
Due: biome

Implement CSV import for agents with fleet deployment (#78)
  internal/api/handlers/agent_import.go
  internal/api/routes.go
  internal/import/agents.go
  internal/models/agent_import.go
  web/src/components/features/ImportAgentsWizard.tsx
  web/src/hooks/useAgentImport.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Agents.tsx
Due: go-fmt, go-vet, biome

Implement Terraform provider for Keldris infrastructure-as-code
  docs/terraform.md
  examples/terraform/main.tf
  examples/terraform/simple.tf.example
  examples/terraform/terraform.tfvars.example
  examples/terraform/variables.tf
  terraform-provider-keldris/README.md
  terraform-provider-keldris/go.mod
  terraform-provider-keldris/internal/keldris/client.go
  terraform-provider-keldris/internal/provider/agent_resource.go
  terraform-provider-keldris/internal/provider/agents_data_source.go
  terraform-provider-keldris/internal/provider/policy_resource.go
  terraform-provider-keldris/internal/provider/provider.go
  terraform-provider-keldris/internal/provider/repositories_data_source.go
  terraform-provider-keldris/internal/provider/repository_resource.go
  terraform-provider-keldris/internal/provider/schedule_resource.go
  terraform-provider-keldris/main.go
Due: go-fmt, go-vet
