Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
    go-vet:
      glob: "*.go"
      run: go vet ./...
    biome:
      glob: "web/**/*.{js,ts,jsx,tsx}"
      run: cd web && npx @biomejs/biome check --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: go test ./...
    lint:
      run: cd web && npx @biomejs/biome check .

Add comprehensive tests for internal/models with 87% coverage (#179)
  internal/models/json_test.go
  internal/models/models_test.go
  internal/models/validation_test.go
Due: go-fmt, go-vet

Expand crypto package tests to 96% coverage
  internal/crypto/keymanager_test.go
Due: go-fmt, go-vet

Remove unused test helpers flagged by staticcheck
  internal/crypto/keymanager_test.go
Due: go-fmt, go-vet

Expand crypto package tests to 96% coverage (#180)
  internal/crypto/keymanager_test.go
Due: go-fmt, go-vet

Add comprehensive tests for internal/metrics/ and internal/monitoring/
  go.mod
  go.sum
  internal/metrics/collector_test.go
  internal/metrics/prometheus.go
  internal/metrics/prometheus_test.go
  internal/monitoring/alerts_test.go
  internal/monitoring/health_test.go
Due: go-fmt, go-vet

Add comprehensive tests for internal/metrics/ and internal/monitoring/ (#181)
  go.mod
  go.sum
  internal/metrics/collector_test.go
  internal/metrics/prometheus.go
  internal/metrics/prometheus_test.go
  internal/monitoring/alerts_test.go
  internal/monitoring/health_test.go
Due: go-fmt, go-vet

Add comprehensive tests for internal/reports package
  internal/reports/generator_test.go
  internal/reports/scheduler_test.go
Due: go-fmt, go-vet

Remove unused int64Ptr helper to fix staticcheck
  internal/reports/generator_test.go
Due: go-fmt, go-vet

Add comprehensive tests for internal/reports package (#182)
  internal/reports/generator_test.go
  internal/reports/scheduler_test.go
Due: go-fmt, go-vet

Add comprehensive integration tests for full workflows
  internal/integration/integration_test.go
Due: go-fmt, go-vet

Add comprehensive integration tests for full workflows (#183)
  internal/integration/integration_test.go
Due: go-fmt, go-vet

Fix staticcheck in Makefile
  Makefile
Due: none

Fix staticcheck in Makefile (#184)
  Makefile
Due: none

Add comprehensive edge case tests for handler package
  internal/api/handlers/agent_api_test.go
  internal/api/handlers/agent_groups_test.go
  internal/api/handlers/alerts_test.go
  internal/api/handlers/audit_logs_test.go
  internal/api/handlers/backup_scripts_test.go
  internal/api/handlers/cost_estimation_test.go
  internal/api/handlers/dashboard_metrics_test.go
  internal/api/handlers/dr_runbooks_test.go
  internal/api/handlers/dr_tests_test.go
  internal/api/handlers/exclude_patterns_test.go
  internal/api/handlers/file_history_test.go
  internal/api/handlers/health_test.go
  internal/api/handlers/maintenance_test.go
  internal/api/handlers/metrics_test.go
  internal/api/handlers/notifications_test.go
  internal/api/handlers/onboarding_test.go
  internal/api/handlers/organizations_test.go
  internal/api/handlers/policies_test.go
  internal/api/handlers/reports_test.go
  internal/api/handlers/repositories_test.go
  internal/api/handlers/schedules_test.go
  internal/api/handlers/snapshots_test.go
  internal/api/handlers/sso_group_mappings_test.go
  internal/api/handlers/stats_test.go
  internal/api/handlers/users_test.go
  internal/api/handlers/verifications_test.go
  internal/api/handlers/version_test.go
Due: go-fmt, go-vet

Add comprehensive edge case tests for handler package
  internal/api/handlers/agent_api_test.go
  internal/api/handlers/agent_groups_test.go
  internal/api/handlers/alerts_test.go
  internal/api/handlers/audit_logs_test.go
  internal/api/handlers/backup_scripts_test.go
  internal/api/handlers/cost_estimation_test.go
  internal/api/handlers/dashboard_metrics_test.go
  internal/api/handlers/dr_runbooks_test.go
  internal/api/handlers/dr_tests_test.go
  internal/api/handlers/exclude_patterns_test.go
  internal/api/handlers/file_history_test.go
  internal/api/handlers/health_test.go
  internal/api/handlers/maintenance_test.go
  internal/api/handlers/metrics_test.go
  internal/api/handlers/notifications_test.go
  internal/api/handlers/onboarding_test.go
  internal/api/handlers/organizations_test.go
  internal/api/handlers/policies_test.go
  internal/api/handlers/reports_test.go
  internal/api/handlers/repositories_test.go
  internal/api/handlers/schedules_test.go
  internal/api/handlers/snapshots_test.go
  internal/api/handlers/sso_group_mappings_test.go
  internal/api/handlers/stats_test.go
  internal/api/handlers/users_test.go
  internal/api/handlers/verifications_test.go
  internal/api/handlers/version_test.go
  keldris-server
Due: go-fmt, go-vet

Add comprehensive edge case tests for handler package (#185)
  internal/api/handlers/agent_api_test.go
  internal/api/handlers/agent_groups_test.go
  internal/api/handlers/alerts_test.go
  internal/api/handlers/audit_logs_test.go
  internal/api/handlers/backup_scripts_test.go
  internal/api/handlers/cost_estimation_test.go
  internal/api/handlers/dashboard_metrics_test.go
  internal/api/handlers/dr_runbooks_test.go
  internal/api/handlers/dr_tests_test.go
  internal/api/handlers/exclude_patterns_test.go
  internal/api/handlers/file_history_test.go
  internal/api/handlers/health_test.go
  internal/api/handlers/maintenance_test.go
  internal/api/handlers/metrics_test.go
  internal/api/handlers/notifications_test.go
  internal/api/handlers/onboarding_test.go
  internal/api/handlers/organizations_test.go
  internal/api/handlers/policies_test.go
  internal/api/handlers/reports_test.go
  internal/api/handlers/repositories_test.go
  internal/api/handlers/schedules_test.go
  internal/api/handlers/snapshots_test.go
  internal/api/handlers/sso_group_mappings_test.go
  internal/api/handlers/stats_test.go
  internal/api/handlers/users_test.go
  internal/api/handlers/verifications_test.go
  internal/api/handlers/version_test.go
Due: go-fmt, go-vet

Add comprehensive edge case tests for handler package (#185)
  internal/api/handlers/agent_api_test.go
  internal/api/handlers/agent_groups_test.go
  internal/api/handlers/alerts_test.go
  internal/api/handlers/audit_logs_test.go
  internal/api/handlers/backup_scripts_test.go
  internal/api/handlers/cost_estimation_test.go
  internal/api/handlers/dashboard_metrics_test.go
  internal/api/handlers/dr_runbooks_test.go
  internal/api/handlers/dr_tests_test.go
  internal/api/handlers/exclude_patterns_test.go
  internal/api/handlers/file_history_test.go
  internal/api/handlers/health_test.go
  internal/api/handlers/maintenance_test.go
  internal/api/handlers/metrics_test.go
  internal/api/handlers/notifications_test.go
  internal/api/handlers/onboarding_test.go
  internal/api/handlers/organizations_test.go
  internal/api/handlers/policies_test.go
  internal/api/handlers/reports_test.go
  internal/api/handlers/repositories_test.go
  internal/api/handlers/schedules_test.go
  internal/api/handlers/snapshots_test.go
  internal/api/handlers/sso_group_mappings_test.go
  internal/api/handlers/stats_test.go
  internal/api/handlers/users_test.go
  internal/api/handlers/verifications_test.go
  internal/api/handlers/version_test.go
  keldris-server
Due: go-fmt, go-vet

Add comprehensive integration tests for internal/db with 85%+ coverage
  internal/db/store.go
  internal/db/store_test.go
Due: go-fmt, go-vet

Add comprehensive integration tests for internal/db with 85%+ coverage (#186)
  internal/db/store.go
  internal/db/store_test.go
Due: go-fmt, go-vet

Fix list key prop and update README notifications
  README.md
  web/src/pages/OrganizationMembers.tsx
Due: biome

Fix list key prop and update README notifications (#187)
  README.md
  web/src/pages/OrganizationMembers.tsx
Due: biome

Update tech stack docs, fix Makefile lint target, and resolve biome v2 linting issues
  .claude/CLAUDE.md
  Makefile
  web/biome.json
  web/src/App.tsx
  web/src/components/Layout.test.tsx
  web/src/components/features/LanguageSelector.tsx
  web/src/hooks/useAgentGroups.ts
  web/src/hooks/useCostEstimation.ts
  web/src/hooks/useDRRunbooks.test.ts
  web/src/hooks/useMaintenance.ts
  web/src/hooks/useOrganizations.test.ts
  web/src/hooks/useOrganizations.ts
  web/src/lib/api.ts
  web/src/pages/AgentGroups.tsx
  web/src/pages/Agents.tsx
  web/src/pages/DRRunbooks.tsx
  web/src/pages/Policies.tsx
  web/src/pages/Schedules.tsx
Due: biome
