Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
    go-vet:
      glob: "*.go"
      run: go vet ./...
    biome:
      glob: "web/**/*.{js,ts,jsx,tsx}"
      run: cd web && npx @biomejs/biome check --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: go test ./...
    lint:
      run: cd web && npx @biomejs/biome check .

Fix biome lint errors and import ordering
  web/src/components/ui/HelpTooltip.tsx
  web/src/pages/Agents.tsx
  web/src/pages/Backups.tsx
  web/src/pages/Schedules.tsx
Due: biome

Fix biome lint errors in HelpTooltip.tsx
  web/src/components/ui/HelpTooltip.tsx
Due: biome

Fix biome-ignore comment placement in HelpTooltip.tsx
  web/src/components/ui/HelpTooltip.tsx
Due: biome

Fix biome-ignore for code element in HelpTooltip.tsx
  web/src/components/ui/HelpTooltip.tsx
Due: biome

Use content-based keys instead of array index in HelpTooltip
  web/src/components/ui/HelpTooltip.tsx
Due: biome

Implement contextual help tooltips throughout UI (#96)
  web/src/components/ui/HelpTooltip.tsx
  web/src/lib/help-content.ts
  web/src/pages/Agents.tsx
  web/src/pages/Backups.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/Schedules.tsx
Due: biome

Implement Docker container and volume backup support
  internal/api/handlers/schedules.go
  internal/backup/docker/detector.go
  internal/backup/docker/docker.go
  internal/models/agent.go
  internal/models/schedule.go
  web/src/lib/types.ts
  web/src/pages/AgentDetails.tsx
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Implement global search with autocomplete, filters, and recent searches
  internal/api/handlers/search.go
  internal/db/migrations/059_recent_searches.sql
  internal/search/global.go
  web/src/components/Layout.tsx
  web/src/components/features/GlobalSearchBar.tsx
  web/src/hooks/useSearch.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: go-fmt, go-vet, biome

Fix accessibility and biome linting issues in GlobalSearchBar
  web/src/components/Layout.tsx
  web/src/components/features/GlobalSearchBar.tsx
  web/src/hooks/useSearch.ts
  web/src/lib/api.ts
  web/src/lib/help-content.ts
  web/src/pages/Schedules.tsx
Due: biome

Implement global search with autocomplete, filters, and recent searches (#97)
  internal/api/handlers/search.go
  internal/db/migrations/059_recent_searches.sql
  internal/search/global.go
  web/src/components/Layout.tsx
  web/src/components/features/GlobalSearchBar.tsx
  web/src/hooks/useSearch.ts
  web/src/lib/api.ts
  web/src/lib/help-content.ts
  web/src/lib/types.ts
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Implement real-time activity feed system
  go.mod
  go.sum
  internal/activity/feed.go
  internal/api/handlers/activity.go
  internal/api/routes.go
  internal/db/migrations/059_activity_events.sql
  internal/db/store_activity.go
  internal/models/activity_event.go
  web/src/App.tsx
  web/src/components/features/ActivityFeed.tsx
  web/src/hooks/useActivity.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Activity.tsx
  web/src/pages/Dashboard.tsx
Due: go-fmt, go-vet, biome

Fix CI failures: Biome linting and migration version conflict
  internal/db/migrations/060_activity_events.sql
  web/src/App.tsx
  web/src/components/features/ActivityFeed.tsx
  web/src/lib/api.ts
  web/src/lib/help-content.ts
  web/src/pages/Schedules.tsx
Due: biome

Implement real-time activity feed system (#98)
  go.mod
  go.sum
  internal/activity/feed.go
  internal/api/handlers/activity.go
  internal/api/routes.go
  internal/db/migrations/060_activity_events.sql
  internal/db/store_activity.go
  internal/models/activity_event.go
  web/src/App.tsx
  web/src/components/features/ActivityFeed.tsx
  web/src/hooks/useActivity.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Activity.tsx
  web/src/pages/Dashboard.tsx
Due: go-fmt, go-vet, biome

Implement user favorites (star) feature for agents, schedules, and repositories
  internal/api/handlers/favorites.go
  internal/api/routes.go
  internal/db/migrations/059_user_favorites.sql
  internal/db/store.go
  internal/models/favorite.go
  web/src/components/ui/StarButton.tsx
  web/src/hooks/useFavorites.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Agents.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/Repositories.tsx
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

fix: resolve biome linting and TypeScript errors
  web/src/components/ui/StarButton.tsx
  web/src/hooks/useFavorites.ts
  web/src/lib/api.ts
  web/src/pages/Agents.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/Schedules.tsx
Due: biome

fix: rename user_favorites migration to 061 to avoid version conflict
  internal/db/migrations/061_user_favorites.sql
Due: none

Implement user favorites (star) feature (#99)
  internal/api/handlers/favorites.go
  internal/api/routes.go
  internal/db/migrations/061_user_favorites.sql
  internal/db/store.go
  internal/models/favorite.go
  web/src/components/ui/StarButton.tsx
  web/src/hooks/useFavorites.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Agents.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/Repositories.tsx
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Implement recently viewed items tracker feature
  internal/api/handlers/recent_items.go
  internal/api/routes.go
  internal/db/migrations/059_recent_items.sql
  internal/db/store_recent_items.go
  internal/models/recent_items.go
  web/src/components/Layout.tsx
  web/src/components/features/RecentItems.tsx
  web/src/hooks/useRecentItems.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: go-fmt, go-vet, biome

Fix CI: rename migration to 062, fix biome formatting
  internal/db/migrations/062_recent_items.sql
  web/src/components/features/RecentItems.tsx
  web/src/lib/api.ts
Due: biome

Implement recently viewed items tracker (#100)
  internal/api/handlers/recent_items.go
  internal/api/routes.go
  internal/db/migrations/062_recent_items.sql
  internal/db/store_recent_items.go
  internal/models/recent_items.go
  web/src/components/Layout.tsx
  web/src/components/features/RecentItems.tsx
  web/src/hooks/useRecentItems.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: go-fmt, go-vet, biome
