Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
    go-vet:
      glob: "*.go"
      run: go vet ./...
    biome:
      glob: "web/**/*.{js,ts,jsx,tsx}"
      run: cd web && npx @biomejs/biome check --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: go test ./...
    lint:
      run: cd web && npx @biomejs/biome check .

Fix CI failures: resolve interface conflict and formatting
  internal/db/migrations/077_license_features.sql
  internal/license/features.go
  web/src/hooks/useFeature.ts
  web/src/lib/api.ts
Due: go-fmt, go-vet, biome

Implement feature flag system tied to license tiers (#125)
  internal/api/handlers/license.go
  internal/api/middleware/features.go
  internal/api/routes.go
  internal/db/migrations/077_license_features.sql
  internal/db/store_license.go
  internal/license/features.go
  web/src/hooks/useFeature.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: go-fmt, go-vet, biome

Implement usage metering system for limits and billing
  internal/api/handlers/usage.go
  internal/api/routes.go
  internal/db/migrations/076_usage_metrics.sql
  internal/db/store_usage_metrics.go
  internal/metering/meter.go
  internal/models/usage_metrics.go
Due: go-fmt, go-vet

Rename migration to 077 to avoid conflict with main
  internal/db/migrations/077_usage_metrics.sql
Due: none

Rename migration to 078 to avoid conflict with main
  internal/db/migrations/078_usage_metrics.sql
Due: none

Implement usage metering system for limits and billing (#126)
  internal/api/handlers/usage.go
  internal/api/routes.go
  internal/db/migrations/078_usage_metrics.sql
  internal/db/store_usage_metrics.go
  internal/metering/meter.go
  internal/models/usage_metrics.go
Due: go-fmt, go-vet

Implement license management UI features
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/components/features/FeatureGate.tsx
  web/src/components/features/LicenseBanner.tsx
  web/src/hooks/useLicenses.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/License.tsx
Due: biome

Fix Biome linting and formatting issues
  web/src/components/Layout.tsx
  web/src/components/features/FeatureGate.tsx
  web/src/components/features/LicenseBanner.tsx
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/License.tsx
Due: biome

Implement license management UI features (#127)
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/components/features/FeatureGate.tsx
  web/src/components/features/LicenseBanner.tsx
  web/src/hooks/useFeature.ts
  web/src/hooks/useLicenses.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/License.tsx
Due: biome

Implement contextual upgrade prompts for plan-gated features (#128)
  web/src/components/features/UpgradePrompt.tsx
  web/src/hooks/usePlanLimits.ts
  web/src/lib/types.ts
  web/src/lib/upgrade.ts
  web/src/pages/Agents.tsx
  web/src/pages/AuditLogs.tsx
  web/src/pages/LegalHolds.tsx
  web/src/pages/LifecyclePolicies.tsx
  web/src/pages/OrganizationSSOSettings.tsx
  web/src/pages/Reports.tsx
Due: biome

Implement 30-day Pro trial system
  internal/api/handlers/trial.go
  internal/api/routes.go
  internal/db/migrations/076_trial_system.sql
  internal/db/store_trial.go
  internal/license/trial.go
  web/src/components/Layout.tsx
  web/src/components/features/TrialBanner.tsx
  web/src/hooks/useTrial.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/locales/en.json
Due: go-fmt, go-vet, biome

Fix CI failures: rename TrialManager and fix biome lint issues
  internal/api/handlers/trial.go
  internal/license/trial.go
  web/src/components/Layout.tsx
  web/src/components/features/TrialBanner.tsx
  web/src/lib/api.ts
Due: go-fmt, go-vet, biome

Fix duplicate migration number conflict
  internal/db/migrations/079_trial_system.sql
Due: none

Implement 30-day Pro trial system (#129)
  internal/api/handlers/trial.go
  internal/api/routes.go
  internal/db/migrations/079_trial_system.sql
  internal/db/store_trial.go
  internal/license/trial.go
  web/src/components/Layout.tsx
  web/src/components/features/TrialBanner.tsx
  web/src/hooks/useTrial.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/locales/en.json
Due: go-fmt, go-vet, biome

Implement customer license management portal
  cmd/keldris-portal/main.go
  internal/db/migrations/076_license_portal.sql
  internal/models/customer.go
  internal/models/invoice.go
  internal/models/license.go
  internal/portal/handlers/auth.go
  internal/portal/handlers/invoices.go
  internal/portal/handlers/licenses.go
  internal/portal/middleware.go
  internal/portal/routes.go
  internal/portal/session.go
  internal/portal/store.go
  web/portal/index.html
  web/portal/package.json
  web/portal/postcss.config.js
  web/portal/src/App.tsx
  web/portal/src/components/Card.tsx
  web/portal/src/components/Layout.tsx
  web/portal/src/components/ProtectedRoute.tsx
  web/portal/src/components/StatusBadge.tsx
  web/portal/src/hooks/useAuth.ts
  web/portal/src/hooks/useInvoices.ts
  web/portal/src/hooks/useLicenses.ts
  web/portal/src/index.css
  web/portal/src/lib/api.ts
  web/portal/src/lib/types.ts
  web/portal/src/main.tsx
  web/portal/src/pages/Dashboard.tsx
  web/portal/src/pages/InvoiceDetail.tsx
  web/portal/src/pages/Invoices.tsx
  web/portal/src/pages/LicenseDetail.tsx
  web/portal/src/pages/Licenses.tsx
  web/portal/src/pages/Login.tsx
  web/portal/src/pages/Register.tsx
  web/portal/tailwind.config.js
  web/portal/tsconfig.json
  web/portal/vite.config.ts
  web/src/components/Layout.tsx
Due: go-fmt, go-vet, biome

Fix Go import cycle and frontend Biome linting errors
  internal/portal/handlers/auth.go
  internal/portal/handlers/invoices.go
  internal/portal/handlers/licenses.go
  internal/portal/middleware.go
  internal/portal/portalctx/context.go
  internal/portal/portalctx/session.go
  internal/portal/portalctx/store.go
  internal/portal/routes.go
  web/biome.json
  web/portal/src/App.tsx
  web/portal/src/components/Card.tsx
  web/portal/src/components/Layout.tsx
  web/portal/src/hooks/useAuth.ts
  web/portal/src/lib/api.ts
  web/portal/src/lib/types.ts
  web/portal/src/main.tsx
  web/portal/src/pages/Dashboard.tsx
  web/portal/src/pages/InvoiceDetail.tsx
  web/portal/src/pages/Invoices.tsx
  web/portal/src/pages/LicenseDetail.tsx
  web/portal/src/pages/Licenses.tsx
  web/portal/src/pages/Login.tsx
  web/portal/src/pages/Register.tsx
Due: go-fmt, go-vet, biome

Fix CI failures: unused append and biome config keys
  internal/portal/handlers/invoices.go
  web/biome.json
Due: go-fmt, go-vet

Apply linter formatting fixes
  web/src/App.tsx
  web/src/components/ErrorBoundary.tsx
  web/src/components/Layout.tsx
  web/src/components/PasswordRequirements.tsx
  web/src/components/StorageTierBadge.tsx
  web/src/components/features/ContainerHooksEditor.tsx
  web/src/components/features/GeoReplicationStatusCard.tsx
  web/src/components/features/UpgradePrompt.tsx
  web/src/components/features/WhatsNewModal.tsx
  web/src/hooks/useAgentGroups.ts
  web/src/hooks/useAnnouncements.ts
  web/src/hooks/useBackupHookTemplates.ts
  web/src/hooks/useBackupQueue.ts
  web/src/hooks/useCostEstimation.ts
  web/src/hooks/useDockerRegistries.ts
  web/src/hooks/useDockerStacks.ts
  web/src/hooks/useFavorites.ts
  web/src/hooks/useIPAllowlists.ts
  web/src/hooks/useImmutability.ts
  web/src/hooks/useKomodoIntegration.ts
  web/src/hooks/useMaintenance.ts
  web/src/hooks/useOrganizations.ts
  web/src/hooks/useRateLimits.ts
  web/src/hooks/useRepositories.ts
  web/src/hooks/useSLA.ts
  web/src/hooks/useSavedFilters.ts
  web/src/hooks/useSystemSettings.ts
  web/src/hooks/useUsers.ts
  web/src/lib/api.ts
  web/src/pages/Alerts.tsx
  web/src/pages/Announcements.tsx
  web/src/pages/BackupHookTemplates.tsx
  web/src/pages/DRRunbooks.tsx
  web/src/pages/DockerLogs.tsx
  web/src/pages/DowntimeHistory.tsx
  web/src/pages/License.tsx
  web/src/pages/NotificationRules.tsx
  web/src/pages/OrgManagement.tsx
  web/src/pages/Schedules.tsx
  web/src/pages/SystemSettings.tsx
Due: biome

Fix biome.json organizeImports configuration
  web/biome.json
Due: none

Fix CI failures: migration conflict, lint errors, and import sorting
  internal/db/migrations/080_license_portal.sql
  web/portal/src/index.css
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/components/features/ContainerHooksEditor.tsx
  web/src/components/features/UpgradePrompt.tsx
  web/src/hooks/useSystemSettings.ts
  web/src/lib/api.ts
  web/src/pages/Alerts.tsx
  web/src/pages/DRRunbooks.tsx
  web/src/pages/OrgManagement.tsx
  web/src/pages/SystemSettings.tsx
Due: biome
