Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
    go-vet:
      glob: "*.go"
      run: go vet ./...
    biome:
      glob: "web/**/*.{js,ts,jsx,tsx}"
      run: cd web && npx @biomejs/biome check --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: go test ./...
    lint:
      run: cd web && npx @biomejs/biome check .

Implement job queue system for operations (#135)
  internal/api/handlers/job_queue.go
  internal/api/routes.go
  internal/db/migrations/084_job_queue.sql
  internal/db/store_job_queue.go
  internal/jobs/queue.go
  internal/models/job_queue.go
Due: go-fmt, go-vet

Implement email verification for non-OIDC users
  internal/api/handlers/auth.go
  internal/api/handlers/email_verification.go
  internal/auth/verification.go
  internal/db/migrations/076_email_verification.sql
  internal/db/store_email_verification.go
  internal/db/store_password_policy.go
  internal/models/user.go
  internal/notifications/email.go
  internal/notifications/templates/email_verification.html
  internal/settings/system.go
Due: go-fmt, go-vet

Fix migration version conflict with 076_licenses.sql
  internal/db/migrations/077_email_verification.sql
Due: none

Fix migration version to 085
  internal/db/migrations/085_email_verification.sql
Due: none

Implement email verification for non-OIDC users (#136)
  internal/api/handlers/auth.go
  internal/api/handlers/email_verification.go
  internal/auth/verification.go
  internal/db/migrations/085_email_verification.sql
  internal/db/store_email_verification.go
  internal/db/store_password_policy.go
  internal/models/user.go
  internal/notifications/email.go
  internal/notifications/templates/email_verification.html
  internal/settings/system.go
Due: go-fmt, go-vet

Implement password reset for non-OIDC users
  internal/api/handlers/password_reset.go
  internal/api/routes.go
  internal/auth/reset.go
  internal/db/migrations/076_password_reset_tokens.sql
  internal/db/store_password_policy.go
  internal/models/password_policy.go
  internal/notifications/email.go
  internal/notifications/templates/password_reset_request.html
  internal/notifications/templates/password_reset_success.html
  web/src/App.tsx
  web/src/pages/PasswordReset.tsx
Due: go-fmt, go-vet, biome

Fix biome linter errors in frontend code
  web/src/App.tsx
  web/src/pages/PasswordReset.tsx
Due: biome

Fix duplicate migration version number
  internal/db/migrations/086_password_reset_tokens.sql
Due: none

Implement password reset for non-OIDC users (#137)
  internal/api/handlers/password_reset.go
  internal/api/routes.go
  internal/auth/reset.go
  internal/db/migrations/086_password_reset_tokens.sql
  internal/db/store_password_policy.go
  internal/models/password_policy.go
  internal/notifications/email.go
  internal/notifications/templates/password_reset_request.html
  internal/notifications/templates/password_reset_success.html
  web/src/App.tsx
  web/src/pages/PasswordReset.tsx
Due: go-fmt, go-vet, biome

Implement email invite system with bulk and resend support
  internal/api/handlers/organizations.go
  internal/db/migrations/076_invite_enhancements.sql
  internal/db/store.go
  internal/invites/invite.go
  internal/notifications/email.go
  internal/notifications/templates/invitation.html
  web/src/hooks/useOrganizations.ts
  web/src/lib/api.ts
  web/src/pages/UserManagement.tsx
Due: go-fmt, go-vet, biome

Fix CI failures for email invite system
  internal/db/migrations/077_invite_enhancements.sql
  web/src/pages/UserManagement.tsx
Due: biome

Rename invite migration to version 087
  internal/db/migrations/087_invite_enhancements.sql
Due: none

Implement email invite system with bulk and resend support (#138)
  internal/api/handlers/organizations.go
  internal/db/migrations/087_invite_enhancements.sql
  internal/db/store.go
  internal/invites/invite.go
  internal/notifications/email.go
  internal/notifications/templates/invitation.html
  web/src/hooks/useOrganizations.ts
  web/src/lib/api.ts
  web/src/pages/UserManagement.tsx
Due: go-fmt, go-vet, biome

Implement built-in documentation system
  docs/agent-deployment.md
  docs/api-reference.md
  docs/configuration.md
  docs/getting-started.md
  docs/installation.md
  docs/troubleshooting.md
  internal/api/handlers/docs.go
  internal/api/routes.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/pt.json
  web/src/pages/Agents.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/Documentation.tsx
  web/src/pages/Repositories.tsx
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Fix CI lint errors in documentation feature
  internal/api/handlers/docs.go
  web/src/App.tsx
  web/src/pages/Documentation.tsx
Due: go-fmt, go-vet, biome

Fix biome lint configuration for Documentation page
  web/biome.json
  web/src/pages/Documentation.tsx
Due: biome

Apply biome formatting to Documentation.tsx
  web/src/pages/Documentation.tsx
Due: biome

Add built-in documentation system (#139)
  docs/agent-deployment.md
  docs/api-reference.md
  docs/configuration.md
  docs/getting-started.md
  docs/installation.md
  docs/troubleshooting.md
  internal/api/handlers/docs.go
  internal/api/routes.go
  web/biome.json
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/pt.json
  web/src/pages/Agents.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/Documentation.tsx
  web/src/pages/Repositories.tsx
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Implement security headers for hardening
  docs/security-headers.md
  internal/api/handlers/security.go
  internal/api/middleware/security.go
  internal/api/middleware/security_test.go
  internal/api/routes.go
Due: go-fmt, go-vet

Implement security headers for hardening (#140)
  docs/security-headers.md
  internal/api/handlers/security.go
  internal/api/middleware/security.go
  internal/api/middleware/security_test.go
  internal/api/routes.go
Due: go-fmt, go-vet
