Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

go-fmt:
  run: gofmt -w {staged_files}
  stage_fixed: true

go-vet:
  run: go vet ./...

biome:
  run: cd web && npx @biomejs/biome check --write {staged_files}
  stage_fixed: true

Implement file diff viewer between snapshots
  go.mod
  internal/api/handlers/snapshots.go
  internal/backup/diff.go
  web/src/App.tsx
  web/src/components/features/DiffViewer.tsx
  web/src/hooks/useSnapshots.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/FileDiff.tsx
  web/src/pages/SnapshotCompare.tsx
Due: go-fmt, go-vet, biome

Fix Biome linting errors in DiffViewer and FileDiff components
  web/src/components/features/DiffViewer.tsx
  web/src/pages/FileDiff.tsx
Due: biome

Implement file diff viewer between snapshots (#61)
  go.mod
  internal/api/handlers/snapshots.go
  internal/backup/diff.go
  web/src/App.tsx
  web/src/components/features/DiffViewer.tsx
  web/src/hooks/useSnapshots.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/FileDiff.tsx
  web/src/pages/SnapshotCompare.tsx
Due: go-fmt, go-vet, biome

Implement backup calendar UI with month view and scheduling
  internal/api/handlers/backups.go
  web/src/components/features/BackupCalendar.tsx
  web/src/hooks/useBackupCalendar.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Backups.tsx
  web/src/pages/Dashboard.tsx
Due: go-fmt, go-vet, biome

Fix Biome linting errors in BackupCalendar
  web/src/components/features/BackupCalendar.tsx
Due: biome

Fix Backups.tsx formatting for biome
  web/src/pages/Backups.tsx
Due: biome

Implement backup calendar UI with month view and scheduling (#62)
  internal/api/handlers/backups.go
  web/src/components/features/BackupCalendar.tsx
  web/src/hooks/useBackupCalendar.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Backups.tsx
  web/src/pages/Dashboard.tsx
Due: go-fmt, go-vet, biome

Implement power user keyboard shortcuts for efficient navigation
  web/src/components/Layout.tsx
  web/src/components/features/KeyboardShortcutsSettings.tsx
  web/src/components/features/ShortcutHelpModal.tsx
  web/src/hooks/useKeyboardShortcuts.ts
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/pt.json
  web/src/pages/Agents.tsx
  web/src/pages/Repositories.tsx
  web/src/pages/Schedules.tsx
Due: biome

Fix Biome lint and formatting issues
  web/src/components/Layout.tsx
  web/src/components/features/KeyboardShortcutsSettings.tsx
  web/src/components/features/ShortcutHelpModal.tsx
  web/src/hooks/useKeyboardShortcuts.ts
Due: biome

Implement power user keyboard shortcuts (#63)
  web/src/components/Layout.tsx
  web/src/components/features/KeyboardShortcutsSettings.tsx
  web/src/components/features/ShortcutHelpModal.tsx
  web/src/hooks/useKeyboardShortcuts.ts
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/pt.json
  web/src/pages/Agents.tsx
  web/src/pages/Repositories.tsx
  web/src/pages/Schedules.tsx
Due: biome

Implement bulk selection and actions for tables
  web/dist/index.html
  web/src/components/ui/BulkActions.tsx
  web/src/components/ui/BulkOperationProgress.tsx
  web/src/components/ui/BulkSelect.tsx
  web/src/components/ui/ConfirmationModal.tsx
  web/src/hooks/useBulkSelect.ts
  web/src/pages/Agents.tsx
  web/src/pages/Backups.tsx
  web/src/pages/Schedules.tsx
Due: biome

Fix Biome linting errors in bulk selection pages
  web/src/pages/Agents.tsx
  web/src/pages/Backups.tsx
  web/src/pages/Schedules.tsx
Due: biome

Implement bulk selection and actions for tables (#64)
  web/dist/index.html
  web/src/components/ui/BulkActions.tsx
  web/src/components/ui/BulkOperationProgress.tsx
  web/src/components/ui/BulkSelect.tsx
  web/src/components/ui/ConfirmationModal.tsx
  web/src/hooks/useBulkSelect.ts
  web/src/pages/Agents.tsx
  web/src/pages/Backups.tsx
  web/src/pages/Schedules.tsx
Due: biome

Implement export/import functionality for agent and schedule configs
  internal/api/handlers/config_export.go
  internal/api/routes.go
  internal/db/migrations/031_config_templates.sql
  internal/db/store.go
  internal/export/exporter.go
  internal/export/importer.go
  internal/export/types.go
  internal/models/config_template.go
  web/src/App.tsx
  web/src/components/features/ExportImportModal.tsx
  web/src/hooks/useConfigExport.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Agents.tsx
  web/src/pages/Schedules.tsx
  web/src/pages/Templates.tsx
Due: go-fmt, go-vet, biome

Remove unused toTemplateResponse function
  internal/api/handlers/config_export.go
Due: go-fmt, go-vet

Fix Biome linter errors in export/import components
  web/src/components/features/ExportImportModal.tsx
  web/src/hooks/useConfigExport.ts
  web/src/lib/api.ts
  web/src/pages/Schedules.tsx
  web/src/pages/Templates.tsx
Due: biome

Fix duplicate migration version by renaming to 040
  internal/db/migrations/040_config_templates.sql
Due: none

Implement export/import functionality for agent and schedule configs (#65)
  internal/api/handlers/config_export.go
  internal/api/routes.go
  internal/db/migrations/040_config_templates.sql
  internal/db/store.go
  internal/export/exporter.go
  internal/export/importer.go
  internal/export/types.go
  internal/models/config_template.go
  web/src/App.tsx
  web/src/components/features/ExportImportModal.tsx
  web/src/hooks/useConfigExport.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Agents.tsx
  web/src/pages/Schedules.tsx
  web/src/pages/Templates.tsx
Due: go-fmt, go-vet, biome

Implement agent logs UI with real-time streaming
  internal/api/handlers/agent_api.go
  internal/api/handlers/agents.go
  internal/db/migrations/031_agent_logs.sql
  internal/db/store.go
  internal/logs/agent_logs.go
  internal/models/agent_log.go
  web/src/components/features/AgentLogViewer.tsx
  web/src/hooks/useAgents.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/AgentDetails.tsx
Due: go-fmt, go-vet, biome

Fix CI failures: rename migration and fix linting issues
  internal/db/migrations/040_agent_logs.sql
  web/src/components/features/AgentLogViewer.tsx
Due: biome

Path conditions:
  go-fmt: any of: *.go
  go-vet: any of: *.go
  biome: any of: web/**/*.{js,ts,jsx,tsx}
