Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

go-fmt:
  run: gofmt -w {staged_files}
  stage_fixed: true

go-vet:
  run: go vet ./...

biome:
  run: cd web && npx @biomejs/biome check --write {staged_files}
  stage_fixed: true

Update journal with quick install auto-registration entry
  .claude/JOURNAL.md
Due: none

Fix backup execution pipeline: dispatch commands to agent
  cmd/keldris-server/main.go
  docker/Dockerfile.server
  internal/api/handlers/schedules.go
  internal/api/handlers/schedules_test.go
  internal/db/store_recovered.go
  scripts/install-linux.sh
Due: go-fmt, go-vet

Update journal with backup execution pipeline fix
  .claude/JOURNAL.md
Due: none

Fix post-deploy UI issues: agent polling, schedule edit, run feedback
  web/src/hooks/useAgents.ts
  web/src/lib/types.ts
  web/src/pages/Schedules.tsx
Due: biome

Update journal with post-deploy UI fixes entry
  .claude/JOURNAL.md
Due: none

Clean up runtime artifacts and bring inline uninstall to parity
  scripts/install-linux.sh
  scripts/install-macos.sh
  scripts/install-windows.ps1
  scripts/uninstall-linux.sh
  scripts/uninstall-macos.sh
  scripts/uninstall-windows.ps1
Due: none

Add uninstall subcommand to agent binary
  cmd/keldris-agent/main.go
Due: go-fmt, go-vet

Update journal with agent uninstall subcommand entry
  .claude/JOURNAL.md
Due: none

Implement agent-side dry run, fix config path fallback, and improve UI responsiveness
  cmd/keldris-agent/main.go
  internal/agent/client.go
  internal/api/handlers/schedules.go
  internal/config/agent.go
  internal/models/agent_command.go
  web/src/hooks/useAgents.ts
  web/src/hooks/useSchedules.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Onboarding.tsx
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Update journal with dry run, config fix, and UI polish entry
  .claude/JOURNAL.md
Due: none

Update journal with dark mode overhaul, dry run fix, and remote uninstall
  .claude/JOURNAL.md
Due: none

Update journal with exhaustive codebase audit entry
  .claude/JOURNAL.md
Due: none

Fix LicenseTier type to include pro for TierBadge compatibility
  web/src/lib/types.ts
Due: biome

Update journal with Docker build fix and deploy verification
  .claude/JOURNAL.md
Due: none

Wire RBAC permission checks into agents, repositories, schedules, and backups handlers
  internal/api/handlers/agents.go
  internal/api/handlers/agents_test.go
  internal/api/handlers/backups.go
  internal/api/handlers/backups_test.go
  internal/api/handlers/repositories.go
  internal/api/handlers/repositories_test.go
  internal/api/handlers/schedules.go
  internal/api/handlers/schedules_test.go
  internal/api/routes.go
  internal/auth/rbac.go
Due: go-fmt, go-vet

Fix 42 issues from exhaustive codebase audit
  cmd/keldris-agent/main.go
  internal/agent/client.go
  internal/agent/storage.go
  internal/api/handlers/notifications.go
  internal/api/handlers/organizations.go
  internal/api/handlers/postgres.go
  internal/api/handlers/ratelimit.go
  internal/api/handlers/superuser.go
  internal/api/handlers/system_health.go
  internal/api/handlers/trial.go
  internal/api/handlers/usage.go
  internal/api/middleware/audit.go
  internal/auth/session.go
  internal/backup/apps/pihole.go
  internal/backup/docker/logs.go
  internal/backup/scheduler.go
  internal/crypto/keymanager.go
  internal/crypto/keymanager_test.go
  internal/db/store_docker.go
  internal/db/store_docker_logs.go
  internal/dr/runbook.go
  internal/license/license.go
  internal/license/limits.go
  internal/metrics/scheduler.go
  internal/migration/export.go
  internal/migration/import.go
  internal/notifications/rules.go
  internal/notifications/service.go
  internal/reports/scheduler.go
  internal/shutdown/manager.go
  internal/sla/tracker.go
  internal/updates/checker.go
  web/src/hooks/useFavorites.ts
  web/src/hooks/useSavedFilters.ts
Due: go-fmt, go-vet, biome

Fix license test signing key mismatch
  internal/license/license_test.go
Due: go-fmt, go-vet

Fix TestRedactArgs to expect redacted --repo value
  internal/backup/restic_test.go
Due: go-fmt, go-vet

Update journal with 42-issue codebase audit entry
  .claude/JOURNAL.md
Due: none

Update journal with cross-repo 25-issue audit entry
  .claude/JOURNAL.md
Due: none

Fix Biome formatting and lint issues across 34 frontend files
  web/src/components/features/AgentLogViewer.tsx
  web/src/components/features/AirGapIndicator.tsx
  web/src/components/features/BackupScriptsEditor.tsx
  web/src/components/features/ContainerHooksEditor.tsx
  web/src/components/features/DockerRestoreWizard.tsx
  web/src/components/features/ExportImportModal.tsx
  web/src/components/features/GlobalSearchBar.tsx
  web/src/components/features/ImportAgentsWizard.tsx
  web/src/components/features/ImportRepositoryWizard.tsx
  web/src/components/features/MaintenanceCountdown.tsx
  web/src/components/features/MetadataSchemaManager.tsx
  web/src/components/features/NetworkMountSelector.tsx
  web/src/components/features/RegionMapIndicator.tsx
  web/src/components/features/WhatsNewModal.tsx
  web/src/components/ui/Badge.tsx
  web/src/components/ui/Button.tsx
  web/src/components/ui/ConfirmationModal.tsx
  web/src/components/ui/DataTable.tsx
  web/src/components/ui/ErrorMessage.tsx
  web/src/components/ui/Stepper.tsx
  web/src/components/ui/Tabs.tsx
  web/src/hooks/useAgents.ts
  web/src/hooks/useSchedules.ts
  web/src/lib/utils.ts
  web/src/pages/AgentDetails.tsx
  web/src/pages/Backups.tsx
  web/src/pages/Changelog.tsx
  web/src/pages/DRRunbooks.tsx
  web/src/pages/DockerRegistries.tsx
  web/src/pages/Documentation.tsx
  web/src/pages/Onboarding.tsx
  web/src/pages/RateLimits.tsx
  web/src/pages/RepositoryStatsDetail.tsx
  web/src/pages/Schedules.tsx
Due: biome

Add 75 E2E smoke tests covering 17 additional pages
  web/e2e/alerts.spec.ts
  web/e2e/audit-logs.spec.ts
  web/e2e/fixtures/mock-api.ts
  web/e2e/license.spec.ts
  web/e2e/onboarding.spec.ts
  web/e2e/organization-settings.spec.ts
  web/e2e/reports.spec.ts
  web/e2e/restore.spec.ts
  web/e2e/setup.spec.ts
  web/e2e/sso-settings.spec.ts
  web/e2e/stats.spec.ts
  web/e2e/user-management.spec.ts
Due: biome

Fix CI failures: DeleteUser SQL and vitest fetch mock
  internal/db/store.go
  web/src/test/setup.ts
Due: go-fmt, go-vet, biome

Suppress undici unhandled rejection in vitest setup
  web/src/test/setup.ts
Due: biome

Fix Biome lint errors in vitest setup
  web/src/test/setup.ts
Due: biome

Add missing hook mocks to Dashboard test
  web/src/pages/Dashboard.test.tsx
Due: biome

Update journal with 2026-03-14 code audit entry
  .claude/JOURNAL.md
Due: none

Update journal with license-server tests, add lessons learned
  .claude/JOURNAL.md
  tasks/lessons.md
Due: none

Mark code audit as complete in journal
  .claude/JOURNAL.md
Due: none

Fix MigrationHandler type mismatch and wire up routes
  internal/api/handlers/migration.go
  internal/api/routes.go
  internal/migration/export.go
  internal/migration/import.go
Due: go-fmt, go-vet

Implement all backend stubs, wire portal service, harden error handling
  cmd/keldris-portal/main.go
  cmd/keldris-server/main.go
  internal/api/handlers/airgap.go
  internal/api/handlers/docker_restore.go
  internal/api/handlers/komodo_integration.go
  internal/api/handlers/verifications.go
  internal/api/handlers/verifications_test.go
  internal/api/routes.go
  internal/backup/concurrency.go
  internal/backup/scheduler.go
  internal/backup/scheduler_test.go
  internal/db/store_portal.go
  internal/db/store_user_session.go
  internal/models/agent_command.go
  internal/notifications/email.go
  internal/notifications/rules.go
  internal/notifications/templates/rule_notification.html
  internal/portal/handlers/auth.go
Due: go-fmt, go-vet

Implement snapshot comparison stubs, fix dark mode gaps, refactor API hooks
  internal/api/handlers/snapshots.go
  internal/api/handlers/snapshots_test.go
  internal/backup/vms/proxmox.go
  internal/models/agent_command.go
  web/src/components/ChangePasswordForm.tsx
  web/src/components/features/DiffViewer.tsx
  web/src/components/features/GeoReplicationStatusCard.tsx
  web/src/components/features/NetworkMountStatus.tsx
  web/src/hooks/useAirGap.ts
  web/src/hooks/useMigration.ts
  web/src/lib/api.ts
Due: go-fmt, go-vet, biome

Fix Biome quote formatting in useAirGap hook
  web/src/hooks/useAirGap.ts
Due: biome

Implement agent-side handlers for all new command types
  cmd/keldris-agent/main.go
  internal/agent/client.go
Due: go-fmt, go-vet

Tighten audit findings: backup verify, notification rule scoping, dark mode
  internal/api/handlers/database_backup.go
  internal/api/handlers/notification_rules.go
  internal/api/routes.go
  internal/db/notification_rules.go
  internal/notifications/rules.go
  web/src/components/Layout.tsx
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/pt.json
Due: go-fmt, go-vet, biome

Path conditions:
  go-fmt: any of: *.go
  go-vet: any of: *.go
  biome: any of: web/**/*.{js,ts,jsx,tsx}
