Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
    go-vet:
      glob: "*.go"
      run: go vet ./...
    biome:
      glob: "web/**/*.{js,ts,jsx,tsx}"
      run: cd web && npx @biomejs/biome check --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: go test ./...
    lint:
      run: cd web && npx @biomejs/biome check .

Implement white-label branding for Enterprise organizations
  internal/api/handlers/branding.go
  internal/api/routes.go
  internal/branding/branding.go
  internal/db/migrations/076_branding.sql
  internal/db/store_system_settings.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/contexts/BrandingContext.tsx
  web/src/hooks/useBranding.ts
  web/src/index.css
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/BrandingSettings.tsx
Due: go-fmt, go-vet, biome

Fix duplicate migration number
  internal/db/migrations/081_branding.sql
Due: none

Fix Biome linting and formatting errors
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/contexts/BrandingContext.tsx
  web/src/lib/api.ts
  web/src/pages/BrandingSettings.tsx
Due: biome

Implement white-label branding for Enterprise (#131)
  internal/api/handlers/branding.go
  internal/api/routes.go
  internal/branding/branding.go
  internal/db/migrations/081_branding.sql
  internal/db/store_system_settings.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/contexts/BrandingContext.tsx
  web/src/hooks/useBranding.ts
  web/src/index.css
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/BrandingSettings.tsx
Due: go-fmt, go-vet, biome

Implement fully offline/air-gapped operation (Enterprise)
  internal/api/handlers/airgap.go
  internal/api/routes.go
  internal/license/airgap.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/components/features/AirGapIndicator.tsx
  web/src/hooks/useAirGap.ts
  web/src/pages/admin/LicenseManagement.tsx
Due: go-fmt, go-vet, biome

Fix frontend CI lint errors
  web/biome.json
  web/src/App.tsx
  web/src/components/features/AirGapIndicator.tsx
  web/src/pages/admin/LicenseManagement.tsx
Due: biome

Fix biome.json config for biome 1.9.4 compatibility
  web/biome.json
Due: none

Apply biome formatting and import ordering fixes
  web/portal/src/index.css
  web/src/components/Layout.tsx
  web/src/components/features/ContainerHooksEditor.tsx
  web/src/components/features/UpgradePrompt.tsx
  web/src/contexts/BrandingContext.tsx
  web/src/hooks/useSystemSettings.ts
  web/src/lib/api.ts
  web/src/pages/Alerts.tsx
  web/src/pages/DRRunbooks.tsx
  web/src/pages/OrgManagement.tsx
  web/src/pages/SystemSettings.tsx
Due: biome

Fix biome import sorting and formatting issues
  web/portal/src/index.css
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/components/features/ContainerHooksEditor.tsx
  web/src/components/features/UpgradePrompt.tsx
  web/src/contexts/BrandingContext.tsx
  web/src/hooks/useSystemSettings.ts
  web/src/lib/api.ts
  web/src/pages/Alerts.tsx
  web/src/pages/DRRunbooks.tsx
  web/src/pages/OrgManagement.tsx
  web/src/pages/SystemSettings.tsx
Due: biome

Implement fully offline/air-gapped operation (Enterprise) (#132)
  internal/api/handlers/airgap.go
  internal/api/routes.go
  internal/license/airgap.go
  web/biome.json
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/components/features/AirGapIndicator.tsx
  web/src/hooks/useAirGap.ts
  web/src/pages/admin/LicenseManagement.tsx
Due: go-fmt, go-vet, biome

Implement first-time server setup wizard
  internal/api/handlers/server_setup.go
  internal/api/middleware/setup.go
  internal/db/migrations/076_server_setup.sql
  internal/db/store_server_setup.go
  internal/models/server_setup.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useSetup.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/AdminSetup.tsx
  web/src/pages/Setup.tsx
Due: go-fmt, go-vet, biome

Fix CI failures: migration version conflict and Biome linting
  internal/db/migrations/082_server_setup.sql
  web/src/App.tsx
  web/src/lib/api.ts
  web/src/pages/AdminSetup.tsx
  web/src/pages/Setup.tsx
Due: biome

Implement first-time server setup wizard (#133)
  internal/api/handlers/server_setup.go
  internal/api/middleware/setup.go
  internal/db/migrations/082_server_setup.sql
  internal/db/store_server_setup.go
  internal/models/server_setup.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useSetup.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/AdminSetup.tsx
  web/src/pages/Setup.tsx
Due: go-fmt, go-vet, biome

Implement system health overview for admins
  internal/api/handlers/system_health.go
  internal/api/routes.go
  internal/db/migrations/076_system_health_history.sql
  internal/db/store_system_health.go
  web/src/App.tsx
  web/src/hooks/useSystemHealth.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/SystemHealth.tsx
Due: go-fmt, go-vet, biome

Fix migration version conflict with main branch
  internal/db/migrations/083_system_health_history.sql
Due: none

Implement system health overview for admins (#134)
  internal/api/handlers/system_health.go
  internal/api/routes.go
  internal/db/migrations/083_system_health_history.sql
  internal/db/store_system_health.go
  web/src/App.tsx
  web/src/hooks/useSystemHealth.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/SystemHealth.tsx
Due: go-fmt, go-vet, biome

Implement job queue system for managing backups, restores, and verifications
  internal/api/handlers/job_queue.go
  internal/api/routes.go
  internal/db/migrations/076_job_queue.sql
  internal/db/store_job_queue.go
  internal/jobs/queue.go
  internal/models/job_queue.go
Due: go-fmt, go-vet

Rename migration to 077 to avoid conflict with 076_licenses.sql
  internal/db/migrations/077_job_queue.sql
Due: none

Rename migration to 084 to follow main branch sequence
  internal/db/migrations/084_job_queue.sql
Due: none
