Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

go-fmt:
  run: gofmt -w {staged_files}
  stage_fixed: true

go-vet:
  run: go vet ./...

biome:
  run: cd web && npx @biomejs/biome check --write {staged_files}
  stage_fixed: true

Fix Biome formatting issues
  web/src/lib/types.ts
  web/src/pages/Dashboard.tsx
  web/src/pages/Schedules.tsx
Due: biome

Rename migration to avoid version conflict
  internal/db/migrations/050_schedule_priority.sql
Due: none

Implement priority queue management for backups (#86)
  internal/api/handlers/schedules.go
  internal/backup/scheduler.go
  internal/db/migrations/050_schedule_priority.sql
  internal/db/store.go
  internal/models/schedule.go
  web/src/lib/types.ts
  web/src/pages/Dashboard.tsx
  web/src/pages/Schedules.tsx
Due: go-fmt, go-vet, biome

Implement backup concurrency limits with queueing system
  internal/api/handlers/backup_queue.go
  internal/backup/concurrency.go
  internal/backup/scheduler.go
  internal/db/migrations/045_backup_concurrency_limits.sql
  internal/db/store_concurrency.go
  internal/models/agent.go
  internal/models/backup_queue.go
  internal/models/organization.go
  web/src/components/features/BackupQueuePanel.tsx
  web/src/hooks/useBackupQueue.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/AgentDetails.tsx
  web/src/pages/OrganizationSettings.tsx
Due: go-fmt, go-vet, biome

Fix CI failures: rename migration and apply biome formatting
  internal/db/migrations/051_backup_concurrency_limits.sql
  web/src/components/features/BackupQueuePanel.tsx
  web/src/hooks/useBackupQueue.ts
  web/src/lib/api.ts
  web/src/pages/AgentDetails.tsx
  web/src/pages/OrganizationSettings.tsx
Due: biome

Implement backup concurrency limits with queueing system (#87)
  internal/api/handlers/backup_queue.go
  internal/backup/concurrency.go
  internal/backup/scheduler.go
  internal/db/migrations/051_backup_concurrency_limits.sql
  internal/db/store_concurrency.go
  internal/models/agent.go
  internal/models/backup_queue.go
  internal/models/organization.go
  web/src/components/features/BackupQueuePanel.tsx
  web/src/hooks/useBackupQueue.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/AgentDetails.tsx
  web/src/pages/OrganizationSettings.tsx
Due: go-fmt, go-vet, biome

Implement storage tiering with hot/warm/cold/archive lifecycle
  internal/api/handlers/storage_tiers.go
  internal/api/routes.go
  internal/backup/tiering.go
  internal/db/migrations/045_storage_tiers.sql
  internal/db/store.go
  internal/models/storage_tier.go
  web/src/components/StorageTierBadge.tsx
  web/src/lib/types.ts
Due: go-fmt, go-vet, biome

Fix CI failures: rename migration and format frontend files
  internal/db/migrations/052_storage_tiers.sql
  web/src/components/StorageTierBadge.tsx
  web/src/lib/types.ts
Due: biome

Fix types.ts: restore main branch types and add storage tiering types
  web/src/lib/types.ts
Due: biome

Implement storage tiering with hot/warm/cold/archive lifecycle (#88)
  internal/api/handlers/storage_tiers.go
  internal/api/routes.go
  internal/backup/tiering.go
  internal/db/migrations/052_storage_tiers.sql
  internal/db/store.go
  internal/models/storage_tier.go
  web/src/components/StorageTierBadge.tsx
  web/src/lib/types.ts
Due: go-fmt, go-vet, biome

Implement auto-delete snapshots with compliance retention
  internal/api/handlers/lifecycle_policies.go
  internal/api/routes.go
  internal/db/migrations/045_lifecycle_policies.sql
  internal/db/store.go
  internal/lifecycle/lifecycle.go
  internal/models/lifecycle_policy.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useLifecyclePolicies.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/LifecyclePolicies.tsx
Due: go-fmt, go-vet, biome

Fix CI failures: migration version conflict and biome lint errors
  internal/db/migrations/053_lifecycle_policies.sql
  web/src/lib/api.ts
  web/src/pages/LifecyclePolicies.tsx
Due: biome

Implement auto-delete snapshots with compliance retention (#89)
  internal/api/handlers/lifecycle_policies.go
  internal/api/routes.go
  internal/db/migrations/053_lifecycle_policies.sql
  internal/db/store.go
  internal/lifecycle/lifecycle.go
  internal/models/lifecycle_policy.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useLifecyclePolicies.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/LifecyclePolicies.tsx
Due: go-fmt, go-vet, biome

Implement user-defined metadata fields for agents, repositories, and schedules
  internal/api/handlers/metadata.go
  internal/db/migrations/045_entity_metadata.sql
  internal/db/store.go
  internal/db/store_metadata.go
  internal/metadata/schema.go
  internal/models/agent.go
  internal/models/repository.go
  internal/models/schedule.go
  web/src/components/features/MetadataEditor.tsx
  web/src/components/features/MetadataSchemaManager.tsx
  web/src/hooks/useMetadata.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: go-fmt, go-vet, biome

Fix CI failures for metadata feature
  internal/db/migrations/050_entity_metadata.sql
  web/src/components/features/MetadataEditor.tsx
  web/src/components/features/MetadataSchemaManager.tsx
  web/src/hooks/useMetadata.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: biome

Fix biome formatting for JSX elements
  web/src/components/features/MetadataEditor.tsx
  web/src/components/features/MetadataSchemaManager.tsx
Due: biome

Fix CI: rename migration 050->054, add missing API exports
  internal/db/migrations/054_entity_metadata.sql
  web/src/lib/api.ts
Due: biome

Fix biome lint and format errors in api.ts
  web/src/lib/api.ts
Due: biome

Implement user-defined metadata fields (#90)
  internal/api/handlers/metadata.go
  internal/db/migrations/054_entity_metadata.sql
  internal/db/store.go
  internal/db/store_metadata.go
  internal/metadata/schema.go
  internal/models/agent.go
  internal/models/repository.go
  internal/models/schedule.go
  web/src/components/features/MetadataEditor.tsx
  web/src/components/features/MetadataSchemaManager.tsx
  web/src/hooks/useMetadata.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
Due: go-fmt, go-vet, biome

Implement save and share dashboard filters
  internal/api/handlers/filters.go
  internal/api/routes.go
  internal/db/migrations/045_saved_filters.sql
  internal/db/store.go
  internal/models/filter.go
  web/src/components/features/SaveFilterButton.tsx
  web/src/components/features/SavedFiltersDropdown.tsx
  web/src/hooks/useSavedFilters.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Alerts.tsx
Due: go-fmt, go-vet, biome

Path conditions:
  go-fmt: any of: *.go
  go-vet: any of: *.go
  biome: any of: web/**/*.{js,ts,jsx,tsx}
