Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
    go-vet:
      glob: "*.go"
      run: go vet ./...
    biome:
      glob: "web/**/*.{js,ts,jsx,tsx}"
      run: cd web && npx @biomejs/biome check --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: go test ./...
    lint:
      run: cd web && npx @biomejs/biome check .

Add SSRF protection for webhook URLs (#224)
  internal/api/handlers/notifications.go
  internal/api/routes.go
  internal/notifications/service.go
  internal/notifications/service_test.go
  internal/notifications/url_validator.go
  internal/notifications/url_validator_test.go
  internal/notifications/webhook.go
  internal/notifications/webhook_test.go
Due: go-fmt, go-vet

Add query string redaction to prevent sensitive data in logs
  internal/api/middleware/logger.go
  internal/api/middleware/logger_test.go
Due: go-fmt, go-vet

Add query string redaction to prevent sensitive data in logs (#225)
  internal/api/middleware/logger.go
  internal/api/middleware/logger_test.go
Due: go-fmt, go-vet

Add comprehensive security documentation
  README.md
  docs/production-security.md
  docs/security-checklist.md
Due: none

Add comprehensive security documentation (#226)
  README.md
  docs/production-security.md
  docs/security-checklist.md
Due: none

Add Teams and Discord to notification channel validation
  internal/api/handlers/notifications.go
Due: go-fmt, go-vet

Add Teams and Discord to notification channel validation (#227)
  internal/api/handlers/notifications.go
Due: go-fmt, go-vet

Fix missing ON DELETE clause in offline_licenses foreign key
  internal/db/migrations/034_fix_offline_licenses_fk.sql
Due: none

Fix missing ON DELETE clause in offline_licenses foreign key (#228)
  internal/db/migrations/034_fix_offline_licenses_fk.sql
Due: none

Add feature gates to protected API routes
  internal/api/routes.go
Due: go-fmt, go-vet

Add feature gates to protected API routes (#229)
  internal/api/routes.go
Due: go-fmt, go-vet

Add Docker Backup API and UI
  internal/api/handlers/docker_backup.go
  internal/api/handlers/docker_backup_test.go
  internal/api/routes.go
  internal/db/store.go
  internal/models/docker_backup.go
  web/src/App.tsx
  web/src/hooks/useDockerBackup.test.ts
  web/src/hooks/useDockerBackup.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/pt.json
  web/src/pages/DockerBackup.test.tsx
  web/src/pages/DockerBackup.tsx
Due: go-fmt, go-vet, biome

Add Docker Backup API and UI (#230)
  internal/api/handlers/docker_backup.go
  internal/api/handlers/docker_backup_test.go
  internal/api/routes.go
  internal/db/store.go
  internal/models/docker_backup.go
  web/src/App.tsx
  web/src/hooks/useDockerBackup.test.ts
  web/src/hooks/useDockerBackup.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/pt.json
  web/src/pages/DockerBackup.test.tsx
  web/src/pages/DockerBackup.tsx
Due: go-fmt, go-vet, biome

Add comprehensive test coverage for air-gap and branding features
  internal/api/handlers/airgap_test.go
  web/src/components/features/AgentDownloads.test.tsx
  web/src/hooks/useAirGap.test.ts
  web/src/hooks/useBranding.test.ts
  web/src/pages/AirGapLicense.test.tsx
  web/src/pages/Branding.test.tsx
Due: go-fmt, go-vet, biome

Fix Biome formatting in test files
  web/src/hooks/useBranding.test.ts
  web/src/pages/Branding.test.tsx
Due: biome

Add comprehensive test coverage for air-gap and branding features (#231)
  internal/api/handlers/airgap_test.go
  web/src/components/features/AgentDownloads.test.tsx
  web/src/hooks/useAirGap.test.ts
  web/src/hooks/useBranding.test.ts
  web/src/pages/AirGapLicense.test.tsx
  web/src/pages/Branding.test.tsx
Due: go-fmt, go-vet, biome

Add Badge UI component
  web/src/components/ui/Badge.test.tsx
  web/src/components/ui/Badge.tsx
  web/src/components/ui/index.ts
Due: biome

Fix Biome formatting in Badge component
  web/src/components/ui/Badge.tsx
Due: biome

Add Badge UI component (#232)
  web/src/components/ui/Badge.test.tsx
  web/src/components/ui/Badge.tsx
  web/src/components/ui/index.ts
Due: biome

Update Go version references from 1.24+ to 1.25.7+
  README.md
  docs/production-security.md
Due: none

Update Go version references from 1.24+ to 1.25.7+ (#233)
  README.md
  docs/production-security.md
Due: none
