Repository MacJediWizard/keldris: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-vet, biome

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true
    go-vet:
      glob: "*.go"
      run: go vet ./...
    biome:
      glob: "web/**/*.{js,ts,jsx,tsx}"
      run: cd web && npx @biomejs/biome check --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: go test ./...
    lint:
      run: cd web && npx @biomejs/biome check .

Fix biome linter and formatting issues
  web/src/components/features/SaveFilterButton.tsx
  web/src/components/features/SavedFiltersDropdown.tsx
  web/src/hooks/useSavedFilters.ts
  web/src/lib/api.ts
  web/src/pages/Alerts.tsx
Due: biome

Rename saved_filters migration to 055 to avoid version conflict
  internal/db/migrations/055_saved_filters.sql
Due: none

Add save and share dashboard filters (#91)
  internal/api/handlers/filters.go
  internal/api/routes.go
  internal/db/migrations/055_saved_filters.sql
  internal/db/store.go
  internal/models/filter.go
  web/src/components/features/SaveFilterButton.tsx
  web/src/components/features/SavedFiltersDropdown.tsx
  web/src/hooks/useSavedFilters.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/Alerts.tsx
Due: go-fmt, go-vet, biome

Implement multi-channel notification support (Slack, Teams, Discord, PagerDuty, Webhooks)
  internal/api/handlers/notifications.go
  internal/models/notification.go
  internal/notifications/discord.go
  internal/notifications/pagerduty.go
  internal/notifications/service.go
  internal/notifications/slack.go
  internal/notifications/teams.go
  internal/notifications/webhook.go
Due: go-fmt, go-vet

Implement multi-channel notification support (Slack, Teams, Discord, PagerDuty, Webhooks) (#92)
  internal/api/handlers/notifications.go
  internal/models/notification.go
  internal/notifications/discord.go
  internal/notifications/pagerduty.go
  internal/notifications/service.go
  internal/notifications/slack.go
  internal/notifications/teams.go
  internal/notifications/webhook.go
Due: go-fmt, go-vet

Implement notification rules engine for escalation and event handling (#73)
  internal/api/handlers/notification_rules.go
  internal/api/routes.go
  internal/db/migrations/045_notification_rules.sql
  internal/db/notification_rules.go
  internal/models/notification_rule.go
  internal/notifications/rules.go
  web/src/App.tsx
  web/src/hooks/useNotificationRules.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/locales/en.json
  web/src/pages/NotificationRules.tsx
Due: go-fmt, go-vet, biome

Fix Biome linting errors in notification rules
  web/src/hooks/useNotificationRules.ts
  web/src/lib/api.ts
  web/src/pages/NotificationRules.tsx
Due: biome

Fix migration version conflict
  internal/db/migrations/046_notification_rules.sql
Due: none

Fix migration version conflict (046 -> 047)
  internal/db/migrations/047_notification_rules.sql
Due: none

Fix migration version conflict (047 -> 056)
  internal/db/migrations/056_notification_rules.sql
Due: none

Implement notification rules engine for escalation and event handling (#93)
  internal/api/handlers/notification_rules.go
  internal/api/routes.go
  internal/db/migrations/056_notification_rules.sql
  internal/db/notification_rules.go
  internal/models/notification_rule.go
  internal/notifications/rules.go
  web/src/App.tsx
  web/src/hooks/useNotificationRules.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/locales/en.json
  web/src/pages/NotificationRules.tsx
Due: go-fmt, go-vet, biome

Implement downtime tracking and historical outages
  internal/api/handlers/downtime.go
  internal/api/routes.go
  internal/db/migrations/045_downtime_events.sql
  internal/db/store_downtime.go
  internal/models/downtime.go
  internal/monitoring/downtime.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useDowntime.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/pt.json
  web/src/pages/DowntimeHistory.tsx
Due: go-fmt, go-vet, biome

Fix CI failures: rename migration and fix biome lint issues
  internal/db/migrations/057_downtime_events.sql
  web/src/hooks/useDowntime.ts
  web/src/lib/api.ts
  web/src/pages/DowntimeHistory.tsx
Due: biome

Fix import ordering: CreateDR* before CreateDowntime*
  web/src/lib/api.ts
Due: biome

Implement downtime tracking and historical outages (#94)
  internal/api/handlers/downtime.go
  internal/api/routes.go
  internal/db/migrations/057_downtime_events.sql
  internal/db/store_downtime.go
  internal/models/downtime.go
  internal/monitoring/downtime.go
  web/src/App.tsx
  web/src/components/Layout.tsx
  web/src/hooks/useDowntime.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/locales/en.json
  web/src/locales/es.json
  web/src/locales/pt.json
  web/src/pages/DowntimeHistory.tsx
Due: go-fmt, go-vet, biome

Implement SLA tracking and compliance system
  internal/api/handlers/sla.go
  internal/api/routes.go
  internal/db/migrations/045_sla_tracking.sql
  internal/db/store.go
  internal/models/sla.go
  internal/sla/tracker.go
  web/src/App.tsx
  web/src/hooks/useSLA.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/SLA.tsx
Due: go-fmt, go-vet, biome

Fix CI failures: remove duplicate code and fix biome lint
  internal/db/store.go
  web/src/App.tsx
  web/src/hooks/useSLA.ts
  web/src/lib/api.ts
  web/src/pages/SLA.tsx
Due: go-fmt, go-vet, biome

Fix migration version conflict
  internal/db/migrations/058_sla_tracking.sql
Due: none

Implement SLA tracking and compliance system (#95)
  internal/api/handlers/sla.go
  internal/api/routes.go
  internal/db/migrations/058_sla_tracking.sql
  internal/db/store.go
  internal/models/sla.go
  internal/sla/tracker.go
  web/src/App.tsx
  web/src/hooks/useSLA.ts
  web/src/lib/api.ts
  web/src/lib/types.ts
  web/src/pages/SLA.tsx
Due: go-fmt, go-vet, biome

Implement contextual help tooltips throughout UI
  web/src/components/ui/HelpTooltip.tsx
  web/src/lib/help-content.ts
  web/src/pages/Agents.tsx
  web/src/pages/Backups.tsx
  web/src/pages/Dashboard.tsx
  web/src/pages/Schedules.tsx
Due: biome
